.storybook_icon {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;

    .storybook_icon_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: #FFE1E9;

    }

    .storybook_icon_title {
        text-align: center;
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: #21272A;
    }
}