@use '@design-system-rte/core/design-tokens/main.scss' as *;

.side-nav-container {
    height: auto;
    padding: $positive-spacing_0;
    position: relative;
    display: flex;
    align-items: stretch;
    flex: 1;
}

.side-nav-content {
    flex: 1 1 auto;
    min-width: 0;
    overflow-y: auto;
}

.side-nav {
    background-color: var(--background-brand-navigation-default);
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: $positive-spacing_0;
    box-sizing: border-box;
    border-radius: 0;
    transition: min-width 300ms;
    color: var(--content-brand-navigation-default);
    max-height: var(--content-height);

    &.neutral {
        background-color: var(--background-neutral-navigation-default);
        color: var(--content-secondary);
    }
}

.side-nav-header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.side-nav-body {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.side-nav-footer {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}
