@use '@design-system-rte/core/design-tokens/main.scss' as *;

.splitButtonContainer {
    display: inline-flex;
    padding: $positive-spacing_0;
    align-items: center;
    gap: $positive-spacing_0;
    align-self: stretch;

    &[data-size='s'] {
        height: 24px;

        &[data-compact-spacing='true'] {
            height: 20px;
        }
    }

    &[data-size='m'] {
        height: 32px;

        &[data-compact-spacing='true'] {
            height: 24px;
        }
    }

    &[data-size='l'] {
        height: 40px;

        &[data-compact-spacing='true'] {
            height: 28px;
        }
    }

    .splitButtonLeft {
        display: flex;
        border: none;
        padding: $positive-spacing_050 $positive-spacing_150;
        align-items: center;
        gap: $positive-spacing_0;
        align-self: stretch;
        border-radius: $radius-s $radius-none $radius-none $radius-s;
        border-color: var(--border-brand-default);
        background-color: var(--background-brand-default);
        color: var(--content-primary-inverse);

        &[data-size='s'] {
            padding: $positive-spacing_0 $positive-spacing_100;
        }

        &[data-size='l'] {
            padding: $positive-spacing_100 $positive-spacing_150;
        }

        .splitButtonLabel {
            margin: 0;

            &[data-size='s'] {
                @include typography-split-button-s;
            }

            &[data-size='m'] {
                @include typography-split-button-m;
            }

            &[data-size='l'] {
                @include typography-split-button-l;
            }

        }

        &:hover {
            cursor: pointer;
            background-color: var(--background-brand-hover);
        }

        &:active {
            background-color: var(--background-brand-pressed);
        }

        &:disabled {
            background-color: var(--background-disabled);
            color: var(--content-disabled);
            border-top: 1px solid var(--border-disabled);
            border-bottom: 1px solid var(--border-disabled);
            border-left: 1px solid var(--border-disabled);
            cursor: not-allowed;
        }

        &:focus-visible {
            outline: none;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: -8px;
                left: -8px;
                bottom: -8px;
                right: -1px;
                border: 1px solid var(--border-brand-focused);
                pointer-events: none;
                border-radius: $radius-s;
                z-index: 2;
            }
        }

        &[data-appearance='secondary'] {
            border-top: 1px solid var(--border-brand-default);
            border-bottom: 1px solid var(--border-brand-default);
            border-left: 1px solid var(--border-brand-default);
            background-color: var(--background-default);
            color: var(--content-brand-default);

            &:hover {
                cursor: pointer;
                background-color: var(--background-brand-inverse-hover);
            }

            &:active {
                background-color: var(--background-brand-inverse-pressed);
            }

            &:disabled {
                background-color: var(--background-disabled);
                color: var(--content-disabled);
                border-top: 1px solid var(--border-disabled);
                border-bottom: 1px solid var(--border-disabled);
                border-left: 1px solid var(--border-disabled);
                cursor: not-allowed;
            }

        }
    }

    .splitButtonDivider {
        width: 1px;
        height: 100%;
        background-color: var(--content-primary-inverse);

        &[data-appearance='secondary'] {
            background-color: var(--border-brand-default)
        }

        &[data-disabled='true'] {
            background-color: var(--border-disabled);
        }
    }

    .splitButtonRight {
        display: flex;
        border: none;
        padding: $positive-spacing_050 $positive-spacing_150;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        width: 34px;

        border-radius: $radius-none $radius-s $radius-s $radius-none;
        border-color: var(--border-brand-default);
        background-color: var(--background-brand-default);

        color: var(--content-primary-inverse);

        &[data-size='s'] {
            width: 24px;
            padding: $positive-spacing_025 $positive-spacing_100;
        }

        &[data-size='l'] {
            width: 44px;
            padding: $positive-spacing_075 $positive-spacing_200;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--background-brand-hover);

        }

        &:active,
        &[data-active='true'] {
            background-color: var(--background-brand-pressed);
        }

        &:disabled {
            background-color: var(--background-disabled);
            color: var(--content-disabled);
            border-top: 1px solid var(--border-disabled);
            border-bottom: 1px solid var(--border-disabled);
            border-right: 1px solid var(--border-disabled);
            cursor: not-allowed;
        }

        &:focus-visible {
            outline: none;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: -8px;
                left: -1px;
                bottom: -8px;
                right: -8px;
                border: 1px solid var(--border-brand-focused);
                pointer-events: none;
                border-radius: $radius-s;
                z-index: 2;
            }
        }

        &[data-appearance='secondary'] {
            border-top: 1px solid var(--border-brand-default);
            border-bottom: 1px solid var(--border-brand-default);
            border-right: 1px solid var(--border-brand-default);
            background-color: var(--background-default);
            color: var(--content-brand-default);

            &:hover {
                cursor: pointer;
                background-color: var(--background-brand-inverse-hover);
            }

            &:active,
            &[data-active='true'] {
                background-color: var(--background-brand-inverse-pressed);
            }

            &:disabled {
                background-color: var(--background-disabled);
                color: var(--content-disabled);
                border-top: 1px solid var(--border-disabled);
                border-bottom: 1px solid var(--border-disabled);
                border-right: 1px solid var(--border-disabled);
                cursor: not-allowed;
            }

        }

        &[data-size='s'] {
            height: 24px;

            &[data-compact-spacing='true'] {
                height: 20px;
            }
        }

        &[data-size='m'] {
            height: 32px;

            &[data-compact-spacing='true'] {
                height: 24px;
            }
        }

        &[data-size='l'] {
            height: 40px;

            &[data-compact-spacing='true'] {
                height: 28px;
            }
        }

        .splitButtonRightIconContainer {
            display: flex;
            pointer-events: none;
        }
    }
}

.animationSlideFromTop {
    animation: slide-from-top 0.2s ease-in-out;
}

@keyframes slide-from-top {
    from {
        transform: translateY(-10px);
        pointer-events: none;
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}