@use '@design-system-rte/core/design-tokens/main.scss' as *;

.tooltip-trigger {
    position: relative;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    background: var(--background-inverse);
    border-radius: $radius-s;
    padding-block: $positive-spacing_050;
    padding-inline: $positive-spacing_200;
    transition: opacity 150ms ease-out;
    color: var(--content-primary-inverse);
    opacity: 0;
    text-align: center;
    z-index: 1;
    max-width: 160px;
    max-height: 40px;

    .tooltipLabel {
        @include typography-tooltip-label;
        width: fit-content;

        &::after {
            content: '';
            position: absolute;
            border-width: 5px;
            border-style: solid;
        }
    }

    &[data-position='top'] {

        .tooltipLabel {
            &::after {
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: var(--background-inverse) transparent transparent transparent;
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            left: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            left: 75%;
        }
    }

    &[data-position='bottom'] {
        .tooltipLabel {
            &::after {
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: transparent transparent var(--background-inverse) transparent;
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            left: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            left: 75%;
        }
    }

    &[data-position='left'] {
        .tooltipLabel {
            &::after {
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-color: transparent transparent transparent var(--background-inverse);
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            top: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            top: 75%;
        }
    }

    &[data-position='right'] {
        .tooltipLabel {
            &::after {
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-color: transparent var(--background-inverse) transparent transparent;
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            top: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            top: 75%;
        }
    }

    &[data-arrow='false'] {
        .tooltipLabel::after {
            display: none;
        }
    }
}

.tooltip[data-open='true'] {
    opacity: 1;
}