@use '@design-system-rte/core/tokens/main.scss' as *;

.tooltip {
    position: relative;
    display: inline-block;

    .tooltipLabel {
        @include typography-tooltip-label;
        color: var(--content-primary-inverse);
        position: absolute;
        visibility: hidden;
        text-align: center;
        z-index: 1;
        max-width: 160px;
        width: fit-content;
        padding-block: $positive-spacing_050;
        padding-inline: $positive-spacing_200;
        border-radius: $radius-s;
        background: var(--background-inverse);

        &::after {
            content: '';
            position: absolute;
            border-width: 5px;
            border-style: solid;
        }
    }

    &[data-position='top'] {

        .tooltipLabel {
            bottom: 150%;
            left: 50%;
            transform: translateX(-50%);

            &::after {
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: var(--background-inverse) transparent transparent transparent;
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            left: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            left: 75%;
        }
    }

    &[data-position='bottom'] {
        .tooltipLabel {
            top: 150%;
            left: 50%;
            transform: translateX(-50%);

            &::after {
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: transparent transparent var(--background-inverse) transparent;
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            left: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            left: 75%;
        }
    }

    &[data-position='left'] {
        .tooltipLabel {
            top: 50%;
            right: 120%;
            transform: translateY(-50%);

            &::after {
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-color: transparent transparent transparent var(--background-inverse);
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            top: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            top: 75%;
        }
    }

    &[data-position='right'] {
        .tooltipLabel {
            top: 50%;
            left: 120%;
            transform: translateY(-50%);

            &::after {
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-color: transparent var(--background-inverse) transparent transparent;
            }
        }

        &[data-alignment='start'] .tooltipLabel::after {
            top: 25%;
        }

        &[data-alignment='end'] .tooltipLabel::after {
            top: 75%;
        }
    }

    &[data-arrow='false'] {
        .tooltipLabel::after {
            display: none;
        }
    }

    &:hover .tooltipLabel {
        visibility: visible;
    }
}