@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.tooltip-trigger {
    position: relative;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    background: var(--background-inverse);
    border-radius: $radius-s;
    padding-block: $positive-spacing_050;
    padding-inline: $positive-spacing_200;
    transition: opacity 150ms ease-out;
    color: var(--content-primary-inverse);
    opacity: 0;
    text-align: center;
    z-index: $level-1;
    max-height: 40px;

    &[data-overlay-level='high'] {
        z-index: $backdrop + 1;
    }

    .tooltipLabel {
        @include typography-tooltip-label;
        display: block;
        width: fit-content;
        max-height: 40px;
        overflow: hidden;
    }

    &[data-arrow='true']::after {
        content: '';
        position: absolute;
        border-width: 5px;
        border-style: solid;
    }

    &[data-position='top'] {
        &::after {
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-color: var(--background-inverse) transparent transparent transparent;
        }

        &[data-alignment='start']::after {
            left: 25%;
        }

        &[data-alignment='end']::after {
            left: 75%;
        }
    }

    &[data-position='bottom'] {
        &::after {
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-color: transparent transparent var(--background-inverse) transparent;
        }

        &[data-alignment='start']::after {
            left: 25%;
        }

        &[data-alignment='end']::after {
            left: 75%;
        }
    }

    &[data-position='left'] {
        &::after {
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-color: transparent transparent transparent var(--background-inverse);
        }

        &[data-alignment='start']::after {
            top: 25%;
        }

        &[data-alignment='end']::after {
            top: 75%;
        }
    }

    &[data-position='right'] {
        &::after {
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-color: transparent var(--background-inverse) transparent transparent;
        }

        &[data-alignment='start']::after {
            top: 25%;
        }

        &[data-alignment='end']::after {
            top: 75%;
        }
    }
}

.tooltip[data-open='true'] {
    opacity: 1;
}