@use '@design-system-rte/core/design-tokens/main.scss' as *;

.horizontal{
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: $radius-pill;

    &[data-thickness='light'] {
        border-top: 1px solid var(--border-divider);
    }

    &[data-thickness='medium'] {
        border-top: 2px solid var(--border-divider);
    }

    &[data-thickness='bold'] {
        border-top: 4px solid var(--border-divider);
    }

    &[data-color='inverse'] {
        border-top-color: var(--border-inverse);
    }
}

.vertical {
    height: 100%;
    background-color: var(--border-divider);
    margin: 0;
    padding: 0;
    border-radius: $radius-pill;

    &[data-thickness='light'] {
        width: 1px;
    }

    &[data-thickness='medium'] {
        width: 2px;
    }

    &[data-thickness='bold'] {
        width: 4px;
    }

    &[data-color='inverse'] {
        background-color: var(--border-inverse);
    }
}