@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {

  .select.option-wrapper {
    display: flex;
    gap: $positive-spacing_200;
    padding: $positive-spacing_200 0;
    width: 100%;

    .option-header {
      border-radius: $radius-s;
      background: var(--background-disabled);
      padding: $positive-spacing_200;

      p {
        margin: 0;
        @include typography-text-l;
      }
    }

    .option-table {
      padding: 0 $positive-spacing_200;
    }
  }
}
