@use '@design-system-rte/core/design-tokens/main.scss' as *;

.badge {
    position: absolute;
    border-radius: $radius-pill;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease-in-out;
    box-sizing: border-box;

    &.hidden {
        opacity: 0;
    }

    &.type-brand {
        @include elevation-brand-shadow-2;
        background-color: var(--background-brand-default);
        color: var(--content-primary-inverse);
    }

    &.type-neutral {
        @include elevation-neutral-shadow-2;
        background-color: var(--background-neutral-regular-default);
        color: var(--content-secondary);
    }

    &.type-indicator {
        @include elevation-brand-shadow-2;
        background-color: var(--background-danger-default);
        color: var(--content-primary-inverse);
    }

    &.size-xs {
        width: 6px;
        height: 6px;
        box-shadow: none;
        top: -3;
        right: -3;
    }

    &.size-s {
        width: 12px;
        height: 12px;
        top: -6px;
        right: -6px;
    }

    &.size-m {
        @include typography-text-s-bold;
        min-width: 16px;
        width: fit-content;
        height: 16px;
        top: -8px;
        right: -8px;
        padding: $positive-spacing_0 $positive-spacing_025;

        &.count-overflow {
            padding: $positive-spacing_0 $positive-spacing_050;
        }
    }

    &.size-l {
        @include typography-text-l-bold;
        min-width: 24px;
        width: fit-content;
        height: 24px;
        top: -12px;
        right: -12px;
        padding: $positive-spacing_0 $positive-spacing_050;

        &.count-overflow {
            padding: $positive-spacing_0 $positive-spacing_075;
        }
    }

    &[data-simple-badge='true'] {
        position: static;
        box-shadow: none;
    }

    .badge-text {
        margin: 0;
    }
}