@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/nunito-light-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/nunito-regular-400.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/nunito-semi-bold-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/nunito-bold-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/nunito-light-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/nunito-regular-400.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/nunito-semi-bold-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/nunito-bold-700.woff2") format("woff2");
}
.sb-css-grid-container {
  background-color: #f9ce8e;
  outline: 1px dashed #f4922b;
}
.sb-css-grid-container .grid .col {
  font-feature-settings: "liga" off, "clig" off;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #f4922b;
  min-block-size: 100px;
  display: flex;
  gap: 16px;
}
.sb-css-grid-container .grid .col p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  padding: 0 16px;
  margin: auto;
}
@media (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding: 0 32px;
  }
}
.grid[data-gridtype=fixed-narrow] {
  max-width: 864px;
}
.grid[data-gridtype=fixed-wide] {
  max-width: 1296px;
}

.col {
  grid-column: span 1;
}

.col-xxs-1 {
  grid-column: span 1;
}

.col-xxs-2 {
  grid-column: span 2;
}

.col-xxs-3 {
  grid-column: span 3;
}

.col-xxs-4 {
  grid-column: span 4;
}

.col-xxs-5 {
  grid-column: span 5;
}

.col-xxs-6 {
  grid-column: span 6;
}

.col-xxs-7 {
  grid-column: span 7;
}

.col-xxs-8 {
  grid-column: span 8;
}

.col-xxs-9 {
  grid-column: span 9;
}

.col-xxs-10 {
  grid-column: span 10;
}

.col-xxs-11 {
  grid-column: span 11;
}

.col-xxs-12 {
  grid-column: span 12;
}

@media (min-width: 480px) {
  .col-xs-1 {
    grid-column: span 1;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .col-xs-12 {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .col-s-1 {
    grid-column: span 1;
  }
  .col-s-2 {
    grid-column: span 2;
  }
  .col-s-3 {
    grid-column: span 3;
  }
  .col-s-4 {
    grid-column: span 4;
  }
  .col-s-5 {
    grid-column: span 5;
  }
  .col-s-6 {
    grid-column: span 6;
  }
  .col-s-7 {
    grid-column: span 7;
  }
  .col-s-8 {
    grid-column: span 8;
  }
  .col-s-9 {
    grid-column: span 9;
  }
  .col-s-10 {
    grid-column: span 10;
  }
  .col-s-11 {
    grid-column: span 11;
  }
  .col-s-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1024px) {
  .col-m-1 {
    grid-column: span 1;
  }
  .col-m-2 {
    grid-column: span 2;
  }
  .col-m-3 {
    grid-column: span 3;
  }
  .col-m-4 {
    grid-column: span 4;
  }
  .col-m-5 {
    grid-column: span 5;
  }
  .col-m-6 {
    grid-column: span 6;
  }
  .col-m-7 {
    grid-column: span 7;
  }
  .col-m-8 {
    grid-column: span 8;
  }
  .col-m-9 {
    grid-column: span 9;
  }
  .col-m-10 {
    grid-column: span 10;
  }
  .col-m-11 {
    grid-column: span 11;
  }
  .col-m-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1440px) {
  .col-l-1 {
    grid-column: span 1;
  }
  .col-l-2 {
    grid-column: span 2;
  }
  .col-l-3 {
    grid-column: span 3;
  }
  .col-l-4 {
    grid-column: span 4;
  }
  .col-l-5 {
    grid-column: span 5;
  }
  .col-l-6 {
    grid-column: span 6;
  }
  .col-l-7 {
    grid-column: span 7;
  }
  .col-l-8 {
    grid-column: span 8;
  }
  .col-l-9 {
    grid-column: span 9;
  }
  .col-l-10 {
    grid-column: span 10;
  }
  .col-l-11 {
    grid-column: span 11;
  }
  .col-l-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1768px) {
  .col-xl-1 {
    grid-column: span 1;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-xl-12 {
    grid-column: span 12;
  }
}
[data-theme=bleu_iceberg][data-mode=light] {
  --background-default: #ffffff;
  --background-hover: #ebebea;
  --background-neutral-regular-default: #e1e1e0;
  --background-neutral-regular-hover: #c2c1c0;
  --background-neutral-bold-default: #737272;
  --background-neutral-bold-hover: #4c4c4b;
  --background-neutral-navigation-default: #ebebea;
  --background-neutral-navigation-hover: #e1e1e0;
  --background-disabled: #f4f5f4;
  --background-inverse: #201f1f;
  --background-brand-default: #2964a0;
  --background-brand-hover: #225082;
  --background-brand-pressed: #214770;
  --background-brand-selected-default: #2964a0;
  --background-brand-selected-hover: #225082;
  --background-brand-unselected-default: #e6eef8;
  --background-brand-unselected-hover: #c7dbf0;
  --background-brand-inverse-default: #ffffff;
  --background-brand-inverse-hover: #f3f6fc;
  --background-brand-inverse-pressed: #e6eef8;
  --background-brand-navigation-default: #15253c;
  --background-brand-navigation-hover: #1f3b5b;
  --background-brand-navigation-pressed: #225082;
  --background-danger-default: #de2048;
  --background-danger-hover: #c81640;
  --background-danger-pressed: #9d1439;
  --background-info-default: #1465fc;
  --background-warning-default: #ffe500;
  --background-success-default: #0b8a4d;
  --border-primary: #737272;
  --border-secondary: #a1a1a0;
  --border-tertiary: #cdcccb;
  --border-divider: #cdcccb;
  --border-disabled: #cdcccb;
  --border-inverse: #ffffff;
  --border-brand-default: #2964a0;
  --border-brand-focused: #1f3b5b;
  --border-brand-navigation-active: #225082;
  --border-brand-navigation-divider: #214770;
  --border-danger: #de2048;
  --border-info: #1465fc;
  --border-warning: #f4922b;
  --border-success: #0b8a4d;
  --content-primary: #201f1f;
  --content-secondary: #3e3e3d;
  --content-tertiary: #737272;
  --content-primary-inverse: #ffffff;
  --content-disabled: #cdcccb;
  --content-brand-default: #2964a0;
  --content-brand-hover: #225082;
  --content-brand-pressed: #214770;
  --content-brand-navigation-default: #e6eef8;
  --content-brand-navigation-hover: #f3f6fc;
  --content-brand-navigation-disabled: #225082;
  --content-link-default: #2b86ff;
  --content-link-hover: #1465fc;
  --content-link-pressed: #0d4fea;
  --content-link-visited-default: #7d5a9f;
  --content-link-visited-hover: #674883;
  --content-link-visited-pressed: #563c6c;
  --content-danger-default: #de2048;
  --content-danger-hover: #c81640;
  --content-danger-inverse: #ffffff;
  --content-success-default: #0b8a4d;
  --content-success-hover: #0e6d40;
  --content-info-default: #1465fc;
  --content-info-hover: #0d4fea;
  --content-decorative: #201f1f;
  --brand-navigation-divider: #214770;
  --brand-navigation-divider-2: #214770;
  --brand-navigation-divider-3: #214770;
  --brand-navigation-divider-4: #214770;
  --chart-brand: #397ebe;
  --chart-neutral: #acacab;
  --chart-category-1: #397ebe;
  --chart-category-2: #ff2c74;
  --chart-category-3: #7d5a9f;
  --chart-category-4: #4dba97;
  --chart-category-5: #233857;
  --chart-category-6: #ed6e13;
  --chart-category-7: #73636c;
  --chart-category-8: #639cad;
  --chart-bleu-iceberg: #e6eef8;
  --chart-bleu-iceberg-bold: #397ebe;
  --chart-vert-foret: #d7f4e6;
  --chart-vert-foret-bold: #4dba97;
  --chart-violet: #d2c3e4;
  --chart-violet-bold: #7d5a9f;
  --chart-bleu-rte: #e0f5fe;
  --chart-bleu-rte-bold: #00a6d9;
  --chart-bleu-digital: #d8ebff;
  --chart-bleu-digital-bold: #2b86ff;
  --chart-marine: #e7edf7;
  --chart-marine-bold: #2f5d9a;
  --chart-bleu-petrole: #deecef;
  --chart-bleu-petrole-bold: #478093;
  --chart-bleu-cyan: #d1f9fc;
  --chart-bleu-cyan-bold: #0fb3cb;
  --chart-vert: #c7fff4;
  --chart-vert-bold: #04c8b1;
  --chart-vert-indications: #e6f2a4;
  --chart-vert-indications-bold: #bed942;
  --chart-vert-digital: #d9ffec;
  --chart-vert-digital-bold: #3cec96;
  --chart-jaune: #faffc1;
  --chart-jaune-bold: #ffe500;
  --chart-jaune-ocre: #faefc7;
  --chart-jaune-ocre-bold: #ebb53d;
  --chart-jaune-indications: #fce7c9;
  --chart-jaune-indications-bold: #f4922b;
  --chart-saumon: #fde8e3;
  --chart-saumon-bold: #ec775c;
  --chart-rose-digital: #ffccd1;
  --chart-rose-digital-bold: #f93a58;
  --chart-fuschia: #ffe1e9;
  --chart-fuschia-bold: #ff2c74;
  --chart-rouge-indications: #fdced4;
  --chart-rouge-indications-bold: #f14662;
  --chart-greyscale: #ebebea;
  --chart-greyscale-bold: #7f7e7e;
  --chart-taupe: #e7e3e6;
  --chart-taupe-bold: #8a7883;
  --decorative-neutral: #ebebea;
  --decorative-bleu-iceberg: #c7dbf0;
  --decorative-vert-foret: #d7f4e6;
  --decorative-violet: #e6def0;
  --decorative-bleu-rte: #b9edfe;
  --decorative-bleu-digital: #baddff;
  --decorative-marine: #e7edf7;
  --decorative-bleu-petrole: #c1dae0;
  --decorative-bleu-cyan: #a9f2f8;
  --decorative-vert: #90ffe8;
  --decorative-vert-indications: #e6f2a4;
  --decorative-vert-digital: #b5fdd9;
  --decorative-jaune: #faffc1;
  --decorative-jaune-ocre: #f5de93;
  --decorative-jaune-indications: #f9ce8e;
  --decorative-saumon: #f9b7a8;
  --decorative-rose-digital: #ffccd1;
  --decorative-fuschia: #ffc8d8;
  --decorative-rouge-indication: #ffe4e6;
  --decorative-taupe: #e7e3e6;
  --elevation-surface-inner-shadow: rgba(0, 0, 0, 0);
  --elevation-surface-shadow-1: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-2: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-3: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-4: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-5: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-6: rgba(255, 255, 255, 0);
  --elevation-shadow-ambient: rgba(0, 0, 0, 0.12);
  --elevation-shadow-ambient-darker: rgba(0, 0, 0, 0.2);
  --elevation-shadow-ambient-brand: rgba(0, 0, 0, 0.25);
  --elevation-shadow-key: rgba(0, 0, 0, 0.14);
  --elevation-shadow-key-darker: rgba(0, 0, 0, 0.24);
  --elevation-shadow-key-brand: rgba(0, 0, 0, 0.31);
  --brand-navigation-divider-5: #214770;
  --brand-navigation-divider-6: #214770;
  --brand-navigation-divider-7: #214770;
  --background-brand-hover-opacity-20: rgba(34, 80, 130, 0.2);
  --background-danger-hover-opacity-20: rgba(200, 22, 64, 0.2);
  --background-hover-opacity-50: rgba(235, 235, 234, 0.5);
}

[data-theme=bleu_iceberg][data-mode=dark] {
  --background-default: #201f1f;
  --background-hover: #3e3e3d;
  --background-neutral-regular-default: #595958;
  --background-neutral-regular-hover: #7f7e7e;
  --background-neutral-bold-default: #cdcccb;
  --background-neutral-bold-hover: #ebebea;
  --background-neutral-navigation-default: #ebebea;
  --background-neutral-navigation-hover: #e1e1e0;
  --background-disabled: #3e3e3d;
  --background-inverse: #ffffff;
  --background-brand-default: #96bde3;
  --background-brand-hover: #c7dbf0;
  --background-brand-pressed: #e6eef8;
  --background-brand-selected-default: #96bde3;
  --background-brand-selected-hover: #c7dbf0;
  --background-brand-unselected-default: #225082;
  --background-brand-unselected-hover: #2964a0;
  --background-brand-inverse-default: #201f1f;
  --background-brand-inverse-hover: #225082;
  --background-brand-inverse-pressed: #2964a0;
  --background-brand-navigation-default: #15253c;
  --background-brand-navigation-hover: #1f3b5b;
  --background-brand-navigation-pressed: #225082;
  --background-danger-default: #f14662;
  --background-danger-hover: #f97385;
  --background-danger-pressed: #fca5af;
  --background-info-default: #53aaff;
  --background-warning-default: #ffe500;
  --background-success-default: #3cec96;
  --border-primary: #a1a1a0;
  --border-secondary: #737272;
  --border-tertiary: #3e3e3d;
  --border-divider: #a1a1a0;
  --border-disabled: #595958;
  --border-inverse: #201f1f;
  --border-brand-default: #f9fbfd;
  --border-brand-focused: #f9fbfd;
  --border-brand-navigation-active: #225082;
  --border-brand-navigation-divider: #214770;
  --border-danger: #f14662;
  --border-info: #53aaff;
  --border-warning: #f4922b;
  --border-success: #3cec96;
  --content-primary: #ffffff;
  --content-secondary: #e1e1e0;
  --content-tertiary: #b7b7b6;
  --content-primary-inverse: #201f1f;
  --content-disabled: #595958;
  --content-brand-default: #f9fbfd;
  --content-brand-hover: #f3f6fc;
  --content-brand-pressed: #e6eef8;
  --content-brand-navigation-default: #e6eef8;
  --content-brand-navigation-hover: #f3f6fc;
  --content-brand-navigation-disabled: #225082;
  --content-link-default: #2b86ff;
  --content-link-hover: #53aaff;
  --content-link-pressed: #8ac8ff;
  --content-link-visited-default: #9979bc;
  --content-link-visited-hover: #b89fd3;
  --content-link-visited-pressed: #d2c3e4;
  --content-danger-default: #f14662;
  --content-danger-hover: #f97385;
  --content-danger-inverse: #ffffff;
  --content-success-default: #3cec96;
  --content-success-hover: #12d577;
  --content-info-default: #53aaff;
  --content-info-hover: #2b86ff;
  --content-decorative: #201f1f;
  --brand-navigation-divider: #214770;
  --brand-navigation-divider-2: #214770;
  --brand-navigation-divider-3: #214770;
  --brand-navigation-divider-4: #214770;
  --chart-brand: #397ebe;
  --chart-neutral: #acacab;
  --chart-category-1: #397ebe;
  --chart-category-2: #ff2c74;
  --chart-category-3: #7d5a9f;
  --chart-category-4: #2a9f7d;
  --chart-category-5: #233857;
  --chart-category-6: #ed6e13;
  --chart-category-7: #73636c;
  --chart-category-8: #639cad;
  --chart-bleu-iceberg: #e6eef8;
  --chart-bleu-iceberg-bold: #397ebe;
  --chart-vert-foret: #d7f4e6;
  --chart-vert-foret-bold: #4dba97;
  --chart-violet: #d2c3e4;
  --chart-violet-bold: #7d5a9f;
  --chart-bleu-rte: #e0f5fe;
  --chart-bleu-rte-bold: #00a6d9;
  --chart-bleu-digital: #d8ebff;
  --chart-bleu-digital-bold: #2b86ff;
  --chart-marine: #e7edf7;
  --chart-marine-bold: #3d70ad;
  --chart-bleu-petrole: #deecef;
  --chart-bleu-petrole-bold: #478093;
  --chart-bleu-cyan: #d1f9fc;
  --chart-bleu-cyan-bold: #0fb3cb;
  --chart-vert: #c7fff4;
  --chart-vert-bold: #04c8b1;
  --chart-vert-indications: #e6f2a4;
  --chart-vert-indications-bold: #bed942;
  --chart-vert-digital: #d9ffec;
  --chart-vert-digital-bold: #3cec96;
  --chart-jaune: #faffc1;
  --chart-jaune-bold: #ffe500;
  --chart-jaune-ocre: #faefc7;
  --chart-jaune-ocre-bold: #ebb53d;
  --chart-jaune-indications: #fce7c9;
  --chart-jaune-indications-bold: #f4922b;
  --chart-saumon: #fde8e3;
  --chart-saumon-bold: #ec775c;
  --chart-rose-digital: #ffccd1;
  --chart-rose-digital-bold: #f93a58;
  --chart-fuschia: #ffe1e9;
  --chart-fuschia-bold: #ff2c74;
  --chart-rouge-indications: #ffe4e6;
  --chart-rouge-indications-bold: #f14662;
  --chart-greyscale: #ebebea;
  --chart-greyscale-bold: #7f7e7e;
  --chart-taupe: #e7e3e6;
  --chart-taupe-bold: #8a7883;
  --decorative-neutral: #ebebea;
  --decorative-bleu-iceberg: #c7dbf0;
  --decorative-vert-foret: #d7f4e6;
  --decorative-violet: #e6def0;
  --decorative-bleu-rte: #b9edfe;
  --decorative-bleu-digital: #baddff;
  --decorative-marine: #e7edf7;
  --decorative-bleu-petrole: #c1dae0;
  --decorative-bleu-cyan: #a9f2f8;
  --decorative-vert: #90ffe8;
  --decorative-vert-indications: #e6f2a4;
  --decorative-vert-digital: #b5fdd9;
  --decorative-jaune: #faffc1;
  --decorative-jaune-ocre: #f5de93;
  --decorative-jaune-indications: #f9ce8e;
  --decorative-saumon: #f9b7a8;
  --decorative-rose-digital: #ffccd1;
  --decorative-fuschia: #ffc8d8;
  --decorative-rouge-indication: #ffe4e6;
  --decorative-taupe: #e7e3e6;
  --elevation-surface-inner-shadow: rgba(0, 0, 0, 0.2);
  --elevation-surface-shadow-1: rgba(255, 255, 255, 0.03);
  --elevation-surface-shadow-2: rgba(255, 255, 255, 0.05);
  --elevation-surface-shadow-3: rgba(255, 255, 255, 0.08);
  --elevation-surface-shadow-4: rgba(255, 255, 255, 0.1);
  --elevation-surface-shadow-5: rgba(255, 255, 255, 0.12);
  --elevation-surface-shadow-6: rgba(255, 255, 255, 0.14);
  --elevation-shadow-ambient: rgba(0, 0, 0, 0.2);
  --elevation-shadow-ambient-darker: rgba(0, 0, 0, 0.4);
  --elevation-shadow-ambient-brand: rgba(0, 0, 0, 0.17);
  --elevation-shadow-key: rgba(0, 0, 0, 0.28);
  --elevation-shadow-key-darker: rgba(0, 0, 0, 0.48);
  --elevation-shadow-key-brand: rgba(0, 0, 0, 0.21);
  --brand-navigation-divider-5: #214770;
  --brand-navigation-divider-6: #214770;
  --brand-navigation-divider-7: #214770;
  --background-brand-hover-opacity-20: rgba(199, 219, 240, 0.2);
  --background-danger-hover-opacity-20: rgba(241, 70, 98, 0.2);
  --background-hover-opacity-50: rgba(62, 62, 61, 0.5);
}

[data-theme=violet][data-mode=light] {
  --background-default: #ffffff;
  --background-hover: #ebebea;
  --background-neutral-regular-default: #e1e1e0;
  --background-neutral-regular-hover: #c2c1c0;
  --background-neutral-bold-default: #737272;
  --background-neutral-bold-hover: #4c4c4b;
  --background-neutral-navigation-default: #ebebea;
  --background-neutral-navigation-hover: #e1e1e0;
  --background-disabled: #f4f5f4;
  --background-inverse: #201f1f;
  --background-brand-default: #7d5a9f;
  --background-brand-hover: #674883;
  --background-brand-pressed: #563c6c;
  --background-brand-selected-default: #7d5a9f;
  --background-brand-selected-hover: #674883;
  --background-brand-unselected-default: #f3eff8;
  --background-brand-unselected-hover: #e6def0;
  --background-brand-inverse-default: #ffffff;
  --background-brand-inverse-hover: #f9f7fc;
  --background-brand-inverse-pressed: #f3eff8;
  --background-brand-navigation-default: #2b1a38;
  --background-brand-navigation-hover: #4a355a;
  --background-brand-navigation-pressed: #674883;
  --background-danger-default: #de2048;
  --background-danger-hover: #c81640;
  --background-danger-pressed: #9d1439;
  --background-info-default: #1465fc;
  --background-warning-default: #ffe500;
  --background-success-default: #0b8a4d;
  --border-primary: #737272;
  --border-secondary: #a1a1a0;
  --border-tertiary: #cdcccb;
  --border-divider: #cdcccb;
  --border-disabled: #cdcccb;
  --border-inverse: #ffffff;
  --border-brand-default: #7d5a9f;
  --border-brand-focused: #4a355a;
  --border-brand-navigation-active: #674883;
  --border-brand-navigation-divider: #563c6c;
  --border-danger: #de2048;
  --border-info: #1465fc;
  --border-warning: #f4922b;
  --border-success: #0b8a4d;
  --content-primary: #201f1f;
  --content-secondary: #3e3e3d;
  --content-tertiary: #737272;
  --content-primary-inverse: #ffffff;
  --content-disabled: #cdcccb;
  --content-brand-default: #7d5a9f;
  --content-brand-hover: #674883;
  --content-brand-pressed: #563c6c;
  --content-brand-navigation-default: #f3eff8;
  --content-brand-navigation-hover: #f9f7fc;
  --content-brand-navigation-disabled: #674883;
  --content-link-default: #2b86ff;
  --content-link-hover: #1465fc;
  --content-link-pressed: #0d4fea;
  --content-link-visited-default: #7d5a9f;
  --content-link-visited-hover: #674883;
  --content-link-visited-pressed: #563c6c;
  --content-danger-default: #de2048;
  --content-danger-hover: #c81640;
  --content-danger-inverse: #ffffff;
  --content-success-default: #0b8a4d;
  --content-success-hover: #0e6d40;
  --content-info-default: #1465fc;
  --content-info-hover: #0d4fea;
  --content-decorative: #201f1f;
  --brand-navigation-divider: #563c6c;
  --brand-navigation-divider-2: #563c6c;
  --brand-navigation-divider-3: #563c6c;
  --brand-navigation-divider-4: #563c6c;
  --chart-brand: #7d5a9f;
  --chart-neutral: #acacab;
  --chart-category-1: #397ebe;
  --chart-category-2: #ff2c74;
  --chart-category-3: #7d5a9f;
  --chart-category-4: #2a9f7d;
  --chart-category-5: #233857;
  --chart-category-6: #ed6e13;
  --chart-category-7: #73636c;
  --chart-category-8: #639cad;
  --chart-bleu-iceberg: #e6eef8;
  --chart-bleu-iceberg-bold: #397ebe;
  --chart-vert-foret: #d7f4e6;
  --chart-vert-foret-bold: #4dba97;
  --chart-violet: #d2c3e4;
  --chart-violet-bold: #7d5a9f;
  --chart-bleu-rte: #e0f5fe;
  --chart-bleu-rte-bold: #00a6d9;
  --chart-bleu-digital: #d8ebff;
  --chart-bleu-digital-bold: #2b86ff;
  --chart-marine: #e7edf7;
  --chart-marine-bold: #3d70ad;
  --chart-bleu-petrole: #deecef;
  --chart-bleu-petrole-bold: #478093;
  --chart-bleu-cyan: #d1f9fc;
  --chart-bleu-cyan-bold: #0fb3cb;
  --chart-vert: #c7fff4;
  --chart-vert-bold: #04c8b1;
  --chart-vert-indications: #e6f2a4;
  --chart-vert-indications-bold: #bed942;
  --chart-vert-digital: #d9ffec;
  --chart-vert-digital-bold: #3cec96;
  --chart-jaune: #faffc1;
  --chart-jaune-bold: #ffe500;
  --chart-jaune-ocre: #faefc7;
  --chart-jaune-ocre-bold: #ebb53d;
  --chart-jaune-indications: #fce7c9;
  --chart-jaune-indications-bold: #f4922b;
  --chart-saumon: #fde8e3;
  --chart-saumon-bold: #ec775c;
  --chart-rose-digital: #ffccd1;
  --chart-rose-digital-bold: #f93a58;
  --chart-fuschia: #ffe1e9;
  --chart-fuschia-bold: #ff2c74;
  --chart-rouge-indications: #ffe4e6;
  --chart-rouge-indications-bold: #f14662;
  --chart-greyscale: #ebebea;
  --chart-greyscale-bold: #7f7e7e;
  --chart-taupe: #e7e3e6;
  --chart-taupe-bold: #8a7883;
  --decorative-neutral: #ebebea;
  --decorative-bleu-iceberg: #c7dbf0;
  --decorative-vert-foret: #d7f4e6;
  --decorative-violet: #e6def0;
  --decorative-bleu-rte: #b9edfe;
  --decorative-bleu-digital: #baddff;
  --decorative-marine: #e7edf7;
  --decorative-bleu-petrole: #c1dae0;
  --decorative-bleu-cyan: #a9f2f8;
  --decorative-vert: #90ffe8;
  --decorative-vert-indications: #e6f2a4;
  --decorative-vert-digital: #b5fdd9;
  --decorative-jaune: #faffc1;
  --decorative-jaune-ocre: #f5de93;
  --decorative-jaune-indications: #f9ce8e;
  --decorative-saumon: #f9b7a8;
  --decorative-rose-digital: #ffccd1;
  --decorative-fuschia: #ffc8d8;
  --decorative-rouge-indication: #ffe4e6;
  --decorative-taupe: #e7e3e6;
  --elevation-surface-inner-shadow: rgba(0, 0, 0, 0);
  --elevation-surface-shadow-1: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-2: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-3: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-4: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-5: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-6: rgba(255, 255, 255, 0);
  --elevation-shadow-ambient: rgba(0, 0, 0, 0.12);
  --elevation-shadow-ambient-darker: rgba(0, 0, 0, 0.2);
  --elevation-shadow-ambient-brand: rgba(0, 0, 0, 0.25);
  --elevation-shadow-key: rgba(0, 0, 0, 0.14);
  --elevation-shadow-key-darker: rgba(0, 0, 0, 0.24);
  --elevation-shadow-key-brand: rgba(0, 0, 0, 0.31);
  --brand-navigation-divider-5: #563c6c;
  --brand-navigation-divider-6: #563c6c;
  --brand-navigation-divider-7: #563c6c;
  --background-brand-hover-opacity-20: rgba(103, 72, 131, 0.2);
  --background-danger-hover-opacity-20: rgba(200, 22, 64, 0.2);
  --background-hover-opacity-50: rgba(235, 235, 234, 0.5);
}

[data-theme=violet][data-mode=dark] {
  --background-default: #201f1f;
  --background-hover: #3e3e3d;
  --background-neutral-regular-default: #595958;
  --background-neutral-regular-hover: #7f7e7e;
  --background-neutral-bold-default: #cdcccb;
  --background-neutral-bold-hover: #ebebea;
  --background-neutral-navigation-default: #ebebea;
  --background-neutral-navigation-hover: #e1e1e0;
  --background-disabled: #3e3e3d;
  --background-inverse: #ffffff;
  --background-brand-default: #d2c3e4;
  --background-brand-hover: #e6def0;
  --background-brand-pressed: #f3eff8;
  --background-brand-selected-default: #d2c3e4;
  --background-brand-selected-hover: #e6def0;
  --background-brand-unselected-default: #674883;
  --background-brand-unselected-hover: #7d5a9f;
  --background-brand-inverse-default: #201f1f;
  --background-brand-inverse-hover: #674883;
  --background-brand-inverse-pressed: #7d5a9f;
  --background-brand-navigation-default: #2b1a38;
  --background-brand-navigation-hover: #4a355a;
  --background-brand-navigation-pressed: #674883;
  --background-danger-default: #f14662;
  --background-danger-hover: #f97385;
  --background-danger-pressed: #fca5af;
  --background-info-default: #53aaff;
  --background-warning-default: #ffe500;
  --background-success-default: #3cec96;
  --border-primary: #a1a1a0;
  --border-secondary: #737272;
  --border-tertiary: #3e3e3d;
  --border-divider: #a1a1a0;
  --border-disabled: #595958;
  --border-inverse: #201f1f;
  --border-brand-default: #fcfbfd;
  --border-brand-focused: #fcfbfd;
  --border-brand-navigation-active: #674883;
  --border-brand-navigation-divider: #563c6c;
  --border-danger: #f14662;
  --border-info: #53aaff;
  --border-warning: #f4922b;
  --border-success: #3cec96;
  --content-primary: #ffffff;
  --content-secondary: #e1e1e0;
  --content-tertiary: #b7b7b6;
  --content-primary-inverse: #201f1f;
  --content-disabled: #595958;
  --content-brand-default: #fcfbfd;
  --content-brand-hover: #f9f7fc;
  --content-brand-pressed: #f3eff8;
  --content-brand-navigation-default: #f3eff8;
  --content-brand-navigation-hover: #f9f7fc;
  --content-brand-navigation-disabled: #674883;
  --content-link-default: #2b86ff;
  --content-link-hover: #53aaff;
  --content-link-pressed: #8ac8ff;
  --content-link-visited-default: #9979bc;
  --content-link-visited-hover: #b89fd3;
  --content-link-visited-pressed: #d2c3e4;
  --content-danger-default: #f14662;
  --content-danger-hover: #f97385;
  --content-danger-inverse: #ffffff;
  --content-success-default: #3cec96;
  --content-success-hover: #12d577;
  --content-info-default: #53aaff;
  --content-info-hover: #2b86ff;
  --content-decorative: #201f1f;
  --brand-navigation-divider: #563c6c;
  --brand-navigation-divider-2: #563c6c;
  --brand-navigation-divider-3: #563c6c;
  --brand-navigation-divider-4: #563c6c;
  --chart-brand: #7d5a9f;
  --chart-neutral: #acacab;
  --chart-category-1: #397ebe;
  --chart-category-2: #ff2c74;
  --chart-category-3: #7d5a9f;
  --chart-category-4: #2a9f7d;
  --chart-category-5: #233857;
  --chart-category-6: #ed6e13;
  --chart-category-7: #73636c;
  --chart-category-8: #639cad;
  --chart-bleu-iceberg: #e6eef8;
  --chart-bleu-iceberg-bold: #397ebe;
  --chart-vert-foret: #d7f4e6;
  --chart-vert-foret-bold: #4dba97;
  --chart-violet: #d2c3e4;
  --chart-violet-bold: #7d5a9f;
  --chart-bleu-rte: #e0f5fe;
  --chart-bleu-rte-bold: #00a6d9;
  --chart-bleu-digital: #d8ebff;
  --chart-bleu-digital-bold: #2b86ff;
  --chart-marine: #e7edf7;
  --chart-marine-bold: #3d70ad;
  --chart-bleu-petrole: #deecef;
  --chart-bleu-petrole-bold: #478093;
  --chart-bleu-cyan: #d1f9fc;
  --chart-bleu-cyan-bold: #0fb3cb;
  --chart-vert: #c7fff4;
  --chart-vert-bold: #04c8b1;
  --chart-vert-indications: #e6f2a4;
  --chart-vert-indications-bold: #bed942;
  --chart-vert-digital: #d9ffec;
  --chart-vert-digital-bold: #3cec96;
  --chart-jaune: #faffc1;
  --chart-jaune-bold: #ffe500;
  --chart-jaune-ocre: #faefc7;
  --chart-jaune-ocre-bold: #ebb53d;
  --chart-jaune-indications: #fce7c9;
  --chart-jaune-indications-bold: #f4922b;
  --chart-saumon: #fde8e3;
  --chart-saumon-bold: #ec775c;
  --chart-rose-digital: #ffccd1;
  --chart-rose-digital-bold: #f93a58;
  --chart-fuschia: #ffe1e9;
  --chart-fuschia-bold: #ff2c74;
  --chart-rouge-indications: #ffe4e6;
  --chart-rouge-indications-bold: #f14662;
  --chart-greyscale: #ebebea;
  --chart-greyscale-bold: #7f7e7e;
  --chart-taupe: #e7e3e6;
  --chart-taupe-bold: #8a7883;
  --decorative-neutral: #ebebea;
  --decorative-bleu-iceberg: #c7dbf0;
  --decorative-vert-foret: #d7f4e6;
  --decorative-violet: #e6def0;
  --decorative-bleu-rte: #b9edfe;
  --decorative-bleu-digital: #baddff;
  --decorative-marine: #e7edf7;
  --decorative-bleu-petrole: #c1dae0;
  --decorative-bleu-cyan: #a9f2f8;
  --decorative-vert: #90ffe8;
  --decorative-vert-indications: #e6f2a4;
  --decorative-vert-digital: #b5fdd9;
  --decorative-jaune: #faffc1;
  --decorative-jaune-ocre: #f5de93;
  --decorative-jaune-indications: #f9ce8e;
  --decorative-saumon: #f9b7a8;
  --decorative-rose-digital: #ffccd1;
  --decorative-fuschia: #ffc8d8;
  --decorative-rouge-indication: #ffe4e6;
  --decorative-taupe: #e7e3e6;
  --elevation-surface-inner-shadow: rgba(0, 0, 0, 0.2);
  --elevation-surface-shadow-1: rgba(255, 255, 255, 0.03);
  --elevation-surface-shadow-2: rgba(255, 255, 255, 0.05);
  --elevation-surface-shadow-3: rgba(255, 255, 255, 0.08);
  --elevation-surface-shadow-4: rgba(255, 255, 255, 0.1);
  --elevation-surface-shadow-5: rgba(255, 255, 255, 0.12);
  --elevation-surface-shadow-6: rgba(255, 255, 255, 0.14);
  --elevation-shadow-ambient: rgba(0, 0, 0, 0.2);
  --elevation-shadow-ambient-darker: rgba(0, 0, 0, 0.4);
  --elevation-shadow-ambient-brand: rgba(0, 0, 0, 0.17);
  --elevation-shadow-key: rgba(0, 0, 0, 0.28);
  --elevation-shadow-key-darker: rgba(0, 0, 0, 0.48);
  --elevation-shadow-key-brand: rgba(0, 0, 0, 0.21);
  --brand-navigation-divider-5: #563c6c;
  --brand-navigation-divider-6: #563c6c;
  --brand-navigation-divider-7: #563c6c;
  --background-brand-hover-opacity-20: rgba(230, 222, 240, 0.2);
  --background-danger-hover-opacity-20: rgba(241, 70, 98, 0.2);
  --background-hover-opacity-50: rgba(62, 62, 61, 0.5);
}

[data-theme=vert_foret][data-mode=light] {
  --background-default: #ffffff;
  --background-hover: #ebebea;
  --background-neutral-regular-default: #e1e1e0;
  --background-neutral-regular-hover: #c2c1c0;
  --background-neutral-bold-default: #737272;
  --background-neutral-bold-hover: #4c4c4b;
  --background-neutral-navigation-default: #ebebea;
  --background-neutral-navigation-hover: #e1e1e0;
  --background-disabled: #f4f5f4;
  --background-inverse: #201f1f;
  --background-brand-default: #1b8065;
  --background-brand-hover: #176b57;
  --background-brand-pressed: #145143;
  --background-brand-selected-default: #1b8065;
  --background-brand-selected-hover: #176b57;
  --background-brand-unselected-default: #d7f4e6;
  --background-brand-unselected-hover: #b3e7d1;
  --background-brand-inverse-default: #ffffff;
  --background-brand-inverse-hover: #effaf6;
  --background-brand-inverse-pressed: #d7f4e6;
  --background-brand-navigation-default: #082620;
  --background-brand-navigation-hover: #114338;
  --background-brand-navigation-pressed: #176b57;
  --background-danger-default: #de2048;
  --background-danger-hover: #c81640;
  --background-danger-pressed: #9d1439;
  --background-info-default: #1465fc;
  --background-warning-default: #ffe500;
  --background-success-default: #0b8a4d;
  --border-primary: #737272;
  --border-secondary: #a1a1a0;
  --border-tertiary: #cdcccb;
  --border-divider: #cdcccb;
  --border-disabled: #cdcccb;
  --border-inverse: #ffffff;
  --border-brand-default: #1b8065;
  --border-brand-focused: #114338;
  --border-brand-navigation-active: #176b57;
  --border-brand-navigation-divider: #145143;
  --border-danger: #de2048;
  --border-info: #1465fc;
  --border-warning: #f4922b;
  --border-success: #0b8a4d;
  --content-primary: #201f1f;
  --content-secondary: #3e3e3d;
  --content-tertiary: #737272;
  --content-primary-inverse: #ffffff;
  --content-disabled: #cdcccb;
  --content-brand-default: #1b8065;
  --content-brand-hover: #176b57;
  --content-brand-pressed: #145143;
  --content-brand-navigation-default: #d7f4e6;
  --content-brand-navigation-hover: #effaf6;
  --content-brand-navigation-disabled: #176b57;
  --content-link-default: #2b86ff;
  --content-link-hover: #1465fc;
  --content-link-pressed: #0d4fea;
  --content-link-visited-default: #7d5a9f;
  --content-link-visited-hover: #674883;
  --content-link-visited-pressed: #563c6c;
  --content-danger-default: #de2048;
  --content-danger-hover: #c81640;
  --content-danger-inverse: #ffffff;
  --content-success-default: #0b8a4d;
  --content-success-hover: #0e6d40;
  --content-info-default: #1465fc;
  --content-info-hover: #0d4fea;
  --content-decorative: #201f1f;
  --brand-navigation-divider: #145143;
  --brand-navigation-divider-2: #145143;
  --brand-navigation-divider-3: #145143;
  --brand-navigation-divider-4: #145143;
  --chart-brand: #2a9f7d;
  --chart-neutral: #acacab;
  --chart-category-1: #397ebe;
  --chart-category-2: #ff2c74;
  --chart-category-3: #7d5a9f;
  --chart-category-4: #2a9f7d;
  --chart-category-5: #233857;
  --chart-category-6: #ed6e13;
  --chart-category-7: #73636c;
  --chart-category-8: #639cad;
  --chart-bleu-iceberg: #e6eef8;
  --chart-bleu-iceberg-bold: #397ebe;
  --chart-vert-foret: #d7f4e6;
  --chart-vert-foret-bold: #4dba97;
  --chart-violet: #d2c3e4;
  --chart-violet-bold: #7d5a9f;
  --chart-bleu-rte: #e0f5fe;
  --chart-bleu-rte-bold: #00a6d9;
  --chart-bleu-digital: #d8ebff;
  --chart-bleu-digital-bold: #2b86ff;
  --chart-marine: #e7edf7;
  --chart-marine-bold: #3d70ad;
  --chart-bleu-petrole: #deecef;
  --chart-bleu-petrole-bold: #478093;
  --chart-bleu-cyan: #d1f9fc;
  --chart-bleu-cyan-bold: #0fb3cb;
  --chart-vert: #c7fff4;
  --chart-vert-bold: #04c8b1;
  --chart-vert-indications: #e6f2a4;
  --chart-vert-indications-bold: #bed942;
  --chart-vert-digital: #d9ffec;
  --chart-vert-digital-bold: #3cec96;
  --chart-jaune: #faffc1;
  --chart-jaune-bold: #ffe500;
  --chart-jaune-ocre: #faefc7;
  --chart-jaune-ocre-bold: #ebb53d;
  --chart-jaune-indications: #fce7c9;
  --chart-jaune-indications-bold: #f4922b;
  --chart-saumon: #fde8e3;
  --chart-saumon-bold: #ec775c;
  --chart-rose-digital: #ffccd1;
  --chart-rose-digital-bold: #f93a58;
  --chart-fuschia: #ffe1e9;
  --chart-fuschia-bold: #ff2c74;
  --chart-rouge-indications: #ffe4e6;
  --chart-rouge-indications-bold: #f14662;
  --chart-greyscale: #ebebea;
  --chart-greyscale-bold: #7f7e7e;
  --chart-taupe: #e7e3e6;
  --chart-taupe-bold: #8a7883;
  --decorative-neutral: #ebebea;
  --decorative-bleu-iceberg: #c7dbf0;
  --decorative-vert-foret: #d7f4e6;
  --decorative-violet: #e6def0;
  --decorative-bleu-rte: #b9edfe;
  --decorative-bleu-digital: #baddff;
  --decorative-marine: #e7edf7;
  --decorative-bleu-petrole: #c1dae0;
  --decorative-bleu-cyan: #a9f2f8;
  --decorative-vert: #90ffe8;
  --decorative-vert-indications: #e6f2a4;
  --decorative-vert-digital: #b5fdd9;
  --decorative-jaune: #faffc1;
  --decorative-jaune-ocre: #f5de93;
  --decorative-jaune-indications: #f9ce8e;
  --decorative-saumon: #f9b7a8;
  --decorative-rose-digital: #ffccd1;
  --decorative-fuschia: #ffc8d8;
  --decorative-rouge-indication: #ffe4e6;
  --decorative-taupe: #e7e3e6;
  --elevation-surface-inner-shadow: rgba(0, 0, 0, 0);
  --elevation-surface-shadow-1: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-2: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-3: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-4: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-5: rgba(255, 255, 255, 0);
  --elevation-surface-shadow-6: rgba(255, 255, 255, 0);
  --elevation-shadow-ambient: rgba(0, 0, 0, 0.12);
  --elevation-shadow-ambient-darker: rgba(0, 0, 0, 0.2);
  --elevation-shadow-ambient-brand: rgba(0, 0, 0, 0.25);
  --elevation-shadow-key: rgba(0, 0, 0, 0.14);
  --elevation-shadow-key-darker: rgba(0, 0, 0, 0.24);
  --elevation-shadow-key-brand: rgba(0, 0, 0, 0.31);
  --brand-navigation-divider-5: #145143;
  --brand-navigation-divider-6: #145143;
  --brand-navigation-divider-7: #145143;
  --background-brand-hover-opacity-20: rgba(23, 107, 87, 0.2);
  --background-danger-hover-opacity-20: rgba(200, 22, 64, 0.2);
  --background-hover-opacity-50: rgba(235, 235, 234, 0.5);
}

[data-theme=vert_foret][data-mode=dark] {
  --background-default: #201f1f;
  --background-hover: #3e3e3d;
  --background-neutral-regular-default: #595958;
  --background-neutral-regular-hover: #7f7e7e;
  --background-neutral-bold-default: #cdcccb;
  --background-neutral-bold-hover: #ebebea;
  --background-neutral-navigation-default: #ebebea;
  --background-neutral-navigation-hover: #e1e1e0;
  --background-disabled: #3e3e3d;
  --background-inverse: #ffffff;
  --background-brand-default: #81d4b7;
  --background-brand-hover: #b3e7d1;
  --background-brand-pressed: #d7f4e6;
  --background-brand-selected-default: #81d4b7;
  --background-brand-selected-hover: #b3e7d1;
  --background-brand-unselected-default: #176b57;
  --background-brand-unselected-hover: #1b8065;
  --background-brand-inverse-default: #201f1f;
  --background-brand-inverse-hover: #176b57;
  --background-brand-inverse-pressed: #1b8065;
  --background-brand-navigation-default: #082620;
  --background-brand-navigation-hover: #114338;
  --background-brand-navigation-pressed: #176b57;
  --background-danger-default: #f14662;
  --background-danger-hover: #f97385;
  --background-danger-pressed: #fca5af;
  --background-info-default: #53aaff;
  --background-warning-default: #ffe500;
  --background-success-default: #3cec96;
  --border-primary: #a1a1a0;
  --border-secondary: #737272;
  --border-tertiary: #3e3e3d;
  --border-divider: #a1a1a0;
  --border-disabled: #595958;
  --border-inverse: #201f1f;
  --border-brand-default: #f5fcfa;
  --border-brand-focused: #f5fcfa;
  --border-brand-navigation-active: #176b57;
  --border-brand-navigation-divider: #145143;
  --border-danger: #f14662;
  --border-info: #53aaff;
  --border-warning: #f4922b;
  --border-success: #3cec96;
  --content-primary: #ffffff;
  --content-secondary: #e1e1e0;
  --content-tertiary: #b7b7b6;
  --content-primary-inverse: #201f1f;
  --content-disabled: #595958;
  --content-brand-default: #f5fcfa;
  --content-brand-hover: #effaf6;
  --content-brand-pressed: #d7f4e6;
  --content-brand-navigation-default: #d7f4e6;
  --content-brand-navigation-hover: #effaf6;
  --content-brand-navigation-disabled: #176b57;
  --content-link-default: #2b86ff;
  --content-link-hover: #53aaff;
  --content-link-pressed: #8ac8ff;
  --content-link-visited-default: #9979bc;
  --content-link-visited-hover: #b89fd3;
  --content-link-visited-pressed: #d2c3e4;
  --content-danger-default: #f14662;
  --content-danger-hover: #f97385;
  --content-danger-inverse: #ffffff;
  --content-success-default: #3cec96;
  --content-success-hover: #12d577;
  --content-info-default: #53aaff;
  --content-info-hover: #2b86ff;
  --content-decorative: #201f1f;
  --brand-navigation-divider: #145143;
  --brand-navigation-divider-2: #145143;
  --brand-navigation-divider-3: #145143;
  --brand-navigation-divider-4: #145143;
  --chart-brand: #2a9f7d;
  --chart-neutral: #acacab;
  --chart-category-1: #397ebe;
  --chart-category-2: #ff2c74;
  --chart-category-3: #7d5a9f;
  --chart-category-4: #2a9f7d;
  --chart-category-5: #233857;
  --chart-category-6: #ed6e13;
  --chart-category-7: #73636c;
  --chart-category-8: #639cad;
  --chart-bleu-iceberg: #e6eef8;
  --chart-bleu-iceberg-bold: #397ebe;
  --chart-vert-foret: #d7f4e6;
  --chart-vert-foret-bold: #4dba97;
  --chart-violet: #d2c3e4;
  --chart-violet-bold: #7d5a9f;
  --chart-bleu-rte: #e0f5fe;
  --chart-bleu-rte-bold: #00a6d9;
  --chart-bleu-digital: #d8ebff;
  --chart-bleu-digital-bold: #2b86ff;
  --chart-marine: #e7edf7;
  --chart-marine-bold: #3d70ad;
  --chart-bleu-petrole: #deecef;
  --chart-bleu-petrole-bold: #478093;
  --chart-bleu-cyan: #d1f9fc;
  --chart-bleu-cyan-bold: #0fb3cb;
  --chart-vert: #c7fff4;
  --chart-vert-bold: #04c8b1;
  --chart-vert-indications: #e6f2a4;
  --chart-vert-indications-bold: #bed942;
  --chart-vert-digital: #d9ffec;
  --chart-vert-digital-bold: #3cec96;
  --chart-jaune: #faffc1;
  --chart-jaune-bold: #ffe500;
  --chart-jaune-ocre: #faefc7;
  --chart-jaune-ocre-bold: #ebb53d;
  --chart-jaune-indications: #fce7c9;
  --chart-jaune-indications-bold: #f4922b;
  --chart-saumon: #fde8e3;
  --chart-saumon-bold: #ec775c;
  --chart-rose-digital: #ffccd1;
  --chart-rose-digital-bold: #f93a58;
  --chart-fuschia: #ffe1e9;
  --chart-fuschia-bold: #ff2c74;
  --chart-rouge-indications: #ffe4e6;
  --chart-rouge-indications-bold: #f14662;
  --chart-greyscale: #ebebea;
  --chart-greyscale-bold: #7f7e7e;
  --chart-taupe: #e7e3e6;
  --chart-taupe-bold: #8a7883;
  --decorative-neutral: #ebebea;
  --decorative-bleu-iceberg: #c7dbf0;
  --decorative-vert-foret: #d7f4e6;
  --decorative-violet: #e6def0;
  --decorative-bleu-rte: #b9edfe;
  --decorative-bleu-digital: #baddff;
  --decorative-marine: #e7edf7;
  --decorative-bleu-petrole: #c1dae0;
  --decorative-bleu-cyan: #a9f2f8;
  --decorative-vert: #90ffe8;
  --decorative-vert-indications: #e6f2a4;
  --decorative-vert-digital: #b5fdd9;
  --decorative-jaune: #faffc1;
  --decorative-jaune-ocre: #f5de93;
  --decorative-jaune-indications: #f9ce8e;
  --decorative-saumon: #f9b7a8;
  --decorative-rose-digital: #ffccd1;
  --decorative-fuschia: #ffc8d8;
  --decorative-rouge-indication: #ffe4e6;
  --decorative-taupe: #e7e3e6;
  --elevation-surface-inner-shadow: rgba(0, 0, 0, 0.2);
  --elevation-surface-shadow-1: rgba(255, 255, 255, 0.03);
  --elevation-surface-shadow-2: rgba(255, 255, 255, 0.05);
  --elevation-surface-shadow-3: rgba(255, 255, 255, 0.08);
  --elevation-surface-shadow-4: rgba(255, 255, 255, 0.1);
  --elevation-surface-shadow-5: rgba(255, 255, 255, 0.12);
  --elevation-surface-shadow-6: rgba(255, 255, 255, 0.14);
  --elevation-shadow-ambient: rgba(0, 0, 0, 0.2);
  --elevation-shadow-ambient-darker: rgba(0, 0, 0, 0.4);
  --elevation-shadow-ambient-brand: rgba(0, 0, 0, 0.17);
  --elevation-shadow-key: rgba(0, 0, 0, 0.28);
  --elevation-shadow-key-darker: rgba(0, 0, 0, 0.48);
  --elevation-shadow-key-brand: rgba(0, 0, 0, 0.21);
  --brand-navigation-divider-5: #145143;
  --brand-navigation-divider-6: #145143;
  --brand-navigation-divider-7: #145143;
  --background-brand-hover-opacity-20: rgba(179, 231, 209, 0.2);
  --background-danger-hover-opacity-20: rgba(241, 70, 98, 0.2);
  --background-hover-opacity-50: rgba(62, 62, 61, 0.5);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/nunito-light-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/nunito-regular-400.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/nunito-semi-bold-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/nunito-bold-700.woff2") format("woff2");
}
.storybook_header .storybook_header_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
}
.storybook_header .storybook_header_content .storybook_title {
  font-feature-settings: "liga" off, "clig" off;
  font-style: normal;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}
.storybook_header .storybook_header_content .storybook_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.storybook_header .storybook_header_content .storybook_links .storybook_link_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.storybook_header .storybook_header_content .storybook_links .storybook_link_container .storybook_logo {
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
  border-radius: 999px;
}
.storybook_header .storybook_header_content {
  font-feature-settings: "liga" off, "clig" off;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #21272A;
}
