@use '@design-system-rte/core/design-tokens/main.scss' as *;

.sideNavContainer {
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--color-border-primary);
    padding: $positive-spacing_0;
    position: relative;
    display: flex;
}

.sideNav {
    background-color: var(--background-brand-navigation-default);
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $positive-spacing_0;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: var(--border-radius-0);
    transition: min-width 300ms;
    color: var(--content-brand-navigation-default);
    &.neutral {
        background-color: var(--background-neutral-navigation-default);
        color: var(--content-secondary);
    }
}

.sideNavHeader {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.sideNavBody {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.sideNavFooter {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}