<rte-side-nav
  [headerConfig]="headerConfig"
  [items]="navigationItems()"
  [footerItems]="footerItems()"
  [collapsible]="true"
  [appearance]="'brand'"
  (itemClicked)="handleItemClick($event)"
>
  <div content>
    <rte-tab [options]="tabOptions" [selectedTabId]="selectedTabId()" (change)="onTabChange($event)"></rte-tab>
    <div style="height: 16px">
      <p>Content for {{ selectedTabId() }}</p>
    </div>
    <rte-card>
      <div style="padding: 16px">
        <h4 style="margin: 0 0 12px 0; font-size: 18px; font-weight: 600">Default Card</h4>
        <p style="margin: 0; color: #666; line-height: 1.5">
          This is a default card with medium size. It uses elevation shadow styling.
        </p>
      </div>
    </rte-card>
    <rte-stepper [steps]="allClickableSteps" [activeStepId]="activeStepId()" orientation="horizontal"></rte-stepper>
    <rte-banner
      type="info"
      message="This is an info banner"
      [closable]="true"
      title="Info Banner"
      [isOpen]="isInfoBannerVisible()"
    ></rte-banner>
    <rte-banner
      type="error"
      message="This is an alert banner"
      [closable]="true"
      title="Alert Banner"
      [isOpen]="isAlertBannerVisible()"
    ></rte-banner>
    <button
      rteButton
      [disabled]="false"
      ariaLabel="Home"
      ariaLabelledBy="home"
      buttonType="button"
      (click)="toggleAlertBanner()"
    >
      Toggle alert banner
    </button>
    <button
      rteButton
      [disabled]="false"
      ariaLabel="Home"
      ariaLabelledBy="home"
      buttonType="button"
      (click)="toggleInfoBanner()"
    >
      Toggle info banner
    </button>
    <hr />
    <button rteButton [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button">
      Button
    </button>

    <rte-icon name="home" />

    <hr />

    <rte-split-button label="Split Button" [options]="rteSplitButtonOptions" />

    <hr />

    <rte-icon-button-toggle name="home" [selected]="selected()" (click)="onClick($event)" />

    <hr />

    <span rteTooltip="Tooltip">Tooltip</span>

    <hr />

    <rte-text-input label="Text Input" [value]="inputValue()" (valueChange)="handleInputChange($event)" />
    <h4>The input is : {{ inputValue() }}</h4>
    <hr />
    <rte-chip label="Chip Label" type="single"></rte-chip>
    <hr />

    <p style="display: inline-block; background-color: bisque" rteBadge [rteBadgeCount]="1">A badge host</p>
    <hr />
    <rte-textarea
      label="Enter text"
      labelPosition="top"
      assistiveTextLabel="This is a label"
      assistiveTextAppearance="link"
      assistiveTextLinkLabel="Learn more"
      assistiveTextLink="https://example.com"
      [required]="true"
    />
    <hr />
    <rte-link href="https://example.com" label="Link" [subtle]="false" />

    <p>Divider</p>
    <rte-divider />
    <div style="display: flex; flex-direction: row">
      <p style="margin: 20px">left text</p>
      <rte-divider orientation="vertical" />
      <p style="margin: 20px">middle text</p>
      <rte-divider orientation="vertical" thickness="medium" />
      <p style="margin: 20px">right text</p>
      <rte-divider orientation="vertical" thickness="bold" />
    </div>

    <hr />

    <rte-switch label="Switch" [disabled]="false" [readOnly]="false" [appearance]="'brand'" />
    <rte-switch label="Switch ReadOnly" [disabled]="false" [readOnly]="true" [appearance]="'brand'" [showIcon]="true" />
    <rte-switch
      label="Switch disabled"
      [disabled]="true"
      [readOnly]="false"
      [appearance]="'brand'"
      [showLabel]="true"
      [checked]="true"
    />
    <rte-divider orientation="vertical" thickness="bold"></rte-divider>
    <hr />
    <div style="width: 380px; display: flex; flex-direction: column; gap: 10px">
      <rte-segmented-control
        [options]="segments"
        [selectedSegment]="selectedSegment()"
        (change)="onSegmentSelected($event)"
      />
    </div>
    <hr />
    <rte-breadcrumbs [items]="breadcrumbItems" />
    <hr />
    <div style="margin-top: 100px; display: flex; justify-content: center">
      <button
        rteButton
        buttonType="button"
        rtePopover
        rtePopoverPrimaryButtonLabel="Primary"
        rtePopoverContent="This is the popover content"
        rtePopoverTitle="Popover Title"
      >
        Hover me
      </button>
    </div>
    <rte-divider />
    <div
      rteModal
      [rteModalId]="'rte-modal-1'"
      [rteModalTitle]="'Modal title'"
      [rteModalDescription]="'This is a description for the modal.'"
    >
      <button rteButton rteButtonVariant="primary" rteModalTrigger>Open Modal</button>
      <ng-template #primaryButton>
        <button rteButton rteButtonVariant="primary" (click)="handleModalPrimaryClick()">Continue</button>
      </ng-template>
      <ng-template #secondaryButton>
        <button rteButton rteButtonVariant="neutral" (click)="handleModalSecondaryClick()">Cancel</button>
      </ng-template>
      <rte-divider />
      <div>
        <button rteButton rteButtonVariant="neutral" (click)="toggleToast()">Toggle Toast</button>
      </div>
      <rte-divider />
      <rte-select label="Select an option" [options]="selectOptions" [showResetButton]="true" />
    </div>
    <rte-loader [size]="'medium'" />
  </div>
</rte-side-nav>
