<rte-button
  label="Button"
  variant="primary"
  size="m"
  [disabled]="false"
  icon="home"
  ariaLabel="Home"
  ariaLabelledBy="home"
  buttonType="button"
/>

<rte-icon name="home" />

<hr />

<rte-split-button label="Split Button">
  <rte-button label="Button" variant="primary" size="m" [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button" />
  <rte-button label="Button" variant="primary" size="m" [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button" />
  <rte-button label="Button" variant="primary" size="m" [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button" />
</rte-split-button>

<hr />

<rte-icon-button-toggle name="home" [selected]="selected()" (click)="onClick($event)"/>

<hr />

<span rteTooltip="Tooltip">Tooltip</span>

<hr />

<rte-text-input label="Text Input" [value]="inputValue()" (valueChange)="handleInputChange($event)" />
<h4>The input is : {{inputValue()}}</h4>
<hr />
<rte-chip 
  label="Chip Label"
  type="single"
></rte-chip>
<hr />

<p style="display: inline-block; background-color: bisque;" rteBadge [rteBadgeCount]="1">A badge host</p>
<hr />
<rte-textarea
  label="Enter text"
  labelPosition="top"
  assistiveTextLabel="This is a label"
  assistiveTextAppearance="link"
  assistiveTextLinkLabel="Learn more"
  assistiveTextLink="https://example.com"
  [required]="true"
/>

<hr />

<rte-link
  href="https://example.com"
  label="Link"
  [subtle]="false"
/>

<p> Divider </p>
<rte-divider></rte-divider>
<div style="display: flex; flex-direction: row;">
  <p style="margin: 20px;"> left text </p>
  <rte-divider orientation="vertical"></rte-divider>
  <p style="margin: 20px;"> middle text </p>
  <rte-divider orientation="vertical" thickness="medium"></rte-divider>
  <p style="margin: 20px;"> right text </p>
  <rte-divider orientation="vertical" thickness="bold"></rte-divider>
</div>

<hr />

<rte-switch
  label="Switch"
  [disabled]="false"
  [readOnly]="false"
  [appearance]="'brand'"
></rte-switch>
<rte-switch
  label="Switch ReadOnly"
  [disabled]="false"
  [readOnly]="true"
  [appearance]="'brand'"
  [showIcon]="true"
></rte-switch>
<rte-switch
  label="Switch disabled"
  [disabled]="true"
  [readOnly]="false"
  [appearance]="'brand'"
  [showLabel]="true"
  [checked]="true"
></rte-switch>