<rte-button
  label="Button"
  variant="primary"
  size="m"
  [disabled]="false"
  icon="home"
  ariaLabel="Home"
  ariaLabelledBy="home"
  buttonType="button"
/>

<rte-icon name="home" />

<hr />

<rte-split-button label="Split Button">
  <rte-button label="Button" variant="primary" size="m" [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button" />
  <rte-button label="Button" variant="primary" size="m" [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button" />
  <rte-button label="Button" variant="primary" size="m" [disabled]="false" icon="home" ariaLabel="Home" ariaLabelledBy="home" buttonType="button" />
</rte-split-button>

<hr />

<rte-icon-button-toggle name="home" />

<hr />

<span rteTooltip="Tooltip">Tooltip</span>