@if (shouldDisplayBadge()) {
  <button
    *ngIf="isValidIconName"
    class="rte-icon-button {{ variant() }} size-{{ size() }}"
    rteBadge
    [class.compact-spacing]="compactSpacing()"
    [ngStyle]="customStyle()"
    [disabled]="disabled()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-labelledby]="ariaLabelledBy()"
    [attr.aria-expanded]="ariaExpanded() !== undefined ? ariaExpanded() : null"
    [attr.aria-haspopup]="ariaHaspopup()"
    [attr.tabindex]="tabIndex() !== undefined ? tabIndex() : null"
    [type]="type()"
    [rteBadgeType]="badgeType()!"
    [rteBadgeSize]="badgeSize()!"
    [rteBadgeContent]="size() === 's' ? 'empty' : badgeContent()!"
    [rteBadgeCount]="badgeCount()!"
    [rteBadgeIcon]="badgeIcon()!"
    (click)="onClick($event)"
  >
    <rte-icon [name]="name()" [appearance]="appearance()" [size]="buttonIconSize()" />
  </button>
} @else {
  <button
    *ngIf="isValidIconName"
    class="rte-icon-button {{ variant() }} size-{{ size() }}"
    [class.compact-spacing]="compactSpacing()"
    [ngStyle]="customStyle()"
    [disabled]="disabled()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-labelledby]="ariaLabelledBy()"
    [attr.aria-expanded]="ariaExpanded() !== undefined ? ariaExpanded() : null"
    [attr.aria-haspopup]="ariaHaspopup()"
    [attr.tabindex]="tabIndex() !== undefined ? tabIndex() : null"
    [type]="type()"
    (click)="onClick($event)"
  >
    <rte-icon [name]="name()" [appearance]="appearance()" [size]="buttonIconSize()" />
  </button>
}
