@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {

  .table-wrapper {
    border: 1px solid var(--border-tertiary);
    border-radius: 8px;
    overflow: clip;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      padding: 0;
      margin: 0;

      thead {
        tr {

          border: none;
          border: 1px solid var(--border-tertiary);

          background-color: #EBEBEA;
          text-align: left;

          th {
            @include typography-heading-xs;
            padding: $positive-spacing_075 $positive-spacing_200;
            border: none;
            border-bottom: 1px solid var(--border-tertiary);
          }
        }
      }

      tr {


        &:last-child {
          td {
            border-bottom: 0;
          }
        }

        td {
          border: none;
          border-bottom: 1px solid var(--border-tertiary);
          // padding: $positive-spacing_200;
          padding: 0;

          .item {
            display: flex;
            align-items: center;
            gap: $positive-spacing_050;
            padding: $positive-spacing_200;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      tr:nth-of-type(2n) {
        background-color: transparent;
      }
    }

    .status-available {
      @include typography-text-m-regular;
      color: green;
      gap: $positive-spacing_050;

    }
  }
}