@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.stepperItem {
  display: flex;
  width: 100%;
  flex: 1 0 0;

  .stepButton {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: $positive-spacing_150;
    align-items: center;

    &:focus-visible {

      .stepNumber,
      .stepCompleteIndicator {
        outline: 2px solid var(--border-brand-focused);
        outline-offset: $positive-spacing_050;
      }
    }

    .stepCompleteIndicator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $icon-xl;
      height: $icon-xl;
      border-radius: $radius-pill;
      background-color: var(--background-brand-default);
      border: $width-s solid var(--border-brand-default);
      color: var(--content-primary-inverse);
    }

    .stepNumber {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $icon-xl;
      height: $icon-xl;
      border-radius: $radius-pill;
      border: $width-s solid var(--border-secondary);

      span {
        @include typography-text-l-bold;
        color: var(--content-tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .stepName {
      @include typography-text-s-regular;
      color: var(--content-tertiary);
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
    }
  }

  &:hover {
    &[data-clickable="true"] {
      &[data-active="false"] {

        cursor: pointer;

      }
    }

    &[data-clickable="true"] {
      &[data-active="false"] {

        &[data-completion-state="unvisited"] {

          .stepNumber {
            border-color: var(--border-primary);
          }

          .stepCompleteIndicator {
            background-color: var(--background-brand-hover);
            border: $width-s solid var(--background-brand-hover);
          }
        }

        &[data-completion-state="incomplete"] {

          .stepNumber {
            span {
              background-color: var(--background-brand-hover);
            }
          }
        }

        &[data-completion-state="complete"] {

          .stepCompleteIndicator {
            background-color: var(--background-brand-hover);
            border: $width-s solid var(--background-brand-hover);
          }
        }
      }
    }


  }

  &[data-completion-state="incomplete"] {
    &[data-active="false"] {

      .stepNumber {
        border: $width-s solid var(--border-brand-default);

        span {
          color: var(--content-primary-inverse);
          border: solid $width-s var(--brand-default);
          border-radius: $radius-pill;
          background-color: var(--background-brand-default);
          width: 28px;
          height: 28px;

        }
      }
    }

    .stepName {
      @include typography-text-s-regular;
    }
  }

  &[data-active="true"] {
    .stepNumber {
      border: $width-s solid var(--border-brand-default);

      span {
        color: var(--content-brand-default);
      }
    }

    .stepName {
      @include typography-text-s-regular;
      color: var(--content-primary);
    }
  }

  &[data-orientation="vertical"] {
    flex-direction: row;

    .stepButton {
      flex-direction: row;

      .stepName {
        text-align: left;
      }
    }
  }
}