.sbdocs p, .sbdocs li {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #201F1F;
    letter-spacing: 0;
}

.sbdocs p.light-gray {
    color: #697077;
}

.sbdocs p.no-margin-bottom {
    margin-bottom: 0;
}

.sbdocs p.no-margin-top {
    margin-top: 0;
}

.sbdocs .h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #21272A;
}

.sbdocs .h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -1px;
    border: none;
}

.sbdocs .h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #21272A;
}