@use "@design-system-rte/core/components/grid/grid.stories.scss" as *;
@use "@design-system-rte/core/components/grid/grid.scss" as *;
@use "@design-system-rte/core/design-tokens/main.scss" as *;

@include theme-selector('bleu_iceberg');
@include theme-selector('bleu_iceberg', 'dark');
@include theme-selector('violet');
@include theme-selector('violet', 'dark');
@include theme-selector('vert_foret');
@include theme-selector('vert_foret', 'dark');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}