<div
  class="rte-datepicker"
  rteDropdown
  rteDropdownPosition="bottom"
  rteDropdownAlignment="start"
  [rteDropdownAutoOpen]="false"
  [rteDropdownAutofocus]="true"
  [rteDropdownIsOpen]="isOpen()"
  [rteDropdownWidth]="dropdownWidth()"
  [style.width]="width()"
  (clickedOutside)="onClickedOutside()"
  (closedDropdown)="onClosedDropdown()"
>
  <rte-datepicker-segmented-field
    rteDropdownTrigger
    [id]="id()"
    [hasLabel]="hasLabel()"
    [label]="labelText()"
    [labelPosition]="labelPosition()"
    [required]="required()"
    [showLabelRequirement]="isRequiredOptional() ? showLabelRequirement() : false"
    [hasAssistiveText]="hasAssistiveText()"
    [assistiveTextLabel]="hasAssistiveText() ? assistiveTextLabel() : ''"
    [assistiveAppearance]="isError() ? 'error' : assistiveTextAppearance()"
    [showAssistiveIcon]="showAssistiveIcon()"
    [ariaLabel]="fieldAriaLabel()"
    [ariaLabelledby]="segmentedFieldAriaLabelledby()"
    [ariaRequired]="required()"
    [value]="textValue()"
    [error]="isError()"
    [disabled]="isDisabled()"
    [readOnly]="isReadOnly()"
    [rightIconAriaLabel]="calendarButtonAriaLabel()"
    (valueChange)="onInputValueChange($event)"
    (rightIconClick)="onCalendarIconTriggered($event)"
    (rightIconKeydown)="onCalendarIconTriggered($event)"
    (inputBlur)="onInputBlurred()"
  />

  <rte-dropdown-menu>
    <ng-template rteDropdownMenuBody>
      <rte-datepicker-menu
        [calendarType]="calendarType()"
        [viewDate]="viewDate()"
        [selectedDate]="selectedDate()"
        [pendingDate]="pendingDate()"
        [minDate]="minDate()"
        [maxDate]="maxDate()"
        [disabledDates]="disabledDates()"
        [locale]="locale()"
        [focusSessionId]="menuFocusSessionId()"
        [initialActiveDate]="menuInitialActiveDate()"
        (dismiss)="onDismiss()"
        (dateSelected)="onMenuDateSelected($event)"
        (dateHovered)="onMenuViewDateChanged($event)"
        (dateKeyboardNavigate)="onMenuKeyboardNavigateToDay($event)"
        (calendarTypeChange)="onMenuCalendarTypeChange($event)"
        (cancel)="onCancel()"
        (confirm)="onConfirm()"
      />
    </ng-template>
  </rte-dropdown-menu>
</div>
