@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {
  ul {
    margin: 0 $positive-spacing_300;
    padding: 0;

    li p,
    li {
      @include typography-text-m;
      color: var(--content-primary);
      line-height: 16px;

      .bold {
        @include typography-text-m-bold;
      }
    }

  }
}