@use '../../design-tokens/tokens/public/spacing' as *;
@use '../../design-tokens/tokens/public/layout' as *;

$grid-max-width-narrow: 864px;
$grid-max-width-wide: 1296px;

.grid {
  display: grid;
  grid-template-columns: repeat($column-number-s, 1fr);
  column-gap: $positive-spacing_150;
  padding: 0 $positive-spacing_200;
  margin: auto;

  @media (min-width: $breakpoints-xs) {
    grid-template-columns: repeat($column-number-m, 1fr);
  }

  @media (min-width: $breakpoints-m) {
    grid-template-columns: repeat($column-number-l, 1fr);
    column-gap: $positive-spacing_200;
    padding: 0 $positive-spacing_400;
  }

  &[data-gridtype='fixed-narrow'] {
    max-width: $grid-max-width-narrow;
  }

  &[data-gridtype='fixed-wide'] {
    max-width: $grid-max-width-wide;
  }
}

.col {
  grid-column: span 1;
}

@for $i from 1 through 12 {
  .col-xxs-#{$i} {
    grid-column: span #{$i};
  }
}

@media (min-width: $breakpoints-xs) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@media (min-width: $breakpoints-s) {
  @for $i from 1 through 12 {
    .col-s-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@media (min-width: $breakpoints-m) {
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@media (min-width: $breakpoints-l) {
  @for $i from 1 through 12 {
    .col-l-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@media (min-width: $breakpoints-xl) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      grid-column: span #{$i};
    }
  }
}