@use '@design-system-rte/core/design-tokens/main.scss' as *;

.side-nav-container {
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--color-border-primary);
    padding: $positive-spacing_0;
    position: relative;
    display: flex;
}

.side-nav {
    background-color: var(--background-brand-navigation-default);
    min-height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: $positive-spacing_0;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0;
    transition: min-width 300ms;
    color: var(--content-brand-navigation-default);
    &.neutral {
        background-color: var(--background-neutral-navigation-default);
        color: var(--content-secondary);
    }
}

.side-nav-header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.side-nav-body {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.side-nav-footer {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.side-nav-content {
    flex: 1;
}
