@use 'themes' as *;
@use 'primitives/colors' as *;
@use 'sass:map';

$themes: (
    "bleu_iceberg": $bleu_iceberg,
    "violet": $violet,
    "vert_foret": $vert_foret
);

@mixin extract-custom-properties-from-theme($theme) {
    @each $property, $value in $theme {
      --#{$property}: #{$value};
    }
}

@mixin apply-theme($targetTheme: bleu_iceberg, $mode: light) {

    @debug "DEBUGGER $targetTheme: #{$targetTheme}";
    
    $targetTheme: map.get($themes, $targetTheme, $mode);

    @include extract-custom-properties-from-theme($targetTheme);
}

@mixin theme-selector($targetTheme: violet, $mode: light) {
    $targetTheme: map.get($themes, $targetTheme, $mode);

    // @debug "DEBUGGER $targetTheme: #{$targetTheme}";


    [data-theme="#{$targetTheme}"][data-mode="#{$mode}"] {
        @include extract-custom-properties-from-theme($targetTheme);
    }
}