$ambient-shadow-position-x: 0;
$ambient-shadow-position-y: 0;
$ambient-shadow-blur: 2;
$ambient-shadow-spread: 0;
$ambient-shadow-darker-position-x: 0;
$ambient-shadow-darker-position-y: 0;
$ambient-shadow-darker-blur: 8;
$ambient-shadow-darker-spread: 0;
$inner-shadow-key-position-x: 0;
$inner-shadow-key-position-y: 1;
$inner-shadow-key-blur: 4;
$inner-shadow-key-spread: 0;
$shadow-1-key-position-x: 0;
$shadow-1-key-position-y: 1;
$shadow-1-key-blur: 2;
$shadow-1-key-spread: 0;
$shadow-2-key-position-x: 0;
$shadow-2-key-position-y: 2;
$shadow-2-key-blur: 4;
$shadow-2-key-spread: 0;
$shadow-3-key-position-x: 0;
$shadow-3-key-position-y: 4;
$shadow-3-key-blur: 8;
$shadow-3-key-spread: 0;
$shadow-4-key-position-x: 0;
$shadow-4-key-position-y: 8;
$shadow-4-key-blur: 16;
$shadow-4-key-spread: 0;
$shadow-5-key-position-x: 0;
$shadow-5-key-position-y: 14;
$shadow-5-key-blur: 28;
$shadow-5-key-spread: 0;
$shadow-6-key-position-x: 0;
$shadow-6-key-position-y: 32;
$shadow-6-key-blur: 64;
$shadow-6-key-spread: 0;
