@use 'primitives/colors' as *;

$bleu_iceberg: (
    "light": (
        "content-primary": $greyscale-900,
        "background-default": $core-white,
        "border-primary": $greyscale-600,
        "overlay-50": $core-black_50,
        "overlay-50_inverse": $core-white_50,
        "border-secondary": $greyscale-400,
        "border-tertiary": $greyscale-200,
        "border-disabled": $greyscale-200,
        "border-inverse": $core-white,
        "border-brand_default": $bleu_iceberg-600,
        "border-brand_focused": $bleu_iceberg-900,
        "border-danger": $rouge_indications-600,
        "border-info": $bleu_digital-500,
        "border-warning": $jaune_indications-400,
        "border-success": $vert_digital-600,
        "background-hover": $greyscale-50,
        "background-pressed": $greyscale-100,
        "background-selected": $bleu_iceberg-200,
        "background-disabled": $greyscale-0,
        "background-inverse": $greyscale-900,
        "background-brand_default": $bleu_iceberg-600,
        "background-brand_hover": $bleu_iceberg-700,
        "background-brand_pressed": $bleu_iceberg-800,
        "background-brand_inverse_default": $core-white,
        "background-brand_inverse_hover": $bleu_iceberg-50,
        "background-brand_inverse_pressed": $bleu_iceberg-100,
        "background-danger_default": $rouge_indications-700,
        "background-danger_hover": $rouge_indications-800,
        "background-danger_pressed": $rouge_indications-900,
        "background-info": $bleu_digital-500,
        "background-info_subtle": $bleu_digital-100,
        "background-warning": $jaune_indications-400,
        "background-warning_subtle": $jaune_indications-100,
        "background-success": $vert_digital-600,
        "background-success_subtle": $vert_digital-200,
        "content-secondary": $greyscale-800,
        "content-tertiary": $greyscale-600,
        "content-primary_inverse": $core-white,
        "content-secondary_inverse": $greyscale-100,
        "content-tertiary_inverse": $greyscale-300,
        "content-disabled": $greyscale-300,
        "content-brand_default": $bleu_iceberg-600,
        "content-brand_hover": $bleu_iceberg-700,
        "content-brand_pressed": $bleu_iceberg-800,
        "content-link_default": $bleu_digital-500,
        "content-link_hover": $bleu_digital-600,
        "content-link_pressed": $bleu_digital-700,
        "content-link_visited": $violet-600,
        "content-danger": $rouge_indications-700,
        "content-danger_inverse": $core-white,
        "content-danger_bold": $rouge_indications-800,
        "content-info": $bleu_digital-500,
        "content-info_inverse": $core-white,
        "content-info_bold": $bleu_digital-600,
        "content-warning": $jaune_indications-400,
        "content-warning_inverse": $core-white,
        "content-warning_bold": $jaune_indications-500,
        "content-success": $vert_digital-600,
        "content-success_inverse": $core-white,
        "content-success_bold": $vert_digital-700
    ),
    "dark": (
        "content-primary": $core-white,
        "background-default": $greyscale-900,
        "border-primary": $greyscale-400,
        "overlay-50": $core-black_50,
        "overlay-50_inverse": $core-white_50,
        "border-secondary": $greyscale-600,
        "border-tertiary": $greyscale-800,
        "border-disabled": $greyscale-700,
        "border-inverse": $greyscale-900,
        "border-brand_default": $bleu_iceberg-0,
        "border-brand_focused": $bleu_iceberg-0,
        "border-danger": $rouge_indications-600,
        "border-info": $bleu_digital-500,
        "border-warning": $jaune_indications-400,
        "border-success": $vert_digital-600,
        "background-hover": $greyscale-800,
        "background-pressed": $greyscale-700,
        "background-selected": $bleu_iceberg-700,
        "background-disabled": $greyscale-800,
        "background-inverse": $core-white,
        "background-brand_default": $bleu_iceberg-300,
        "background-brand_hover": $bleu_iceberg-200,
        "background-brand_pressed": $bleu_iceberg-100,
        "background-brand_inverse_default": $bleu_iceberg-800,
        "background-brand_inverse_hover": $bleu_iceberg-700,
        "background-brand_inverse_pressed": $bleu_iceberg-600,
        "background-danger_default": $rouge_indications-700,
        "background-danger_hover": $rouge_indications-600,
        "background-danger_pressed": $rouge_indications-500,
        "background-info": $bleu_digital-500,
        "background-info_subtle": $bleu_digital-800,
        "background-warning": $jaune_indications-400,
        "background-warning_subtle": $jaune_indications-800,
        "background-success": $vert_digital-600,
        "background-success_subtle": $vert_digital-700,
        "content-secondary": $greyscale-100,
        "content-tertiary": $greyscale-300,
        "content-primary_inverse": $greyscale-900,
        "content-secondary_inverse": $greyscale-800,
        "content-tertiary_inverse": $greyscale-600,
        "content-disabled": $greyscale-700,
        "content-brand_default": $bleu_iceberg-0,
        "content-brand_hover": $bleu_iceberg-50,
        "content-brand_pressed": $bleu_iceberg-100,
        "content-link_default": $bleu_digital-500,
        "content-link_hover": $bleu_digital-400,
        "content-link_pressed": $bleu_digital-300,
        "content-link_visited": $violet-300,
        "content-danger": $rouge_indications-600,
        "content-danger_inverse": $core-white,
        "content-danger_bold": $rouge_indications-500,
        "content-info": $bleu_digital-500,
        "content-info_inverse": $core-white,
        "content-info_bold": $bleu_digital-400,
        "content-warning": $jaune_indications-400,
        "content-warning_inverse": $core-white,
        "content-warning_bold": $jaune_indications-300,
        "content-success": $vert_digital-600,
        "content-success_inverse": $core-white,
        "content-success_bold": $vert_digital-500
    )
);

$violet: (
    "light": (
      "content-primary": $greyscale-900,
      "background-default": $core-white,
      "border-primary": $greyscale-600,
      "overlay-50": $core-black_50,
      "overlay-50_inverse": $core-white_50,
      "border-secondary": $greyscale-400,
      "border-tertiary": $greyscale-200,
      "border-disabled": $greyscale-200,
      "border-inverse": $core-white,
      "border-brand_default": $violet-600,
      "border-brand_focused": $bleu_iceberg-900,
      "border-danger": $rouge_indications-600,
      "border-info": $bleu_digital-500,
      "border-warning": $jaune_indications-400,
      "border-success": $vert_digital-600,
      "background-hover": $greyscale-50,
      "background-pressed": $greyscale-100,
      "background-selected": $violet-200,
      "background-disabled": $greyscale-0,
      "background-inverse": $greyscale-900,
      "background-brand_default": $violet-600,
      "background-brand_hover": $violet-700,
      "background-brand_pressed": $violet-800,
      "background-brand_inverse_default": $core-white,
      "background-brand_inverse_hover": $violet-50,
      "background-brand_inverse_pressed": $violet-100,
      "background-danger_default": $rouge_indications-700,
      "background-danger_hover": $rouge_indications-800,
      "background-danger_pressed": $rouge_indications-900,
      "background-info": $bleu_digital-500,
      "background-info_subtle": $bleu_digital-100,
      "background-warning": $jaune_indications-400,
      "background-warning_subtle": $jaune_indications-100,
      "background-success": $vert_digital-600,
      "background-success_subtle": $vert_digital-200,
      "content-secondary": $greyscale-800,
      "content-tertiary": $greyscale-600,
      "content-primary_inverse": $core-white,
      "content-secondary_inverse": $greyscale-100,
      "content-tertiary_inverse": $greyscale-300,
      "content-disabled": $greyscale-300,
      "content-brand_default": $violet-600,
      "content-brand_hover": $violet-700,
      "content-brand_pressed": $violet-800,
      "content-link_default": $bleu_digital-500,
      "content-link_hover": $bleu_digital-600,
      "content-link_pressed": $bleu_digital-700,
      "content-link_visited": $violet-600,
      "content-danger": $rouge_indications-700,
      "content-danger_inverse": $core-white,
      "content-danger_bold": $rouge_indications-800,
      "content-info": $bleu_digital-500,
      "content-info_inverse": $core-white,
      "content-info_bold": $bleu_digital-600,
      "content-warning": $jaune_indications-400,
      "content-warning_inverse": $core-white,
      "content-warning_bold": $jaune_indications-500,
      "content-success": $vert_digital-600,
      "content-success_inverse": $core-white,
      "content-success_bold": $vert_digital-700
    ),
    "dark": (
        "content-primary": $core-white,
        "background-default": $greyscale-900,
        "border-primary": $greyscale-400,
        "overlay-50": $core-black_50,
        "overlay-50_inverse": $core-white_50,
        "border-secondary": $greyscale-600,
        "border-tertiary": $greyscale-800,
        "border-disabled": $greyscale-700,
        "border-inverse": $greyscale-900,
        "border-brand_default": $violet-0,
        "border-brand_focused": $violet-0,
        "border-danger": $rouge_indications-600,
        "border-info": $bleu_digital-500,
        "border-warning": $jaune_indications-400,
        "border-success": $vert_digital-600,
        "background-hover": $greyscale-800,
        "background-pressed": $greyscale-700,
        "background-selected": $violet-700,
        "background-disabled": $greyscale-800,
        "background-inverse": $core-white,
        "background-brand_default": $violet-300,
        "background-brand_hover": $violet-200,
        "background-brand_pressed": $violet-100,
        "background-brand_inverse_default": $violet-800,
        "background-brand_inverse_hover": $violet-700,
        "background-brand_inverse_pressed": $violet-600,
        "background-danger_default": $rouge_indications-700,
        "background-danger_hover": $rouge_indications-600,
        "background-danger_pressed": $rouge_indications-500,
        "background-info": $bleu_digital-500,
        "background-info_subtle": $bleu_digital-800,
        "background-warning": $jaune_indications-400,
        "background-warning_subtle": $jaune_indications-800,
        "background-success": $vert_digital-600,
        "background-success_subtle": $vert_digital-700,
        "content-secondary": $greyscale-100,
        "content-tertiary": $greyscale-300,
        "content-primary_inverse": $greyscale-900,
        "content-secondary_inverse": $greyscale-800,
        "content-tertiary_inverse": $greyscale-600,
        "content-disabled": $greyscale-700,
        "content-brand_default": $violet-0,
        "content-brand_hover": $violet-50,
        "content-brand_pressed": $violet-100,
        "content-link_default": $bleu_digital-500,
        "content-link_hover": $bleu_digital-400,
        "content-link_pressed": $bleu_digital-300,
        "content-link_visited": $violet-300,
        "content-danger": $rouge_indications-600,
        "content-danger_inverse": $core-white,
        "content-danger_bold": $rouge_indications-500,
        "content-info": $bleu_digital-500,
        "content-info_inverse": $core-white,
        "content-info_bold": $bleu_digital-400,
        "content-warning": $jaune_indications-400,
        "content-warning_inverse": $core-white,
        "content-warning_bold": $jaune_indications-300,
        "content-success": $vert_digital-600,
        "content-success_inverse": $core-white,
        "content-success_bold": $vert_digital-500
    )    
);

$vert_foret: (
    "light": (
        "content-primary": $greyscale-900,
        "background-default": $core-white,
        "border-primary": $greyscale-600,
        "overlay-50": $core-black_50,
        "overlay-50_inverse": $core-white_50,
        "border-secondary": $greyscale-400,
        "border-tertiary": $greyscale-200,
        "border-disabled": $greyscale-200,
        "border-inverse": $core-white,
        "border-brand_default": $vert_foret-600,
        "border-brand_focused": $vert_foret-900,
        "border-danger": $rouge_indications-600,
        "border-info": $bleu_digital-500,
        "border-warning": $jaune_indications-400,
        "border-success": $vert_digital-600,
        "background-hover": $greyscale-50,
        "background-pressed": $greyscale-100,
        "background-selected": $vert_foret-200,
        "background-disabled": $greyscale-0,
        "background-inverse": $greyscale-900,
        "background-brand_default": $vert_foret-600,
        "background-brand_hover": $vert_foret-700,
        "background-brand_pressed": $vert_foret-800,
        "background-brand_inverse_default": $core-white,
        "background-brand_inverse_hover": $vert_foret-50,
        "background-brand_inverse_pressed": $vert_foret-100,
        "background-danger_default": $rouge_indications-700,
        "background-danger_hover": $rouge_indications-800,
        "background-danger_pressed": $rouge_indications-900,
        "background-info": $bleu_digital-500,
        "background-info_subtle": $bleu_digital-100,
        "background-warning": $jaune_indications-400,
        "background-warning_subtle": $jaune_indications-100,
        "background-success": $vert_digital-600,
        "background-success_subtle": $vert_digital-200,
        "content-secondary": $greyscale-800,
        "content-tertiary": $greyscale-600,
        "content-primary_inverse": $core-white,
        "content-secondary_inverse": $greyscale-100,
        "content-tertiary_inverse": $greyscale-300,
        "content-disabled": $greyscale-300,
        "content-brand_default": $vert_foret-600,
        "content-brand_hover": $vert_foret-700,
        "content-brand_pressed": $vert_foret-800,
        "content-link_default": $bleu_digital-500,
        "content-link_hover": $bleu_digital-600,
        "content-link_pressed": $bleu_digital-700,
        "content-link_visited": $violet-600,
        "content-danger": $rouge_indications-700,
        "content-danger_inverse": $core-white,
        "content-danger_bold": $rouge_indications-800,
        "content-info": $bleu_digital-500,
        "content-info_inverse": $core-white,
        "content-info_bold": $bleu_digital-600,
        "content-warning": $jaune_indications-400,
        "content-warning_inverse": $core-white,
        "content-warning_bold": $jaune_indications-500,
        "content-success": $vert_digital-600,
        "content-success_inverse": $core-white,
        "content-success_bold": $vert_digital-700
    ),
    "dark": (
        "content-default": $core-white,
        "content-primary": $core-white,
        "background-default": $greyscale-900,
        "border-primary": $greyscale-400,
        "overlay-50": $core-black_50,
        "overlay-50_inverse": $core-white_50,
        "border-secondary": $greyscale-600,
        "border-tertiary": $greyscale-800,
        "border-disabled": $greyscale-700,
        "border-inverse": $greyscale-900,
        "border-brand_default": $vert_foret-0,
        "border-brand_focused": $vert_foret-0,
        "border-danger": $rouge_indications-600,
        "border-info": $bleu_digital-500,
        "border-warning": $jaune_indications-400,
        "border-success": $vert_digital-600,
        "background-hover": $greyscale-800,
        "background-pressed": $greyscale-700,
        "background-selected": $vert_foret-700,
        "background-disabled": $greyscale-800,
        "background-inverse": $core-white,
        "background-brand_default": $vert_foret-300,
        "background-brand_hover": $vert_foret-200,
        "background-brand_pressed": $vert_foret-100,
        "background-brand_inverse_default": $vert_foret-800,
        "background-brand_inverse_hover": $vert_foret-700,
        "background-brand_inverse_pressed": $vert_foret-600,
        "background-danger_default": $rouge_indications-700,
        "background-danger_hover": $rouge_indications-600,
        "background-danger_pressed": $rouge_indications-500,
        "background-info": $bleu_digital-500,
        "background-info_subtle": $bleu_digital-800,
        "background-warning": $jaune_indications-400,
        "background-warning_subtle": $jaune_indications-800,
        "background-success": $vert_digital-600,
        "background-success_subtle": $vert_digital-700,
        "content-secondary": $greyscale-100,
        "content-tertiary": $greyscale-300,
        "content-primary_inverse": $greyscale-900,
        "content-secondary_inverse": $greyscale-800,
        "content-tertiary_inverse": $greyscale-600,
        "content-disabled": $greyscale-700,
        "content-brand_default": $vert_foret-0,
        "content-brand_hover": $vert_foret-50,
        "content-brand_pressed": $vert_foret-100,
        "content-link_default": $bleu_digital-500,
        "content-link_hover": $bleu_digital-400,
        "content-link_pressed": $bleu_digital-300,
        "content-link_visited": $violet-300,
        "content-danger": $rouge_indications-600,
        "content-danger_inverse": $core-white,
        "content-danger_bold": $rouge_indications-500,
        "content-info": $bleu_digital-500,
        "content-info_inverse": $core-white,
        "content-info_bold": $bleu_digital-400,
        "content-warning": $jaune_indications-400,
        "content-warning_inverse": $core-white,
        "content-warning_bold": $jaune_indications-300,
        "content-success": $vert_digital-600,
        "content-success_inverse": $core-white,
        "content-success_bold": $vert_digital-500
    )
);