@use 'primitives/colors' as *;
@use 'primitives/devColors' as *;

$bleu_iceberg: (
    "light": (
        "content-primary": $greyscale-900,
        "background-default": $core-white,
        "border-primary": $greyscale-600,
        "border-secondary": $greyscale-400,
        "border-tertiary": $greyscale-200,
        "border-disabled": $greyscale-200,
        "border-inverse": $core-white,
        "border-brand-default": $bleu-iceberg-600,
        "border-brand-focused": $bleu-iceberg-900,
        "border-danger": $rouge-indications-600,
        "border-info": $bleu-digital-500,
        "border-warning": $jaune-indications-400,
        "border-success": $vert-digital-600,
        "background-hover": $greyscale-50,
        "background-pressed": $greyscale-100,
        "background-selected": $bleu-iceberg-200,
        "background-disabled": $greyscale-0,
        "background-inverse": $greyscale-900,
        "background-brand-default": $bleu-iceberg-600,
        "background-brand-hover": $bleu-iceberg-700,
        "background-brand-pressed": $bleu-iceberg-800,
        "background-brand-inverse-default": $core-white,
        "background-brand-inverse-hover": $bleu-iceberg-50,
        "background-brand-inverse-pressed": $bleu-iceberg-100,
        "background-danger-default": $rouge-indications-600,
        "background-danger-hover": $rouge-indications-700,
        "background-danger-pressed": $rouge-indications-800,
        "background-info": $bleu-digital-500,
        "background-info-subtle": $bleu-digital-100,
        "background-warning": $jaune-indications-400,
        "background-warning-subtle": $jaune-indications-100,
        "background-success": $vert-digital-600,
        "background-success-subtle": $vert-digital-200,
        "content-secondary": $greyscale-800,
        "content-tertiary": $greyscale-600,
        "content-primary-inverse": $core-white,
        "content-secondary-inverse": $greyscale-100,
        "content-tertiary-inverse": $greyscale-300,
        "content-disabled": $greyscale-300,
        "content-brand-default": $bleu-iceberg-600,
        "content-brand-hover": $bleu-iceberg-700,
        "content-brand-press": $bleu-iceberg-800,
        "content-link-default": $bleu-digital-500,
        "content-link-hover": $bleu-digital-600,
        "content-link-press": $bleu-digital-700,
        "content-link-visited": $violet-600,
        "content-link-visited-hover": $violet-700,
        "content-link-visited-press": $violet-800,
        "content-danger": $rouge-indications-600,
        "content-danger-hover": $rouge-indications-700,
        "content-danger-press": $rouge-indications-800,
        "content-danger-inverse": $core-white,
        "content-info": $bleu-digital-500,
        "content-info-inverse": $core-white,
        "content-info-bold": $bleu-digital-600,
        "content-warning": $jaune-indications-400,
        "content-warning-inverse": $core-white,
        "content-warning-bold": $jaune-indications-500,
        "content-success": $vert-digital-600,
        "content-success-inverse": $core-white,
        "content-success-bold": $vert-digital-700,
        "background-hover-opacity-50": $greyscale-50-opacity-50,
        "background-brand-hover-opacity-20": $bleu-iceberg-700-opacity-20,
        "background-danger-hover-opacity-20": $rouge-indications-700-opacity-20,
    ),
    "dark": (
        "content-primary": $core-white,
        "background-default": $greyscale-900,
        "border-primary": $greyscale-400,
        "border-secondary": $greyscale-600,
        "border-tertiary": $greyscale-800,
        "border-disabled": $greyscale-700,
        "border-inverse": $greyscale-900,
        "border-brand-default": $bleu-iceberg-0,
        "border-brand-focused": $bleu-iceberg-0,
        "border-danger": $rouge-indications-600,
        "border-info": $bleu-digital-500,
        "border-warning": $jaune-indications-400,
        "border-success": $vert-digital-600,
        "background-hover": $greyscale-800,
        "background-pressed": $greyscale-700,
        "background-selected": $bleu-iceberg-700,
        "background-disabled": $greyscale-800,
        "background-inverse": $core-white,
        "background-brand-default": $bleu-iceberg-300,
        "background-brand-hover": $bleu-iceberg-200,
        "background-brand-pressed": $bleu-iceberg-100,
        "background-brand-inverse-default": $bleu-iceberg-800,
        "background-brand-inverse-hover": $bleu-iceberg-700,
        "background-brand-inverse-pressed": $bleu-iceberg-600,
        "background-danger-default": $rouge-indications-400,
        "background-danger-hover": $rouge-indications-500,
        "background-danger-pressed": $rouge-indications-600,
        "background-info": $bleu-digital-500,
        "background-info-subtle": $bleu-digital-100,
        "background-warning": $jaune-indications-400,
        "background-warning-subtle": $jaune-indications-100,
        "background-success": $vert-digital-600,
        "background-success-subtle": $vert-digital-200,
        "content-secondary": $greyscale-100,
        "content-tertiary": $greyscale-300,
        "content-primary-inverse": $greyscale-900,
        "content-secondary-inverse": $greyscale-800,
        "content-tertiary-inverse": $greyscale-600,
        "content-disabled": $greyscale-700,
        "content-brand-default": $bleu-iceberg-0,
        "content-brand-hover": $bleu-iceberg-50,
        "content-brand-press": $bleu-iceberg-100,
        "content-link-default": $bleu-digital-500,
        "content-link-hover": $bleu-digital-400,
        "content-link-press": $bleu-digital-300,
        "content-link-visited": $violet-500,
        "content-link-visited-hover": $violet-400,
        "content-link-visited-press": $violet-300,
        "content-danger": $rouge-indications-400,
        "content-danger-hover": $rouge-indications-500,
        "content-danger-press": $rouge-indications-600,
        "content-danger-inverse": $core-white,
        "content-info": $bleu-digital-500,
        "content-info-inverse": $core-white,
        "content-info-bold": $bleu-digital-400,
        "content-warning": $jaune-indications-400,
        "content-warning-inverse": $core-white,
        "content-warning-bold": $jaune-indications-300,
        "content-success": $vert-digital-600,
        "content-success-inverse": $core-white,
        "content-success-bold": $vert-digital-500,
        "background-hover-opacity-50": $greyscale-800-opacity-50,
        "background-brand-hover-opacity-20": $bleu-iceberg-200-opacity-20,
        "background-danger-hover-opacity-20": $rouge-indications-500-opacity-20,
    )
);

$violet: (
    "light": (
        "content-primary": $greyscale-900,
        "background-default": $core-white,
        "border-primary": $greyscale-600,
        "border-secondary": $greyscale-400,
        "border-tertiary": $greyscale-200,
        "border-disabled": $greyscale-200,
        "border-inverse": $core-white,
        "border-brand-default": $violet-600,
        "border-brand-focused": $violet-900,
        "border-danger": $rouge-indications-600,
        "border-info": $bleu-digital-500,
        "border-warning": $jaune-indications-400,
        "border-success": $vert-digital-600,
        "background-hover": $greyscale-50,
        "background-pressed": $greyscale-100,
        "background-selected": $violet-200,
        "background-disabled": $greyscale-0,
        "background-inverse": $greyscale-900,
        "background-brand-default": $violet-600,
        "background-brand-hover": $violet-700,
        "background-brand-pressed": $violet-800,
        "background-brand-inverse-default": $core-white,
        "background-brand-inverse-hover": $violet-50,
        "background-brand-inverse-pressed": $violet-100,
        "background-danger-default": $rouge-indications-600,
        "background-danger-hover": $rouge-indications-700,
        "background-danger-pressed": $rouge-indications-800,
        "background-info": $bleu-digital-500,
        "background-info-subtle": $bleu-digital-100,
        "background-warning": $jaune-indications-400,
        "background-warning-subtle": $jaune-indications-100,
        "background-success": $vert-digital-600,
        "background-success-subtle": $vert-digital-200,
        "content-secondary": $greyscale-800,
        "content-tertiary": $greyscale-600,
        "content-primary-inverse": $core-white,
        "content-secondary-inverse": $greyscale-100,
        "content-tertiary-inverse": $greyscale-300,
        "content-disabled": $greyscale-300,
        "content-brand-default": $violet-600,
        "content-brand-hover": $violet-700,
        "content-brand-press": $violet-800,
        "content-link-default": $bleu-digital-500,
        "content-link-hover": $bleu-digital-600,
        "content-link-press": $bleu-digital-700,
        "content-link-visited": $violet-600,
        "content-link-visited-hover": $violet-700,
        "content-link-visited-press": $violet-800,
        "content-danger": $rouge-indications-600,
        "content-danger-hover": $rouge-indications-700,
        "content-danger-press": $rouge-indications-800,
        "content-danger-inverse": $core-white,
        "content-info": $bleu-digital-500,
        "content-info-inverse": $core-white,
        "content-info-bold": $bleu-digital-600,
        "content-warning": $jaune-indications-400,
        "content-warning-inverse": $core-white,
        "content-warning-bold": $jaune-indications-500,
        "content-success": $vert-digital-600,
        "content-success-inverse": $core-white,
        "content-success-bold": $vert-digital-700,
        "background-hover-opacity-50": $greyscale-50-opacity-50,
        "background-brand-hover-opacity-20": $violet-700-opacity-20,
        "background-danger-hover-opacity-20": $rouge-indications-700-opacity-20,
    ),
    "dark": (
        "content-primary": $core-white,
        "background-default": $greyscale-900,
        "border-primary": $greyscale-400,
        "border-secondary": $greyscale-600,
        "border-tertiary": $greyscale-800,
        "border-disabled": $greyscale-700,
        "border-inverse": $greyscale-900,
        "border-brand-default": $violet-0,
        "border-brand-focused": $violet-0,
        "border-danger": $rouge-indications-600,
        "border-info": $bleu-digital-500,
        "border-warning": $jaune-indications-400,
        "border-success": $vert-digital-600,
        "background-hover": $greyscale-800,
        "background-pressed": $greyscale-700,
        "background-selected": $violet-700,
        "background-disabled": $greyscale-800,
        "background-inverse": $core-white,
        "background-brand-default": $violet-300,
        "background-brand-hover": $violet-200,
        "background-brand-pressed": $violet-100,
        "background-brand-inverse-default": $violet-800,
        "background-brand-inverse-hover": $violet-700,
        "background-brand-inverse-pressed": $violet-600,
        "background-danger-default": $rouge-indications-400,
        "background-danger-hover": $rouge-indications-500,
        "background-danger-pressed": $rouge-indications-600,
        "background-info": $bleu-digital-500,
        "background-info-subtle": $bleu-digital-100,
        "background-warning": $jaune-indications-400,
        "background-warning-subtle": $jaune-indications-100,
        "background-success": $vert-digital-600,
        "background-success-subtle": $vert-digital-200,
        "content-secondary": $greyscale-100,
        "content-tertiary": $greyscale-300,
        "content-primary-inverse": $greyscale-900,
        "content-secondary-inverse": $greyscale-800,
        "content-tertiary-inverse": $greyscale-600,
        "content-disabled": $greyscale-700,
        "content-brand-default": $violet-0,
        "content-brand-hover": $violet-50,
        "content-brand-press": $violet-100,
        "content-link-default": $bleu-digital-500,
        "content-link-hover": $bleu-digital-400,
        "content-link-press": $bleu-digital-300,
        "content-link-visited": $violet-500,
        "content-link-visited-hover": $violet-400,
        "content-link-visited-press": $violet-300,
        "content-danger": $rouge-indications-400,
        "content-danger-hover": $rouge-indications-500,
        "content-danger-press": $rouge-indications-600,
        "content-danger-inverse": $core-white,
        "content-info": $bleu-digital-500,
        "content-info-inverse": $core-white,
        "content-info-bold": $bleu-digital-400,
        "content-warning": $jaune-indications-400,
        "content-warning-inverse": $core-white,
        "content-warning-bold": $jaune-indications-300,
        "content-success": $vert-digital-600,
        "content-success-inverse": $core-white,
        "content-success-bold": $vert-digital-500,
        "background-hover-opacity-50": $greyscale-800-opacity-50,
        "background-brand-hover-opacity-20": $violet-200-opacity-20,
        "background-danger-hover-opacity-20": $rouge-indications-500-opacity-20,
    )    
);

$vert_foret: (
    "light": (
        "content-primary": $greyscale-900,
        "background-default": $core-white,
        "border-primary": $greyscale-600,
        "border-secondary": $greyscale-400,
        "border-tertiary": $greyscale-200,
        "border-disabled": $greyscale-200,
        "border-inverse": $core-white,
        "border-brand-default": $vert-foret-600,
        "border-brand-focused": $vert-foret-900,
        "border-danger": $rouge-indications-600,
        "border-info": $bleu-digital-500,
        "border-warning": $jaune-indications-400,
        "border-success": $vert-digital-600,
        "background-hover": $greyscale-50,
        "background-pressed": $greyscale-100,
        "background-selected": $vert-foret-200,
        "background-disabled": $greyscale-0,
        "background-inverse": $greyscale-900,
        "background-brand-default": $vert-foret-600,
        "background-brand-hover": $vert-foret-700,
        "background-brand-pressed": $vert-foret-800,
        "background-brand-inverse-default": $core-white,
        "background-brand-inverse-hover": $vert-foret-50,
        "background-brand-inverse-pressed": $vert-foret-100,
        "background-danger-default": $rouge-indications-600,
        "background-danger-hover": $rouge-indications-700,
        "background-danger-pressed": $rouge-indications-800,
        "background-info": $bleu-digital-500,
        "background-info-subtle": $bleu-digital-100,
        "background-warning": $jaune-indications-400,
        "background-warning-subtle": $jaune-indications-100,
        "background-success": $vert-digital-600,
        "background-success-subtle": $vert-digital-200,
        "content-secondary": $greyscale-800,
        "content-tertiary": $greyscale-600,
        "content-primary-inverse": $core-white,
        "content-secondary-inverse": $greyscale-100,
        "content-tertiary-inverse": $greyscale-300,
        "content-disabled": $greyscale-300,
        "content-brand-default": $vert-foret-600,
        "content-brand-hover": $vert-foret-700,
        "content-brand-press": $vert-foret-800,
        "content-link-default": $bleu-digital-500,
        "content-link-hover": $bleu-digital-600,
        "content-link-press": $bleu-digital-700,
        "content-link-visited": $violet-600,
        "content-link-visited-hover": $violet-700,
        "content-link-visited-press": $violet-800,
        "content-danger": $rouge-indications-600,
        "content-danger-hover": $rouge-indications-700,
        "content-danger-press": $rouge-indications-800,
        "content-danger-inverse": $core-white,
        "content-info": $bleu-digital-500,
        "content-info-inverse": $core-white,
        "content-info-bold": $bleu-digital-600,
        "content-warning": $jaune-indications-400,
        "content-warning-inverse": $core-white,
        "content-warning-bold": $jaune-indications-500,
        "content-success": $vert-digital-600,
        "content-success-inverse": $core-white,
        "content-success-bold": $vert-digital-700,
        "background-hover-opacity-50": $greyscale-50-opacity-50,
        "background-brand-hover-opacity-20": $vert-foret-700-opacity-20,
        "background-danger-hover-opacity-20": $rouge-indications-700-opacity-20,
    ),
    "dark": (
        "content-primary": $core-white,
        "background-default": $greyscale-900,
        "border-primary": $greyscale-400,
        "border-secondary": $greyscale-600,
        "border-tertiary": $greyscale-800,
        "border-disabled": $greyscale-700,
        "border-inverse": $greyscale-900,
        "border-brand-default": $vert-foret-0,
        "border-brand-focused": $vert-foret-0,
        "border-danger": $rouge-indications-600,
        "border-info": $bleu-digital-500,
        "border-warning": $jaune-indications-400,
        "border-success": $vert-digital-600,
        "background-hover": $greyscale-800,
        "background-pressed": $greyscale-700,
        "background-selected": $vert-foret-700,
        "background-disabled": $greyscale-800,
        "background-inverse": $core-white,
        "background-brand-default": $vert-foret-300,
        "background-brand-hover": $vert-foret-200,
        "background-brand-pressed": $vert-foret-100,
        "background-brand-inverse-default": $vert-foret-800,
        "background-brand-inverse-hover": $vert-foret-700,
        "background-brand-inverse-pressed": $vert-foret-600,
        "background-danger-default": $rouge-indications-400,
        "background-danger-hover": $rouge-indications-500,
        "background-danger-pressed": $rouge-indications-600,
        "background-info": $bleu-digital-500,
        "background-info-subtle": $bleu-digital-100,
        "background-warning": $jaune-indications-400,
        "background-warning-subtle": $jaune-indications-100,
        "background-success": $vert-digital-600,
        "background-success-subtle": $vert-digital-200,
        "content-secondary": $greyscale-100,
        "content-tertiary": $greyscale-300,
        "content-primary-inverse": $greyscale-900,
        "content-secondary-inverse": $greyscale-800,
        "content-tertiary-inverse": $greyscale-600,
        "content-disabled": $greyscale-700,
        "content-brand-default": $vert-foret-0,
        "content-brand-hover": $vert-foret-50,
        "content-brand-press": $vert-foret-100,
        "content-link-default": $bleu-digital-500,
        "content-link-hover": $bleu-digital-400,
        "content-link-press": $bleu-digital-300,
        "content-link-visited": $violet-500,
        "content-link-visited-hover": $violet-400,
        "content-link-visited-press": $violet-300,
        "content-danger": $rouge-indications-400,
        "content-danger-hover": $rouge-indications-500,
        "content-danger-press": $rouge-indications-600,
        "content-danger-inverse": $core-white,
        "content-info": $bleu-digital-500,
        "content-info-inverse": $core-white,
        "content-info-bold": $bleu-digital-400,
        "content-warning": $jaune-indications-400,
        "content-warning-inverse": $core-white,
        "content-warning-bold": $jaune-indications-300,
        "content-success": $vert-digital-600,
        "content-success-inverse": $core-white,
        "content-success-bold": $vert-digital-500,
        "background-hover-opacity-50": $greyscale-800-opacity-50,
        "background-brand-hover-opacity-20": $vert-foret-200-opacity-20,
        "background-danger-hover-opacity-20": $rouge-indications-500-opacity-20,
    )
);