@use "themes/main" as *;

$bleu_iceberg: (
    "light": $bleu-iceberg-light,
    "dark": $bleu-iceberg-dark,
);

$violet: (
    "light": $violet-light,
    "dark": $violet-dark,
);

$vert_foret: (
    "light": $vert-foret-light,
    "dark": $vert-foret-dark,
);