@use 'primitives/typography' as *;

$heading-5xl-semibold-family: $family-nunito;
$heading-5xl-semibold-weight: $weight-semibold;
$heading-5xl-semibold-size: $font_size-10xl;
$heading-5xl-semibold-line_height: $line_height-10xl;
$heading-5xl-semibold-letter_spacing: $letter_spacing-xs;
$heading-4xl-semibold-family: $family-nunito;
$heading-4xl-semibold-weight: $weight-semibold;
$heading-4xl-semibold-size: $font_size-9xl;
$heading-4xl-semibold-line_height: $line_height-9xl;
$heading-4xl-semibold-letter_spacing: $letter_spacing-xs;
$heading-3xl-semibold-family: $family-nunito;
$heading-3xl-semibold-weight: $weight-semibold;
$heading-3xl-semibold-size: $font_size-8xl;
$heading-3xl-semibold-line_height: $line_height-8xl;
$heading-3xl-semibold-letter_spacing: $letter_spacing-xs;
$heading-2xl-semibold-family: $family-nunito;
$heading-2xl-semibold-weight: $weight-semibold;
$heading-2xl-semibold-size: $font_size-7xl;
$heading-2xl-semibold-line_height: $line_height-7xl;
$heading-2xl-semibold-letter_spacing: $letter_spacing-xs;
$heading-xl-semibold-family: $family-nunito;
$heading-xl-semibold-weight: $weight-semibold;
$heading-xl-semibold-size: $font_size-6xl;
$heading-xl-semibold-line_height: $line_height-6xl;
$heading-xl-semibold-letter_spacing: $letter_spacing-xs;
$heading-l-semibold-family: $family-nunito;
$heading-l-semibold-weight: $weight-semibold;
$heading-l-semibold-size: $font_size-5xl;
$heading-l-semibold-line_height: $line_height-5xl;
$heading-l-semibold-letter_spacing: $letter_spacing-xs;
$heading-m-semibold-family: $family-nunito;
$heading-m-semibold-weight: $weight-semibold;
$heading-m-semibold-size: $font_size-3xl;
$heading-m-semibold-line_height: $line_height-3xl;
$heading-m-semibold-letter_spacing: $letter_spacing-s;
$heading-s-semibold-family: $family-nunito;
$heading-s-semibold-weight: $weight-semibold;
$heading-s-semibold-size: $font_size-2xl;
$heading-s-semibold-line_height: $line_height-2xl;
$heading-s-semibold-letter_spacing: $letter_spacing-s;
$heading-xs-semibold-family: $family-nunito;
$heading-xs-semibold-weight: $weight-semibold;
$heading-xs-semibold-size: $font_size-l;
$heading-xs-semibold-line_height: $line_height-l;
$heading-xs-semibold-letter_spacing: $letter_spacing-s;
$heading-2xs-semibold-family: $family-nunito;
$heading-2xs-semibold-weight: $weight-semibold;
$heading-2xs-semibold-size: $font_size-m;
$heading-2xs-semibold-line_height: $line_height-m;
$heading-2xs-semibold-letter_spacing: $letter_spacing-none;
$text-xl-regular-family: $family-arial;
$text-xl-regular-weight: $weight-regular;
$text-xl-regular-size: $font_size-2xl;
$text-xl-regular-line_height: $line_height-2xl;
$text-xl-regular-letter_spacing: $letter_spacing-none;
$text-xl-semibold-family: $family-arial;
$text-xl-semibold-weight: $weight-semibold;
$text-xl-semibold-size: $font_size-2xl;
$text-xl-semibold-line_height: $line_height-2xl;
$text-xl-semibold-letter_spacing: $letter_spacing-none;
$text-l-regular-family: $family-arial;
$text-l-regular-weight: $weight-regular;
$text-l-regular-size: $font_size-l;
$text-l-regular-line_height: $line_height-l;
$text-l-regular-letter_spacing: $letter_spacing-none;
$text-l-semibold-family: $family-arial;
$text-l-semibold-weight: $weight-semibold;
$text-l-semibold-size: $font_size-l;
$text-l-semibold-line_height: $line_height-l;
$text-l-semibold-letter_spacing: $letter_spacing-none;
$text-m-regular-family: $family-arial;
$text-m-regular-weight: $weight-regular;
$text-m-regular-size: $font_size-m;
$text-m-regular-line_height: $line_height-m;
$text-m-regular-letter_spacing: $letter_spacing-none;
$text-m-semibold-family: $family-arial;
$text-m-semibold-weight: $weight-semibold;
$text-m-semibold-size: $font_size-m;
$text-m-semibold-line_height: $line_height-m;
$text-m-semibold-letter_spacing: $letter_spacing-none;
$text-s-regular-family: $family-arial;
$text-s-regular-weight: $weight-regular;
$text-s-regular-size: $font_size-s;
$text-s-regular-line_height: $line_height-s;
$text-s-regular-letter_spacing: $letter_spacing-none;
$text-s-semibold-family: $family-arial;
$text-s-semibold-weight: $weight-semibold;
$text-s-semibold-size: $font_size-s;
$text-s-semibold-line_height: $line_height-s;
$text-s-semibold-letter_spacing: $letter_spacing-none;
$text-xs-regular-family: $family-arial;
$text-xs-regular-weight: $weight-regular;
$text-xs-regular-size: $font_size-xs;
$text-xs-regular-line_height: $line_height-xs;
$text-xs-regular-letter_spacing: $letter_spacing-none;
$text-xs-semibold-family: $family-arial;
$text-xs-semibold-weight: $weight-semibold;
$text-xs-semibold-size: $font_size-xs;
$text-xs-semibold-line_height: $line_height-xs;
$text-xs-semibold-letter_spacing: $letter_spacing-none;
$button-s-semibold-family: $family-nunito;
$button-s-semibold-weight: $weight-semibold;
$button-s-semibold-size: $font_size-m;
$button-s-semibold-line_height: $line_height-m;
$button-s-semibold-letter_spacing: $letter_spacing-s;
$button-m-semibold-family: $family-nunito;
$button-m-semibold-weight: $weight-semibold;
$button-m-semibold-size: $font_size-l;
$button-m-semibold-line_height: $line_height-l;
$button-m-semibold-letter_spacing: $letter_spacing-s;
$button-l-semibold-family: $family-nunito;
$button-l-semibold-weight: $weight-semibold;
$button-l-semibold-size: $font_size-2xl;
$button-l-semibold-line_height: $line_height-2xl;
$button-l-semibold-letter_spacing: $letter_spacing-s;

@mixin typography-button-s {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $button-s-semibold-family;
    font-size: $button-s-semibold-size;
    font-style: normal;
    letter-spacing: $button-s-semibold-letter_spacing;
    font-weight: 600;
    line-height: $button-s-semibold-line_height;
}

@mixin typography-button-m {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $button-m-semibold-family;
    font-size: $button-m-semibold-size;
    font-style: normal;
    letter-spacing: $button-m-semibold-letter_spacing;
    font-weight: 600;
    line-height: $button-m-semibold-line_height;
}

@mixin typography-button-l {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $button-l-semibold-family;
    font-size: $button-l-semibold-size;
    font-style: normal;
    letter-spacing: $button-l-semibold-letter_spacing;
    font-weight: 600;
    line-height: $button-l-semibold-line_height;
}