@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.searchbar-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.text-input-wrapper {
  min-width: 0;
  display: flex;
  align-items: stretch;
  border-radius: $radius-m;
  transition: outline 200ms, border 200ms;

  &:focus-within {
    outline: 1px solid var(--border-brand-default);
    outline-offset: 0;
  }
}

.search-button {
  flex-shrink: 0;
}

