@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-file-upload-file-container {
  display: flex;
  flex-direction: column;
  padding: $positive-spacing_050;
  width: 100%;
}

.rte-file-upload-file {
  display: flex;
  gap: $positive-spacing_100;
  align-items: center;

  > :last-child {
    flex: 0 0 auto;
  }
}

.rte-file-upload-file-icon {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.rte-file-upload-file-info {
  display: flex;
  align-items: baseline;
  gap: $positive-spacing_050;
  white-space: nowrap;
  flex: 1 0 0;
  min-width: 0;
}

.rte-file-upload-file-name {
  @include typography-text-m-bold;

  &[data-is-error="true"] {
    color: var(--content-secondary);
  }

  &[data-is-compact="true"] {
    @include typography-text-s-bold;
  }
}

.rte-file-upload-file-size {
  @include typography-text-s-regular;
  color: var(--content-tertiary);

  &[data-is-compact="true"] {
    @include typography-text-xs;
  }
}