@use '@design-system-rte/core/design-tokens/main.scss' as *;

$max-width: 160px;
$max-height: 40px;

:host {
    position: absolute;
    max-width: $max-width;
    max-height: $max-height;
    transition: opacity 150ms ease-out;

    &:not(:hover) {
        transition: opacity 100ms ease-in;
    }
}

.tooltip {
    @include typography-tooltip-label;
    color: var(--content-primary-inverse);
    position: absolute;
    text-align: center;
    z-index: 1;
    max-width: $max-width;
    max-height: $max-height;
    width: fit-content;
    padding-block: $positive-spacing_050;
    padding-inline: $positive-spacing_200;
    border-radius: $radius-s;
    background: var(--background-inverse);

    &.top,
    &.bottom {
        transform: translateX(-50%);
    }

    &.left,
    &.right {
        transform: translateY(-50%);
    }

    &.top {
        bottom: 0px;

        &::after {
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-color: var(--background-inverse) transparent transparent transparent;
        }

        &.start::after {
            left: 25%;
        }

        &.end::after {
            left: 75%;
        }
    }

    &.bottom {
        &::after {
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-color: transparent transparent var(--background-inverse) transparent;
        }

        &.start::after {
            left: 25%;
        }

        &.end::after {
            left: 75%;
        }
    }

    &.left {
        right: 0px;

        &::after {
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-color: transparent transparent transparent var(--background-inverse);
        }

        &.start::after {
            top: 25%;
        }

        &.end::after {
            top: 75%;
        }
    }

    &.right {
        &::after {
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-color: transparent var(--background-inverse) transparent transparent;
        }

        &.start::after {
            top: 25%;
        }

        &.end::after {
            top: 75%;
        }
    }

    &.arrow {
        &::after {
            content: '';
            position: absolute;
            border-width: 5px;
            border-style: solid;
        }
    }
}