@use "@design-system-rte/core/design-tokens/main-internal.scss" as *;

:host {
  display: block;
  width: 100%;
  inline-size: 100%;
  background: linear-gradient(0deg, var(--elevation-surface-shadow-2) 0%, var(--elevation-surface-shadow-2) 100%);
  background: var(--background-default);
}

@mixin disabled {
  background: var(--background-disabled);
  color: var(--content-disabled);
  cursor: not-allowed;
}

.rte-accordion-summary {
  text-align: left;
  display: flex;
  padding: $positive-spacing_100 0;
  flex-direction: column;
  align-items: flex-start;
  color: var(--content-brand-default);
  height: 48px;
  border: none;
  background: none;
  width: 100%;

  &:focus-visible {
    outline: 1px solid var(--border-brand-focused);
    outline-offset: 4px;
  }

  &:hover {
    color: var(--content-brand-hover);
    background: var(--background-default);
    cursor: pointer;
  }

  &:disabled {
    @include disabled;
  }

  &.neutral {
    color: var(--content-primary);

    &:disabled {
      @include disabled;
    }
  }

  &.compact-spacing {
    padding: 0;
    height: 32px;

    &:disabled {
      @include disabled;
    }
  }

  &.size-large {
    height: 60px;

    &.compact-spacing {
      height: 48px;
    }
  }

  .rte-accordion-summary-row {
    width: 100%;
    display: flex;
    padding: $positive-spacing_025 $positive-spacing_050;
    align-items: center;
    gap: $positive-spacing_100;
    align-self: stretch;
    box-sizing: border-box;

    .rte-accordion-chevron {
      transition: transform 0.11s cubic-bezier(0, 0, 0.38, 0.9) allow-discrete;

      &.animating {
        transform: rotate(180deg);
      }
    }
  }

  .rte-accordion-title {
    flex: 1 1 auto;
    @include typography-heading-s;

    &.size-large {
      @include typography-heading-l;
    }
  }
}

.rte-accordion-panel-container {
  border-block-end: solid 1px var(--border-divider);
}

.rte-accordion-panel {
  padding: 0 $positive-spacing_100;
  transform: translateY(-10px);
  overflow: hidden;
  opacity: 0;
  transition: all 0.12s cubic-bezier(0, 0, 0.38, 0.9) allow-discrete;

  &.animating {
    padding: $positive-spacing_200 $positive-spacing_100;
    opacity: 1;
    overflow: visible;
    transform: translateY(0);
  }

  &.is-disabled {
    background: var(--background-disabled);
    color: var(--content-disabled);
  }
}
