@use 'colors' as *;

$greyscale-50-opacity-50: rgba($greyscale-50, 0.5);
$greyscale-800-opacity-50: rgba($greyscale-800, 0.5);
$bleu-iceberg-700-opacity-20: rgba($bleu-iceberg-700, 0.2);
$bleu-iceberg-200-opacity-20: rgba($bleu-iceberg-200, 0.2);
$violet-700-opacity-20: rgba($violet-700, 0.2);
$violet-200-opacity-20: rgba($violet-200, 0.2);
$vert-foret-700-opacity-20: rgba($vert-foret-700, 0.2);
$vert-foret-200-opacity-20: rgba($vert-foret-200, 0.2);
$rouge-indications-700-opacity-20: rgba($rouge-indications-700, 0.2);
$rouge-indications-500-opacity-20: rgba($rouge-indications-500, 0.2);