<div class="rte-breadcrumb-item">
  @if (isLast()) {
    @if (isEllipsisActive()) {
      <div
        [rteTooltip]="item()!.label"
        [rteTooltipPosition]="'bottom'"
        [style]="tooltipTriggerStyle()"
      >
        <a
          role="link"
          aria-current="page"
          tabindex="-1"
          [attr.aria-label]="item()!.label"
          [style]="linkStyle()"
        >
          {{ item()!.label }}
        </a>
      </div>
    } @else {
      <a
        role="link"
        aria-current="page"
        tabindex="0"
        [attr.aria-label]="item()!.label"
        [style]="linkStyle()"
      >
        {{ item()!.label }}
      </a>
    }
  } @else {
    @if (isEllipsisActive()) {
      <div
        [rteTooltip]="item()!.label"
        [rteTooltipPosition]="'bottom'"
        [style]="tooltipTriggerStyle()"
        [style.overflow]="'unset'"
        [rteTooltipShouldFocusTrigger]="false"
      >
        <rte-link
          [href]="item()!.link"
          [label]="item()!.label"
          [subtle]="true"
          [maxWidth]="breadcrumbItemMaxWidth()"
        />
      </div>
    } @else {
      <rte-link
        [href]="item()!.link"
        [label]="item()!.label"
        [subtle]="true"
        [maxWidth]="breadcrumbItemMaxWidth()"
      />
    }
  }
</div>
