@use '@design-system-rte/core/design-tokens/main.scss' as *;

.split-button-container {
    display: inline-flex;
    padding: $positive-spacing_0;
    align-items: center;
    gap: $positive-spacing_0;
    align-self: stretch;

    &.size-s {
        height: 24px;

        &.compact-spacing {
            height: 20px;
        }
    }

    &.size-m {
        height: 32px;

        &.compact-spacing {
            height: 24px;
        }
    }

    &.size-l {
        height: 40px;

        &.compact-spacing {
            height: 28px;
        }
    }

    &.secondary {
        .split-button-left {
            border-top: 1px solid var(--border-brand-default);
            border-bottom: 1px solid var(--border-brand-default);
            border-left: 1px solid var(--border-brand-default);
            background-color: var(--background-default);
            color: var(--content-brand-default);

            &:hover {
                cursor: pointer;
                background-color: var(--background-brand-inverse-hover);
            }

            &:active {
                background-color: var(--background-brand-inverse-pressed);
            }

            &:disabled {
                background-color: var(--background-disabled);
                color: var(--content-disabled);
                border-top: 1px solid var(--border-disabled);
                border-bottom: 1px solid var(--border-disabled);
                border-left: 1px solid var(--border-disabled);
                cursor: not-allowed;
            }
        }

        .split-button-divider {
            background-color: var(--border-brand-default);
        }

        .split-button-right-container {
            .split-button-right {
                border-top: 1px solid var(--border-brand-default);
                border-bottom: 1px solid var(--border-brand-default);
                border-right: 1px solid var(--border-brand-default);
                background-color: var(--background-default);
                color: var(--content-brand-default);

                &:hover {
                    cursor: pointer;
                    background-color: var(--background-brand-inverse-hover);
                }

                &:active {
                    background-color: var(--background-brand-inverse-pressed);
                }

                &:disabled {
                    background-color: var(--background-disabled);
                    color: var(--content-disabled);
                    border-top: 1px solid var(--border-disabled);
                    border-bottom: 1px solid var(--border-disabled);
                    border-right: 1px solid var(--border-disabled);
                    cursor: not-allowed;
                }
            }
        }
    }

    .split-button-left {
        display: flex;
        border: none;
        padding: $positive-spacing_0 $positive-spacing_100;
        align-items: center;
        gap: $positive-spacing_0;
        align-self: stretch;
        border-radius: $radius-s $radius-none $radius-none $radius-s;
        border-color: var(--border-brand-default);
        background-color: var(--background-brand-default);
        color: var(--content-primary-inverse);

        .split-button-label {
            margin: 0;

            &.size-s {
                @include typography-split-button-s;
            }

            &.size-m {
                @include typography-split-button-m;
            }

            &.size-l {
                @include typography-split-button-l;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: var(--background-brand-hover);
        }

        &:active {
            background-color: var(--background-brand-pressed);
        }

        &:disabled {
            background-color: var(--background-disabled);
            color: var(--content-disabled);
            border-top: 1px solid var(--border-disabled);
            border-bottom: 1px solid var(--border-disabled);
            border-left: 1px solid var(--border-disabled);
            cursor: not-allowed;
        }

        &:focus {
            outline: none;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: -8px;
                left: -8px;
                bottom: -8px;
                right: -1px;
                border: 1px solid var(--border-brand-focused);
                pointer-events: none;
                border-radius: $radius-s;
                z-index: 2;
            }
        }
    }

    .split-button-divider {
        width: 1px;
        height: 100%;
        background-color: var(--content-primary-inverse);

        &.disabled {
            background-color: var(--border-disabled);
        }
    }

    .split-button-right-container {
        display: flex;
        position: relative;
        padding: $positive-spacing_0;
        align-items: center;
        justify-content: center;
        gap: $positive-spacing_0;
        align-self: stretch;

        &.size-s {
            width: 24px;
        }

        &.size-m {
            width: 34px;
        }

        &.size-l {
            width: 44px;
        }

        .split-button-right {
            display: flex;
            border: none;
            padding: $positive-spacing_075 $positive-spacing_200;
            align-items: center;
            justify-content: center;
            align-self: stretch;

            border-radius: $radius-none $radius-s $radius-s $radius-none;
            border-color: var(--border-brand-default);
            background-color: var(--background-brand-default);

            color: var(--content-primary-inverse);

            &:hover {
                cursor: pointer;
                background-color: var(--background-brand-hover);
            }

            &:active {
                background-color: var(--background-brand-pressed);
            }

            &:disabled {
                background-color: var(--background-disabled);
                color: var(--content-disabled);
                border-top: 1px solid var(--border-disabled);
                border-bottom: 1px solid var(--border-disabled);
                border-right: 1px solid var(--border-disabled);
                cursor: not-allowed;
            }

            &:focus {
                outline: none;
                position: relative;
                z-index: 1;

                &::after {
                    content: '';
                    position: absolute;
                    top: -8px;
                    left: -1px;
                    bottom: -8px;
                    right: -8px;
                    border: 1px solid var(--border-brand-focused);
                    pointer-events: none;
                    border-radius: $radius-s;
                    z-index: 2;
                }
            }

            .split-button-right-icon-container {
                pointer-events: none;
            }
        }

        .split-button-dropdown {
            position: absolute;

            &.position-bottom-start {
                top: 100%;
                left: 0;
            }

            &.position-bottom-end {
                top: 100%;
                right: 0;
            }

            &.position-top-start {
                bottom: 100%;
                left: 0;
            }

            &.position-top-end {
                bottom: 100%;
                right: 0;
            }
        }
    }
}

.animation-slide-from-top {
    animation: slide-from-top 0.2s ease-in-out;
}

@keyframes slide-from-top {
    from {
        transform: translateY(-10px);
        pointer-events: none;
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}