@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

:host {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.rte-header-left-section {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
}

.rte-header-home {
  display: inline-flex;
  align-items: center;
  gap: $positive-spacing_100;
  text-decoration: none;
  padding: 0 $positive-spacing_100;
  color: var(--content-secondary);

  &:focus-visible {
    border-radius: $radius-s;
    outline: 1px solid var(--border-brand-focused);
    outline-offset: 4px;
  }
}

.rte-header-logo {
  width: 28px;
  height: 28px;
  flex: 0 0 auto;
  border-radius: $radius-s;
}

.rte-header-app-name {
  @include typography-heading-s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rte-header-version {
  display: flex;
  position: absolute;
  bottom: $positive-spacing_075;
  right: $positive-spacing_100;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--content-secondary);
  @include typography-text-xs;
}