@use '@design-system-rte/core/design-tokens/main.scss' as *;

.switch-container {
    display: inline-flex;
    align-items: center;
    gap: $positive-spacing_150;
    position: relative;

    &:hover {
        .switch-icon-check {
            background-color: var(--background-neutral-bold-hover);
        }
    }

    &.checked {

        &:hover {
            .switch {
                background-color: var(--background-brand-selected-hover);
            }
        }
    }

    .switch {
        appearance: none;
        cursor: pointer;
        position: relative;
        display: block;
        padding: $positive-spacing_0;
        margin: $positive-spacing_0;
        background-color: var(--background-neutral-regular-default);
        border: $width-s solid var(--border-primary);
        border-radius: $radius-pill;
        transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;

        &:focus-visible{
            outline: 1px solid var(--border-brand-focused);
            outline-offset: 4px;
        }
    }

    .checked {
        background-color: var(--background-brand-selected-default);
        border: none;
    }

    .switch-icon-check {
        content: '';
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: var(--background-neutral-bold-default);
        color: var(--background-default);
        height: 16px;
        width: 16px;
        border-radius: $radius-pill;
        top: calc(50% - 8px);
        left: 4px;

        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, transform 0.4s ease-in-out;

        &.checked {
            background-color: var(--background-default);
            color: var(--background-brand-selected-default);
            transform: translateX(16px);
        }
    }

    &.appearance-neutral {

        .switch {
            background-color: var(--background-neutral-regular-default);
            border: $width-s solid var(--border-primary);
        }

        .switch-icon-check {
            background-color: var(--background-neutral-bold-default);
            color: var(--content-primary-inverse);
            border: none;
        }

        &:hover {
            .switch-icon-check {
                background-color: var(--background-neutral-bold-hover);
            }
        }

        &.checked {
            .switch {
                background-color: var(--background-neutral-bold-default);
                border: none;
            }

            .switch-icon-check {
                background-color: var(--background-default);
                color: var(--content-tertiary);
            }

            &:hover {
                .switch {
                    background-color: var(--background-neutral-bold-hover);
                }
            }
        }

        &.read-only {
            cursor: not-allowed;

            &:hover {
                .switch {
                    background-color: var(--background-disabled);
                }
            }

            .switch {
                background-color: var(--background-disabled);
                border: none;
            }

            .switch-icon-check {
            cursor: not-allowed;
                top: calc(50% - 10px);
                left: 2px;
                background-color: var(--background-default);
                color: var(--border-primary);
                border: $width-s solid var(--border-primary);

                .icon{
                    cursor: not-allowed;
                }
            }
        }

        &.disabled {
            cursor: not-allowed;

            .switch {
                background-color: var(--background-disabled);
                border: none;
            }

            .switch-icon-check {
            cursor: not-allowed;
                top: calc(50% - 10px);
                left: 2px;
                background-color: var(--background-default);
                color: var(--border-disabled);
                border: $width-s solid var(--border-disabled);

                .icon{
                    cursor: not-allowed;
                }
            }
        }

    }

    .switch-label {
        cursor: pointer;
        @include typography-text-l;
        color: var(--content-primary);
        word-wrap: break-word;
    }

    &.read-only {
        cursor: not-allowed;

        &:hover {
            .switch {
                background-color: var(--background-disabled);
            }
        }

        .switch {
            cursor: not-allowed;
            background-color: var(--background-disabled);
            border: none;
        }

        .switch-icon-check {
            cursor: not-allowed;
            top: calc(50% - 10px);
            left: 2px;
            background-color: var(--background-default);
            color: var(--border-primary);
            border: $width-s solid var(--border-primary);
        }

        .switch-label {
            cursor: not-allowed;
            color: var(--content-tertiary);
        }
    }

    &.disabled {
        cursor: not-allowed;

        &:hover {
            .switch {
                background-color: var(--background-disabled);
            }
        }

        .switch {
            cursor: not-allowed;
            background-color: var(--background-disabled);
            border: none;
        }

        .switch-icon-check {
            cursor: not-allowed;
            top: calc(50% - 10px);
            left: 2px;
            background-color: var(--background-default);
            color: var(--border-disabled);
            border: $width-s solid var(--border-disabled);
        }

        .switch-label {
            cursor: not-allowed;
            color: var(--content-disabled);
        }
    }
}