@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.assistive-text {
  @include typography-text-s;
  display: flex;
  align-items: center;
  gap: $positive-spacing_050;
  padding: $positive-spacing_050 $positive-spacing_100;
  color: var(--content-secondary);

  .assistive-icon-error {
    color: var(--content-danger-default);
  }

  .assistive-icon-success {
    color: var(--content-success-default);
  }

  .assistive-label {

    transition: color 200ms;

    &[data-appearance="error"] {
      color: var(--content-danger-default);
      @include typography-text-input-s-bold;
      margin: $positive-spacing-0;
    }

    &[data-appearance="success"] {
      color: var(--content-success-default);
      @include typography-text-input-s-bold;
      margin: $positive-spacing-0;
    }

    &[data-appearance="description"] {
      color: var(--content-tertiary);
      @include typography-text-input-tertiary-regular;
      margin: $positive-spacing-0;
    }
  }
}