@use '@design-system-rte/core/design-tokens/main.scss' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;

  thead {
    .headerCell {
      @include typography-storybook-header-content;
      color: #21272A;
      text-align: left;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid #E5E5E5;
      font-weight: 600;
    }
  }

  tbody {
    .row {
      border-bottom: 1px solid #E5E5E5;

      &:last-child {
        border-bottom: none;
      }

      .cell {
        @include typography-text-m;
        color: #201F1F;
        padding: 0.75rem 1rem;
      }
    }
  }
}

