@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: $radius-s;
    @include elevation-neutral-shadow-2;
    transition: all 300ms;

    &:hover {
        @include elevation-neutral-shadow-3;
    }

    &[data-disabled='true'] {
        background: var(--background-disabled);
        opacity: $opacity-30;
        box-shadow: none;
        pointer-events: none;

        &[data-card-type='outlined'] {
            border: $width-xs solid var(--border-disabled);
        }
    }

    &[data-card-type='outlined'] {
        flex-shrink: 0;
        border: $width-xs solid var(--border-tertiary);
        box-shadow: none;
    }

    &[data-clickable='true'] {
        cursor: pointer;
    }
}