@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: $radius-s;
    @include elevation-neutral-shadow-1;
    transition: background-color 300ms, box-shadow 300ms;

    &:hover {
        @include elevation-neutral-shadow-2;
    }

    &[data-disabled='true'] {
        background: var(--background-disabled);
        opacity: $opacity-30;
        box-shadow: none;
        pointer-events: none;

        &[data-card-type='outlined'] {
            border: $width-xs solid var(--border-disabled);
            background: var(--background-disabled);
            box-shadow: none;
        }
    }

    &[data-card-type='outlined'] {
        @include elevation-neutral-shadow-1;
        flex-shrink: 0;
        border: $width-xs solid var(--border-tertiary);

        &:active {
            &[data-clickable='true'] {
                border-color: var(--border-secondary);
            }
        }
    }

    &[data-clickable='true'] {
        cursor: pointer;
    }

    &:focus-visible {
        outline: $width-xs solid var(--border-brand-focused);
        outline-offset: $width-m;
    }
}