@use '@design-system-rte/core/design-tokens/main.scss' as *;

.treeview {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 $positive-spacing_025;

  &.has-nested-items {
    --treeview-root-indent: 16px;
  }

  > rte-treeview-item:not(:first-child) > .treeview-item {
    padding-top: $positive-spacing_100;
  }

  &.compact > rte-treeview-item:not(:first-child) > .treeview-item {
    padding-top: $positive-spacing_050;
  }
}
