@use 'sass:map';
@use '../public/themes/index' as *;

@mixin neutral-top-bottom {
  background: linear-gradient(180deg, hsla(0, 4%, 5%, 1), hsla(0, 4%, 5%, 0));
}

@mixin neutral-top-bottom-light {
  background: linear-gradient(180deg, hsla(0, 4%, 5%, 0.6), hsla(0, 4%, 5%, 0));
}

@mixin neutral-top-bottom-smooth {
  background: linear-gradient(180deg,
      hsla(0, 4%, 5%, 0.84), hsla(0, 4%, 5%, 0.8), hsla(0, 4%, 5%, 0.75), hsla(0, 4%, 5%, 0.71), hsla(0, 4%, 5%, 0.67), hsla(0, 4%, 5%, 0.63), hsla(0, 4%, 5%, 0.59), hsla(0, 4%, 5%, 0.54), hsla(0, 4%, 5%, 0.49), hsla(0, 4%, 5%, 0.44), hsla(0, 4%, 5%, 0.38), hsla(0, 4%, 5%, 0.32), hsla(0, 4%, 5%, 0.25), hsla(0, 4%, 5%, 0.18), hsla(0, 4%, 5%, 0.09), hsla(0, 4%, 5%, 0));
}

@mixin neutral-bottom-top {
  background: linear-gradient(0deg, hsla(0, 4%, 5%, 1), hsla(0, 4%, 5%, 0));
}

@mixin neutral-bottom-top-light {
  background: linear-gradient(0deg, hsla(0, 4%, 5%, 0.6), hsla(0, 4%, 5%, 0));
}

@mixin neutral-bottom-top-smooth {
  background: linear-gradient(0deg,
      hsla(0, 4%, 5%, 0.84), hsla(0, 4%, 5%, 0.8), hsla(0, 4%, 5%, 0.75), hsla(0, 4%, 5%, 0.71), hsla(0, 4%, 5%, 0.67), hsla(0, 4%, 5%, 0.63), hsla(0, 4%, 5%, 0.59), hsla(0, 4%, 5%, 0.54), hsla(0, 4%, 5%, 0.49), hsla(0, 4%, 5%, 0.44), hsla(0, 4%, 5%, 0.38), hsla(0, 4%, 5%, 0.32), hsla(0, 4%, 5%, 0.25), hsla(0, 4%, 5%, 0.18), hsla(0, 4%, 5%, 0.09), hsla(0, 4%, 5%, 0));
}

@mixin neutral-left-right {
  background: linear-gradient(90deg, hsla(0, 4%, 5%, 1), hsla(0, 4%, 5%, 0));
}

@mixin neutral-left-right-light {
  background: linear-gradient(90deg, hsla(0, 4%, 5%, 0.6), hsla(0, 4%, 5%, 0));
}

@mixin neutral-left-right-smooth {
  background: linear-gradient(90deg,
      hsla(0, 4%, 5%, 0.84), hsla(0, 4%, 5%, 0.8), hsla(0, 4%, 5%, 0.75), hsla(0, 4%, 5%, 0.71), hsla(0, 4%, 5%, 0.67), hsla(0, 4%, 5%, 0.63), hsla(0, 4%, 5%, 0.59), hsla(0, 4%, 5%, 0.54), hsla(0, 4%, 5%, 0.49), hsla(0, 4%, 5%, 0.44), hsla(0, 4%, 5%, 0.38), hsla(0, 4%, 5%, 0.32), hsla(0, 4%, 5%, 0.25), hsla(0, 4%, 5%, 0.18), hsla(0, 4%, 5%, 0.09), hsla(0, 4%, 5%, 0));
}

@mixin neutral-right-left {
  background: linear-gradient(270deg, hsla(0, 4%, 5%, 1), hsla(0, 4%, 5%, 0));
}

@mixin neutral-right-left-light {
  background: linear-gradient(270deg, hsla(0, 4%, 5%, 0.6), hsla(0, 4%, 5%, 0));
}

@mixin neutral-right-left-smooth {
  background: linear-gradient(270deg,
      hsla(0, 4%, 5%, 0.84), hsla(0, 4%, 5%, 0.8), hsla(0, 4%, 5%, 0.75), hsla(0, 4%, 5%, 0.71), hsla(0, 4%, 5%, 0.67), hsla(0, 4%, 5%, 0.63), hsla(0, 4%, 5%, 0.59), hsla(0, 4%, 5%, 0.54), hsla(0, 4%, 5%, 0.49), hsla(0, 4%, 5%, 0.44), hsla(0, 4%, 5%, 0.38), hsla(0, 4%, 5%, 0.32), hsla(0, 4%, 5%, 0.25), hsla(0, 4%, 5%, 0.18), hsla(0, 4%, 5%, 0.09), hsla(0, 4%, 5%, 0));
}