@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.chip {
  overflow: hidden;
  color: var(--content-brand-default);
  text-overflow: ellipsis;
  display: inline-flex;
  padding: $positive-spacing_050 $positive-spacing_150;
  justify-content: center;
  align-items: center;
  gap: $positive-spacing_0;
  border-radius: $radius-pill;
  background: var(--background-brand-unselected-default);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--content-brand-hover);
    background: var(--background-brand-unselected-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--border-brand-focused);
    outline-offset: 4px;
  }

  &[data-disabled='true'] {
    cursor: default;
    color: var(--content-disabled);
    background: var(--background-disabled);
    outline: none;
  }

  &[data-selected="true"] {
    color: var(--content-primary-inverse);
    background: var(--background-brand-selected-default);

    &:hover {
      background: var(--background-brand-selected-hover);
    }

    &[data-disabled='true'] {
      cursor: default;
      color: var(--content-disabled);
      background: var(--background-disabled);
    }
  }

  &[data-compact-spacing='true'] {
    padding: $positive-spacing_0 $positive-spacing_150;
  }

  &[data-type='input'] {
    padding: $positive-spacing_0 $positive-spacing_050;
    pointer-events: none;
  }
}

.chip-label {
  @include typography-button-m;
  padding: $positive-spacing_0 $positive-spacing_075;

  &[data-type='input'] {
    @include typography-text-m;
    padding: $positive-spacing_0 $positive-spacing_100;
  }
}

.chip-icon-container {
  position: relative;
  width: 16px;
  height: 16px;
}

.chip-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  pointer-events: none;
}

.chip-icon--visible {
  opacity: 1;
  pointer-events: auto;
}

.chip-close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: $positive-spacing_0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--content-brand-default);
  border-radius: $radius-pill;
  width: 16px;
  height: 16px;
  pointer-events: auto;
  transition: background-color 200ms ease-in-out;

  &:disabled {
    cursor: default;
    color: var(--content-disabled);
    background: var(--background-disabled);
    outline: none;
  }

  &:hover:not(:disabled) {
    background: var(--background-brand-hover);
    color: var(--background-brand-unselected-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--border-brand-focused);
  }

  &--icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}