<div class="rte-breadcrumb-item">
  @if (isLast()) {
    @if (breadcrumbItemMaxWidth()) {
      <a
        role="link"
        aria-current="page"
        tabindex="0"
        rteTooltipPosition="bottom"
        [attr.aria-label]="item()!.label"
        [style]="linkStyle()"
        [rteTooltip]="item()!.label"
        [rteTooltipShowOnEllipsis]="true"
      >
        {{ item()!.label }}
      </a>
    } @else {
      <a role="link" aria-current="page" tabindex="0" [attr.aria-label]="item()!.label">
        {{ item()!.label }}
      </a>
    }
    @if (shouldDisplayBadge()) {
      <rte-badge
        [count]="item()!.badgeCount"
        [badgeContent]="item()!.badgeContent!"
        [icon]="item()!.badgeIcon!"
        [badgeType]="item()!.badgeType!"
        [simpleBadge]="true"
        [badgeSize]="item()!.badgeSize!"
      />
    }
  } @else {
    @if (breadcrumbItemMaxWidth()) {
      <div
        rteTooltipPosition="bottom"
        [rteTooltip]="item()!.label"
        [style]="tooltipTriggerStyle()"
        [style.overflow]="'unset'"
        [rteTooltipShouldFocusTrigger]="false"
        [rteTooltipShowOnEllipsis]="true"
      >
        @if (navigationHref()) {
          <rte-link
            [href]="navigationHref()!"
            [externalLink]="!!item()?.externalLink"
            [label]="item()!.label"
            [subtle]="true"
            [maxWidth]="breadcrumbItemMaxWidth()"
          />
        } @else {
          <rte-link
            [routerLink]="navigationRouterLink()!"
            [routerLinkConfig]="item()?.routerLinkConfig"
            [label]="item()!.label"
            [subtle]="true"
            [maxWidth]="breadcrumbItemMaxWidth()"
          />
        }
      </div>
    } @else {
      @if (navigationHref()) {
        <rte-link
          [href]="navigationHref()!"
          [externalLink]="!!item()?.externalLink"
          [label]="item()!.label"
          [subtle]="true"
          [maxWidth]="breadcrumbItemMaxWidth()"
        />
      } @else {
        <rte-link
          [routerLink]="navigationRouterLink()!"
          [routerLinkConfig]="item()?.routerLinkConfig"
          [label]="item()!.label"
          [subtle]="true"
          [maxWidth]="breadcrumbItemMaxWidth()"
        />
      }
    }
    @if (shouldDisplayBadge()) {
      <rte-badge
        [count]="item()!.badgeCount"
        [badgeContent]="item()!.badgeContent!"
        [icon]="item()!.badgeIcon!"
        [badgeType]="item()!.badgeType!"
        [simpleBadge]="true"
        [badgeSize]="item()!.badgeSize!"
      />
    }
  }
</div>
