@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.storybook_tabs {
  .storybook_tabs_header {
    display: flex;
    align-items: center;
  }

  .storybook_tab_title {
    margin: 0;
    padding: $positive-spacing_150;
    margin-bottom: $positive-spacing_300;
    cursor: pointer;
    border-bottom: $width-s solid transparent;
    color: var(--content-secondary);
    @include typography-text-m-regular;
    background: none;
    transition: border-color 0.3s, color 0.3s;

    &.active {
      border-bottom-color: var(--content-brand-default);
      @include typography-text-m-bold;
    }
  }
}

