@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-toast {
  @include elevation-neutral-shadow-2;
  display: flex;
  width: 400px;
  min-width: 240px;
  max-width: 336px;
  padding: $positive-spacing_100 $positive-spacing_050 $positive-spacing_100 $positive-spacing_200;
  align-items: center;
  border-radius: $radius-s;
  border-bottom: $width-m solid var(--border-info);
  color: var(--content-primary);
  background-color: var(--background-default);
  z-index: $level-1;

  position: fixed;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;

  opacity: 0;
  transition: opacity 300ms ease, transform 200ms ease;

  &.top {
    top: $positive-spacing_150;
  }

  &.bottom {
    bottom: $positive-spacing_150;

    &.center {
      left: 50%;

      transform: translate(-50%, 10px);

      &.open {
        opacity: 1;

        transform: translate(-50%, 0);
      }
    }


  }

  &.left {
    left: $positive-spacing_150;

    transform: translate(-10px, 0);

    &.open {
      opacity: 1;

      transform: translate(0, 0);

    }
  }

  &.right {
    right: $positive-spacing_150;

    transform: translate(10px, 0);

    &.open {
      opacity: 1;

      transform: translate(0, 0);

    }
  }


  .rte-toast-message {
    @include typography-text-s;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .rte-toast-icon {
    flex: 1 0 auto;
  }

  .rte-toast-content {
    display: flex;
    align-items: center;
    gap: $positive-spacing_150;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
  }

  &.info {
    border-bottom-color: var(--border-info);

    .rte-toast-icon {
      color: var(--content-info-default);
    }
  }

  &.error {
    border-bottom-color: var(--border-danger);

    .rte-toast-icon {
      color: var(--content-danger-default);
    }
  }

  &.success {
    border-bottom-color: var(--border-success);

    .rte-toast-icon {
      color: var(--content-success-default);
    }
  }

  &.warning {
    border-bottom-color: var(--border-warning);

    .rte-toast-icon {
      color: var(--content-warning-default);
    }
  }

  &.neutral {
    background-color: var(--background-inverse);
    color: var(--content-primary-inverse);
    border-bottom-color: var(--border-primary);
  }
}