<div
  role="tablist"
  aria-label="Sample Tabs"
  class="rte-tab-container"
  [attr.data-alignment]="alignment()"
  [attr.data-direction]="direction()"
>
  <span
    class="rte-tab-selected-indicator"
    [ngStyle]="tabItemSelectedIndicatorStyle()"
  ></span>
  <ng-container *ngFor="let option of options(); let idx = index">
    <!-- <button
      #tabItem
      class="rte-tabitem"
      role="tab"
      [id]="option.id"
      [attr.aria-selected]="isSelected(option.id)"
      [attr.aria-controls]="option.panelId"
      [tabIndex]="isSelected(option.id) ? 0 : -1"
      [attr.data-selected]="isSelected(option.id)"
      [attr.data-compact-spacing]="compactSpacing()"
      [attr.data-disabled]="option.disabled"
      (click)="onClickTabItem(option.id)"
      (keydown)="onKeydownTabItem($event)"
      (mouseover)="handleMouseHover($event)"
      (mouseout)="handleMouseOut($event)"
    >
      <rte-icon
        *ngIf="option.icon"
        [name]="option.icon"
        [appearance]="isSelected(option.id) ? 'filled' : 'outlined'"
      />
      <span *ngIf="option.label">{{ option.label }}</span>
      <rte-badge
        *ngIf="displayBadge(option)"
        [simpleBadge]="true"
        [badgeAppearance]="option.badgeAppearance || 'empty'"
        [badgeType]="option.badgeType || 'neutral'"
        [icon]="option.badgeIcon || ''"
        [count]="option.badgeCount"
      />
    </button>
    <span
      #hoverIndicator
      [attr.data-disabled]="option.disabled"
      class="rte-tab-hover-indicator"
      [id]="'tab-hover-indicator' + option.id"
    ></span> -->
    <rte-tab-item
      #tabItem
      [option]="option"
      [compactSpacing]="compactSpacing()"
      [isSelected]="isSelected(option.id)"
      (keydown)="onKeydownTabItem($event)"
      (click)="onClickTabItem(option.id)"
    ></rte-tab-item>
  </ng-container>
</div>
