<nav
  class="breadcrumbs-container"
  role="navigation"
  [attr.aria-label]="ariaLabel()"
  [ngClass]="{ truncated: truncatedItems()?.truncated?.length }"
>
  @if (truncatedItems()?.truncated?.length) {
    <rte-breadcrumb-item
      [item]="truncatedItems()!.root"
      [breadcrumbItemMaxWidth]="breadcrumbItemMaxWidth()"
    />
    <span aria-hidden="true" class="separator">/</span>
    <span class="breadcrumb-item" rteDropdown [rteDropdownOffset]="8">
      <rte-icon-button
        rteDropdownTrigger
        name="more-horiz"
        role="menu"
        variant="neutral"
        aria-label="More items"
        data-testid="show-more"
        dropdownTrigger
        tabindex="-1"
        [compactSpacing]="true"
      />
      <rte-dropdown-menu [items]="truncatedItems()?.truncated ?? []" />
    </span>
    <span aria-hidden="true" class="separator">/</span>
    @for (
      item of truncatedItems()!.remaining;
      track item.link;
      let i = $index
    ) {
      <rte-breadcrumb-item
        [item]="item"
        [breadcrumbItemMaxWidth]="breadcrumbItemMaxWidth()"
        [isLast]="i === truncatedItems()!.remaining.length - 1"
      />
      @if (i < truncatedItems()!.remaining.length - 1) {
        <span aria-hidden="true" class="separator">/</span>
      }
    }
  } @else {
    @for (item of items(); track item.link; let i = $index) {
      <rte-breadcrumb-item
        [item]="item"
        [breadcrumbItemMaxWidth]="breadcrumbItemMaxWidth()"
        [isLast]="i === items().length - 1"
      />
      @if (i < items().length - 1) {
        <span aria-hidden="true" class="separator">/</span>
      }
    }
  }
</nav>
