<div *ngIf="isDisplayed()" class="radio-button-group-container">
  <fieldset
    class="radio-button-group-fieldset"
    [attr.aria-describedby]="isError() && errorText() ? errorMessageId : null"
    [ngClass]="{
      disabled: disabled(),
      error: isError(),
      'read-only': isReadOnly(),
    }"
  >
    <div class="radio-button-group-title-container" [attr.data-show-label-requirement]="showLabelRequirement()">
      <legend *ngIf="groupTitleText()" class="group-title">{{ groupTitleText() }}</legend>
      <rte-required-indicator
        *ngIf="required() || showLabelRequirement()"
        [required]="required()"
        [showLabelRequirement]="showLabelRequirement()"
      />
    </div>
    <p *ngIf="groupHelpText()" class="group-help-text">
      {{ groupHelpText() }}
    </p>
    <p *ngIf="isError() && errorText()" class="group-error-message" [attr.id]="errorMessageId">
      {{ errorText() }}
    </p>
    <div
      class="radio-button-group"
      [ngClass]="{ horizontal: direction() === 'horizontal', vertical: direction() === 'vertical' }"
    >
      <ng-container *ngFor="let item of items()">
        <rte-radio-button
          [label]="showItemsLabel() ? item.label : ''"
          [groupName]="groupName()"
          [disabled]="disabled()"
          [error]="isError()"
          [readOnly]="isReadOnly()"
          [value]="item.value"
          [isChecked]="item.value === internalSelectedValue()"
          [ariaLabel]="item.ariaLabel"
          [ariaLabelledBy]="item.ariaLabelledBy"
          (changeEvent)="onChange(item.value)"
        />
      </ng-container>
    </div>
  </fieldset>
</div>
