<div #fileUploadRef class="rte-file-upload">
  @if (showLabel()) {
    <label class="rte-file-upload-label" [attr.for]="id()">
      <span>{{ label() }}</span>
      @if (required() || showLabelRequirement()) {
        <span
          class="requirement-indicator"
          aria-hidden="true"
          [class.required]="required()"
          [class.show-label-requirement]="showLabelRequirement()"
          >{{ requirementIndicatorValue() }}</span
        >
      }
    </label>
  }

  @if (shouldDisplayAssistiveText()) {
    <rte-assistive-text
      [label]="assistiveTextLabel()"
      [appearance]="isError() ? 'error' : assistiveAppearance()"
      [showIcon]="showAssistiveIcon()"
      [href]="assistiveTextLink()"
    />
  }

  <input
    #inputRef
    type="file"
    class="rte-file-upload-input"
    [attr.id]="id()"
    [multiple]="multiple()"
    [disabled]="disabled()"
    [attr.accept]="accept() || null"
    [attr.aria-label]="showLabel() ? null : label()"
    (change)="handleOnChange($event)"
  />

  <button
    #buttonRef
    type="button"
    rteButton
    rteButtonVariant="primary"
    rteButtonIcon="upload"
    rteButtonIconPosition="left"
    [rteButtonSize]="buttonSize()"
    [disabled]="disabled()"
    [class.rte-file-upload-button-compact]="compactSpacing()"
    (click)="handleOnClick($event)"
  >
    {{ buttonLabel() }}
  </button>

  <div [style.width]="buttonWidth()">
    @for (file of selectedFiles(); track file.name + file.lastModified; let i = $index) {
      <rte-file-item
        [file]="file"
        [isError]="isFileError(i)"
        [errorMessage]="getFileErrorMessage(i)"
        [compact]="compactSpacing()"
        [isLoading]="isFileLoading(file)"
        (removeFile)="handleRemoveFile(file)"
      />
    }
  </div>
</div>
