.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 2rem;
    margin-bottom: 2rem;

    .header_left_container {
        width: 29rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding-left: 32px;

        .title {
            color: var(--content-brand-pressed);
            font-family: Bryant;
            font-size: 160px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: var(--heading-5XL-semibold-letter-spacing);
        }

        .text {
            color: #21272A;
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: -0.02em;
            margin: 0;
        }

        .button {
            border: none;
            height: 40px;
            padding: 6px 16px;
            border-radius: 8px;
            background-color: #2964A0;
            color: #FFFFFF;
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: 0rem;
            cursor: pointer;

            &:hover {
                background-color: #225082;
            }

            &:active {
                background-color: #214770;
            }

            &:focus-visible {
                outline: 1px solid #2964A0;
                outline-offset: 4px;
            }
        }
    }

    .header_right_container {
        width: 30rem;
        display: flex;
        align-items: center;
        border-radius: 8px;

        .img {
            height: 45vh;
            border-radius: 8px 0 0 8px;
        }
    }

    overflow: hidden;
}