@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.user_card_container {
    display: flex;
    padding: $positive-spacing_250;
    justify-content: center;
    align-items: center;
    gap: $positive-spacing_200;
    border-radius: $radius-xl;
    border: $width-xs solid var(--border-tertiary);

    .user_card_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .img {
        max-width: 130px;
    }

    .title {
        color: var(--content-brand-hover);
        @include typography-heading-l;
    }

    .content {
        color: var(--content-secondary);
        @include typography-text-m-regular;
    }

    p {
        margin: 0;
    }

    .user_card_extra {
        .user_devs_extra {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        a.user_devs_extra_link {
            color: var(--content-link-default);
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: underline;
        }
    }
}


.explanation_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex: 1 0 0;

    border: 1px solid #DDE1E6;

    .card_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 24px 16px;
        gap: 16px;
        height: 100%;

        p {
            margin: 0
        }

        .title {
            color: #21272A;
            font-family: 'Nunito', sans-serif;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -0.5px;
        }

        .content {
            color: #21272A;
            font-family: 'Arial';
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }

        .link {
            color: #1465FC;
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.main-content {

    margin-bottom: 32px;

    .main_title {
        color: var(--content-secondary);
        @include typography-heading-xl;
        margin-bottom: 2rem;
        padding: 0;
        border: 0;
    }

    .main_user_card_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 2rem;
    }

    .main_explanation_card_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}