@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-header {
  width: 100%;
  display: block;
  position: relative;

  &[data-sticky='true'] {
    position: sticky;
    top: 0;
    z-index: $level-2;
  }

  &[data-sticky='true'][data-visible='false'] {
    transform: translateY(-100%);
  }

  &[data-sticky='true'] {
    transition: transform 150ms;
  }

  @media (prefers-reduced-motion: reduce) {
    &[data-sticky='true'] {
      transition: none;
    }
  }
}

.rte-header-main {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  background: var(--background-default);
  width: 100%;
  box-sizing: border-box;

  .rte-header[data-compact='true'] & {
    height: 64px;
  }

}

.rte-header-left {
  display: flex;
  align-items: center;
  padding: 0 $positive-spacing_200 0 $positive-spacing_100;

  &:has([rteHeaderLeft]) {
    .rte-header-home {
      display: none;
    }
  }

  &:not(:has([rteHeaderLeft])) {
    .rte-header-left-slot {
      display: none;
    }
  }
}

.rte-header-left-slot {
  display: flex;
  align-items: center;
}

.rte-header-mid {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $positive-spacing_200;
  padding: 0 $positive-spacing_250;
}

.rte-header-nav {
  flex: 1 1 auto;
}

.rte-header-nav-list {
  display: flex;
  align-items: center;
  gap: $positive-spacing_200;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.rte-header-nav-item {
  flex: 0 1 auto;
  padding: $positive-spacing_025 $positive-spacing_100;
}

.rte-header-nav-link {
  display: block;
  max-width: 100%;
  text-decoration: none;
  color: var(--content-brand-default);
  @include typography-button-s;
  padding: 0 $positive-spacing_050;
  border-radius: $radius-s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus-visible {
    outline: 1px solid var(--border-brand-focused);
    outline-offset: 2px;
  }
}

.rte-header[data-appearance='neutral'] .rte-header-nav-link {
  color: var(--content-primary);
}

.rte-header-nav-item[data-active='true'] .rte-header-nav-link {
  font-weight: $button-s-semibold-font-weight;
}

.rte-header-nav-item[data-disabled='true'] .rte-header-nav-link {
  opacity: 0.6;
  pointer-events: none;
}

.rte-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $positive-spacing_250;
  padding: 0 $positive-spacing_200;
  flex: 0 0 auto;
}

.rte-header-icon-buttons {
  display: flex;
  align-items: center;
  gap: $positive-spacing_025;

  ::ng-deep {
    rte-icon-button {
      .rte-icon-button {
        background: transparent;
      }
    }
  }
}

.rte-header-icon-button-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rte-header-action-button-icon {
  margin-right: $positive-spacing_075;
}

.rte-header-right-slot {
  display: flex;
  align-items: center;
}

.rte-header-subheader {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 $positive-spacing_200;
  background: var(--background-default);
  box-sizing: border-box;
  height: 48px;

  &.compact {
    height: 24px;
  }
}