<div *ngIf="isDisplayed()" class="radio-button-group-container">
  <fieldset
    class="radio-button-group-fieldset"
    [attr.aria-describedby]="error() && errorMessage() ? errorMessageId : null"
    [ngClass]="{
      disabled: disabled(),
      error: error(),
      'read-only': readOnly(),
    }"
  >
    <div class="radio-button-group-title-container" [attr.data-show-label-requirement]="showLabelRequirement()">
      <legend *ngIf="showGroupTitle() && groupTitle()" class="group-title">{{ groupTitle() }}</legend>
      <rte-required-indicator
        *ngIf="required() || showLabelRequirement()"
        [required]="required()"
        [showLabelRequirement]="showLabelRequirement()"
      />
    </div>
    <p *ngIf="showHelpText() && groupHelpText()" class="group-help-text">
      {{ groupHelpText() }}
    </p>
    <p *ngIf="error() && errorMessage()" class="group-error-message" [attr.id]="errorMessageId">
      {{ errorMessage() }}
    </p>
    <div
      class="radio-button-group"
      [ngClass]="{ horizontal: direction() === 'horizontal', vertical: direction() === 'vertical' }"
    >
      <ng-container *ngFor="let item of items()">
        <rte-radio-button
          [label]="showItemsLabel() ? item.label : ''"
          [groupName]="groupName()"
          [disabled]="disabled()"
          [error]="error()"
          [readOnly]="readOnly()"
          [value]="item.value"
          [isChecked]="item.value === internalSelectedValue()"
          [ariaLabel]="item.ariaLabel"
          [ariaLabelledBy]="item.ariaLabelledBy"
          (changeEvent)="onChange(item.value)"
        />
      </ng-container>
    </div>
  </fieldset>
</div>
