@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-segmented-control {
  position: relative;
  display: flex;
  min-width: 168px;
  max-width: 720px;
  height: 48px;

  &[data-number-of-segments="3"] {
    min-width: 256px;
  }
}

.rte-segment-selected-indicator {
  position: absolute;
  top: 4px;
  height: 40px;
  background: var(--background-default);
  border-radius: $radius-pill;
  transition: left 0.2s ease-out, width 0.2s ease-out;
}

.rte-segment-container {
  display: flex;
  border-top: $width-xs solid var(--border-inverse);
  border-bottom: $width-xs solid var(--border-inverse);
  background: var(--background-brand-default);
  padding: $positive-spacing_050 $positive-spacing_025;
  align-items: center;
  flex: 1 0 0;
  overflow: hidden;


  &[data-position="left"] {
    border-radius: $radius-pill $radius-none $radius-none $radius-pill;
    border-left: $width-xs solid var(--border-inverse);
    background: var(--background-brand-default);
    padding-left: $positive-spacing_050;
  }

  &[data-position="right"] {
    border-radius: $radius-none $radius-pill $radius-pill $radius-none;
    border-right: $width-xs solid var(--border-inverse);
    background: var(--background-brand-default);
    padding-right: $positive-spacing_050;
  }
}

.rte-segment {
  display: flex;
  padding: $positive-spacing_075 $positive-spacing_100;
  align-items: center;
  border-radius: $radius-pill ;
  color: var(--content-primary-inverse);
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  z-index: 0;

  &:focus-visible {
    outline: $width-xs solid var(--border-inverse);
    outline-offset: -2px;
  }

  &.selected {
    transition: color 0.2s ease-out;
    color: var(--content-brand-default);

    &:focus-visible {
      outline: $width-xs solid var(--border-brand-focused);
    }
  }

  &:hover {
    &:not(.selected) {
      background: var(--background-brand-hover);
      cursor: pointer;
    }
  }

  &[data-segment-type="icon"] {
    padding: $positive-spacing_100;
  }

  .rte-segment-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .rte-segment-label {
      @include typography-button-l;
      padding: $positive-spacing_0 $positive-spacing_050;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .rte-selected-icon {
    min-width: 24px;
    min-height: 24px;
  }
}