@use "./themes/main" as *;

$bleu-iceberg: (
  "light": $bleu-iceberg-light,
  "dark": $bleu-iceberg-dark,
);
$violet: (
  "light": $violet-light,
  "dark": $violet-dark,
);
$vert-foret: (
  "light": $vert-foret-light,
  "dark": $vert-foret-dark,
);
