<ng-template #tpl>
  <li
    #itemRef
    class="rte-dropdown-item"
    role="menuitem"
    tabindex="0"
    [attr.data-disabled]="disabled()"
    (click)="handleClick($event)"
  >
    <span *ngIf="hasIndent() && !leftIcon()" style="width: 20px"></span>
    <rte-icon *ngIf="leftIcon()" [name]="leftIcon() ?? ''" />
    <span style="flex: 2">{{ label() }}</span>
    <div *ngIf="trailingText()">{{ trailingText() }}</div>
    <rte-icon *ngIf="subMenuItems.length" name="arrow-chevron-right" />
  </li>
  <div *ngIf="hasSeparator()" class="dropdown-divider">
    <rte-divider></rte-divider>
  </div>
</ng-template>
<ng-content select="rte-dropdown-item" hidden></ng-content>
