@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-file-upload {
  display: flex;
  flex-direction: column;
}

.rte-file-upload-label {
  @include typography-text-m;
  display: flex;
  padding: $positive-spacing_025 $positive-spacing_100;
  color: var(--content-secondary);
  max-width: 300px;
  align-items: center;
  white-space: normal;
  overflow-wrap: normal;
  word-break: normal;

  .requirement-indicator {
    &.required {
      color: var(--content-danger-default);
    }

    &.show-label-requirement {
      color: var(--content-tertiary);
    }
  }
}

.rte-file-upload-input {
  display: none;
}

.rte-file-upload-button-compact {
  padding: $positive-spacing_025 $positive-spacing_100;
}