.docs {

    p {
        color: #201F1F;
    
        /* Text/Regular/Text M Regular */
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
    }

    .title {
        display: flex;
        padding: 8px 0;
        align-items: flex-start;
        gap: 0;
        flex: 1 0 0;

        color: #2964A0;

        border-bottom: 0;

        /* Heading/Heading M */
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.5px;
    }

    .sub-title {
        color: #201F1F;

        /* Heading/Heading XS */
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: -0.5px;

        margin-bottom: 12px;
    }
}
