@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-disponibility {
  border: 1px solid var(--border-tertiary);
  border-radius: $radius-s;
  overflow: clip;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;
    margin: 0;

    thead {
      tr {
        background-color: var(--background-hover);
        text-align: left;

        th {
          @include typography-text-m-bold;
          padding: $positive-spacing_075 $positive-spacing_200;
          border: none;
          border-bottom: 1px solid var(--border-divider);
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 0;
          }
        }

        td {
          border: none;
          border-bottom: 1px solid var(--border-divider);
          padding: 0;

          .rte-disponibility-item {
            display: flex;
            align-items: center;
            gap: $positive-spacing_050;
            padding: $positive-spacing_200;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .rte-disponibility-status-available {
    @include typography-text-m-regular;
    color: var(--content-success-default);
    gap: $positive-spacing_050;
  }

  .rte-disponibility-status-unavailable {
    @include typography-text-m-regular;
    color: var(--content-secondary);
  }
}

