<ng-container>
  <li
    #itemRef
    class="rte-dropdown-item"
    role="menuitem"
    tabindex="0"
    [attr.data-disabled]="item()?.disabled"
    [attr.data-active]="item()?.selected"
    (click)="handleClick($event)"
    (keydown)="handleKeyDown($event)"
  >
    <span *ngIf="item()?.hasIndent && !item()?.leftIcon" style="width: 20px"></span>
    <rte-icon *ngIf="item()?.leftIcon" [name]="item()?.leftIcon ?? ''" />
    <ng-container [ngSwitch]="!!item()?.link">
      <a *ngSwitchCase="true" style="flex: 2; text-decoration: none; color: inherit" [href]="item()?.link"
        >{{ item()?.label }}
      </a>
      <span *ngSwitchDefault style="flex: 2">{{ item()?.label }}</span>
    </ng-container>
    <div *ngIf="item()?.trailingText">{{ item()?.trailingText }}</div>
    <rte-badge
      *ngIf="shouldDisplayBadge()"
      [badgeType]="item()?.badgeType!"
      [badgeContent]="item()?.badgeContent!"
      [count]="item()?.badgeCount"
      [simpleBadge]="true"
      [icon]="item()?.badgeIcon ?? ''"
      [badgeSize]="item()?.badgeSize!"
    ></rte-badge>
  </li>
  <div *ngIf="item()?.hasSeparator" class="dropdown-divider">
    <rte-divider />
  </div>
</ng-container>
