@use '@design-system-rte/core/design-tokens/main.scss' as *;

@mixin checked-indeterminate-inner-style {
  border: 1px solid var(--content-brand-default);
  background: var(--background-brand-default);
}

.rte-checkbox-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;

  &[data-read-only='true'] {
    cursor: default;
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
  }

  &[data-show-label='true'] {
    gap: $positive-spacing-150;
  }

  .rte-checkbox {
    cursor: pointer;
    appearance: none;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    padding: $positive-spacing_0;
    margin: 0;
    top: -4px;
    left: -8px;
    z-index: 1;
    flex: none;
    opacity: $opacity-100;

    &:focus-visible {
      outline: none;

      &::after {
        border-radius: $radius-s;
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 24px;
        height: 24px;
        outline: 1px solid var(--border-brand-focused);
      }
    }

    &[data-read-only='true'] {
      cursor: default;
      pointer-events: none;
    }

    &[data-error='true'] {
      &:hover {
        & + .rte-checkbox-background {
          .rte-checkbox-outer {
            transition: background 0.15s ease-in-out;
            background: var(--background-hover-opacity-50);
          }
        }

        &:checked,
        &:indeterminate {
          & + .rte-checkbox-background {
            .rte-checkbox-outer {
              background: var(--background-danger-hover-opacity-20);
            }
          }
        }
      }
    }

    &:hover {
      & + .rte-checkbox-background {
        .rte-checkbox-outer {
          transition: background 0.15s ease-in-out;
          background: var(--background-hover-opacity-50);
        }
      }

      &:checked,
      &:indeterminate {
        & + .rte-checkbox-background {
          .rte-checkbox-outer {
            background: var(--background-brand-hover-opacity-20);
          }
        }
      }

      &:disabled {
        & + .rte-checkbox-background {
          .rte-checkbox-outer {
            background: transparent;
          }
        }
      }
    }

    &:disabled {
      cursor: not-allowed;

      ~ .rte-checkbox-text-container {
        label,
        .rte-checkbox-description {
          color: var(--content-disabled);
        }
      }
    }

    &:checked + .rte-checkbox-background .rte-checkbox-inner,
    &:indeterminate + .rte-checkbox-background .rte-checkbox-inner {
      @include checked-indeterminate-inner-style;
    }

    &[data-error='true'] + .rte-checkbox-background .rte-checkbox-inner {
      border: 1px solid var(--content-danger-default);
      background: var(--background-default);
    }

    &[data-error='true']:checked + .rte-checkbox-background .rte-checkbox-inner,
    &[data-error='true']:indeterminate + .rte-checkbox-background .rte-checkbox-inner {
      border: 1px solid var(--content-danger-default);
      background: var(--background-danger-default);
    }

    &:disabled + .rte-checkbox-background {
      .rte-checkbox-inner {
        border: 1px solid var(--content-disabled);
        background: var(--background-disabled);
      }

      .rte-checkbox-icons {
        color: var(--content-disabled);
      }
    }

    &:checked:disabled + .rte-checkbox-background .rte-checkbox-inner,
    &:indeterminate:disabled + .rte-checkbox-background .rte-checkbox-inner {
      border: 1px solid var(--content-disabled);
      background: var(--background-disabled);
    }

    &[data-read-only='true'] + .rte-checkbox-background {
      .rte-checkbox-inner {
        border: 1px solid var(--content-tertiary);
        background: var(--background-disabled);
      }

      .rte-checkbox-icons {
        color: var(--content-tertiary);
      }
    }

    &[data-read-only='true'][data-error='true'] + .rte-checkbox-background .rte-checkbox-inner {
      border: 1px solid var(--content-danger-default);
      background: var(--background-disabled);
    }

    &[data-read-only='true'] ~ .rte-checkbox-text-container {
      label,
      .rte-checkbox-description {
        pointer-events: none;
        color: var(--content-tertiary);
      }
    }

    &:checked:not(:indeterminate) + .rte-checkbox-background .rte-checkbox-icon-selected {
      display: flex;
    }

    &:indeterminate + .rte-checkbox-background .rte-checkbox-icon-indeterminated {
      display: flex;
    }
  }

  .rte-checkbox-background {
    display: inline-block;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    position: relative;
    flex: none;
    margin: $positive-spacing_050 0;

    .rte-checkbox-outer,
    .rte-checkbox-inner {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }

    .rte-checkbox-outer {
      top: -8px;
      left: -8px;
      width: 32px;
      height: 32px;
      border-radius: $radius-pill;
      background: transparent;
      transition: background 0.3s ease-in-out;
    }

    .rte-checkbox-inner {
      width: 100%;
      height: 100%;
      border-radius: $radius-xs;
      border: 1px solid var(--content-tertiary);
      background: var(--background-default);
    }

    .rte-checkbox-icons {
      display: none;
      position: absolute;
      inset: 0;
      z-index: 1;
      pointer-events: none;
      color: white;
      align-items: center;
      justify-content: center;
    }
  }

  .rte-checkbox-text-container {
    label {
      @include typography-text-l;
      color: var(--content-primary);
    }

    .rte-checkbox-description {
      @include typography-text-s;
      margin: 0;
      color: var(--content-tertiary);
    }

    .rte-checkbox-error {
      @include typography-checkbox-error;
      margin: 0;
      color: var(--content-danger-default);
    }
  }

  &[data-read-only='true'] .rte-checkbox:hover + .rte-checkbox-background .rte-checkbox-outer {
    background: transparent;
  }
}
