@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.date-range-picker {
  display: flex;
  gap: $positive-spacing_050;
  flex-direction: column;
}

.date-range-picker-inputs {
  display: flex;
  gap: $positive-spacing_050;
  align-items: center;
  width: fit-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}