@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.date-range-picker {
  display: flex;
  gap: $positive-spacing_050;
  flex-direction: column;
}

.date-range-picker-inputs {
  display: flex;
  gap: $positive-spacing_050;
  align-items: center;
  width: fit-content;
}