@use '@design-system-rte/core/design-tokens/main.scss' as *;

.icon-button {
    display: inline-flex;
    cursor: pointer;
    height: 24px;
    align-items: center;
    justify-content: center;
    gap: $positive-spacing_0;
    flex-shrink: 0;

    &:focus-visible {
        position: relative;
        outline: 1px solid var(--border-brand-focused);
        outline-offset: $radius-s;
        border-radius: $radius-s;
    }

    &[data-size='s'] {
        border-radius: $radius-s;
        height: 24px;
        padding: $positive-spacing_025 $positive-spacing_050;

        &[data-compact-spacing='true'] {
            height: 16px;
        }
    }

    &[data-size='m'] {
        border-radius: $radius-s;
        height: 32px;
        padding: $positive-spacing_050 $positive-spacing_075;

        &[data-compact-spacing='true'] {
            height: 20px;
        }
    }

    &[data-size='l'] {
        border-radius: $radius-m;
        height: 40px;
        padding: $positive-spacing_075 $positive-spacing_100;

        &[data-compact-spacing='true'] {
            height: 24px;
        }
    }

    &[data-variant='primary'] {
        background: var(--background-brand-default);
        border: var(--border-brand-default);
        color: var(--content-primary-inverse);

        &:hover {
            background: var(--background-brand-hover);
            border: var(--background-brand-hover);
        }

        &:active {
            background: var(--background-brand-pressed);
        }

        &:disabled {
            background: var(--background-disabled);
            border: solid $width-xs var(--border-disabled);
            box-shadow: none;
            color: var(--content-disabled);
            cursor: default;
        }
    }


    &[data-variant='secondary'] {
        background: var(--background-default);
        border: solid $width-xs var(--border-brand-default);
        color: var(--content-brand-default);

        &:hover {
            background: var(--background-brand-inverse-hover);
            border: solid $width-xs var(--border-brand-default);
        }

        &:active {
            background: var(--background-brand-inverse-pressed);
        }

        &:disabled {
            background: var(--background-disabled);
            border: solid $width-xs var(--border-disabled);
            color: var(--content-disabled);
            cursor: default;
        }
    }

    &[data-variant='text'] {
        background: transparent;
        border: none;
        color: var(--content-brand-default);

        &:hover {
            background: var(--background-brand-inverse-hover);
        }

        &:active {
            background: var(--background-brand-inverse-pressed);
        }

        &:disabled {
            background: var(--background-disabled);
            color: var(--content-disabled);
            cursor: default;
        }
    }

    &[data-variant='transparent'] {
        background: transparent;
        border: none;
        color: var(--content-brand-default);

        &:hover {
            color: var(--content-brand-hover);
        }

        &:active {
            color: var(--content-brand-pressed);
        }

        &:disabled {
            box-shadow: none;
            background-color: var(--background-disabled);
            color: var(--content-disabled);
            cursor: default;
        }
    }

    &[data-variant='danger'] {
        background: var(--background-danger-default);
        border: none;
        color: var(--content-primary-inverse);

        &:hover {
            background: var(--background-danger-hover);
        }

        &:active {
            background: var(--background-danger-pressed);
        }

        &:disabled {
            background: var(--background-disabled);
            border: solid $width-xs var(--border-disabled);
            color: var(--content-disabled);
            cursor: default;
        }
    }

    &[data-variant='neutral'] {
        background: none;
        border: none;
        color: var(--content-primary);

        &:hover {
            color: var(--content-secondary);
        }

        &:active {
            color: var(--content-tertiary);
        }

        &:disabled {
            background: var(--background-disabled);
            box-shadow: none;
            color: var(--content-disabled);
            cursor: default;
        }
    }

    &[data-variant='reverse'] {
        background: none;
        border: none;
        color: var(--content-primary-inverse);

        &:hover {
            color: var(--background-hover);
        }

        &:active {
            color: var(--content-primary-inverse);
        }

        &:disabled {
            background: var(--background-disabled);
            box-shadow: none;
            color: var(--content-disabled);
            cursor: default;
        }
    }

    &[data-compact-spacing='true'] {
        padding: $positive-spacing_0;
    }
}