<button
  #tabItem
  class="rte-tabitem"
  role="tab"
  [id]="option()?.id"
  [attr.aria-selected]="isSelected()"
  [attr.aria-controls]="option()?.panelId"
  [tabIndex]="isSelected() ? 0 : -1"
  [attr.data-selected]="isSelected()"
  [attr.data-inverted]="inverted()"
  [attr.data-compact-spacing]="compactSpacing()"
  [attr.data-disabled]="option()?.disabled"
  [attr.data-hidden]="isHidden()"
  (click)="onClickTabItem($event, option()?.id || '')"
  (mouseover)="handleMouseHover()"
  (mouseout)="handleMouseOut()"
  (keydown)="handleKeydown()"
>
  <rte-icon *ngIf="option()?.icon" [name]="option()?.icon || ''" [appearance]="isSelected() ? 'filled' : 'outlined'" />
  <span *ngIf="option()?.label">{{ option()?.label }}</span>
  <rte-badge
    *ngIf="displayBadge(option()!)"
    [simpleBadge]="true"
    [badgeContent]="option()?.badgeContent || 'empty'"
    [badgeType]="option()?.badgeType || 'neutral'"
    [icon]="option()?.badgeIcon || ''"
    [count]="option()?.badgeCount"
  />
</button>
<span
  #hoverIndicator
  class="rte-tab-hover-indicator"
  [attr.data-disabled]="option()?.disabled"
  [id]="'tab-hover-indicator' + option()?.id"
  [ngStyle]="{
    width: hoverIndicatorWidth(),
    height: hoverIndicatorHeight(),
    left: hoverIndicatorLeft(),
    top: hoverIndicatorTop(),
    opacity: hoverIndicatorOpacity(),
  }"
></span>
