$greyscale-150: #d7d6d5;
$greyscale-50: #ebebea;
$greyscale-100: #e1e1e0;
$greyscale-0: #f4f5f4;
$core-white_50: #ffffff;
$greyscale-200: #cdcccb;
$greyscale-650: #666665;
$greyscale-950: #0d0c0c;
$greyscale-850: #302f2f;
$greyscale-800: #3e3e3d;
$core-white: #ffffff;
$greyscale-900: #201f1f;
$greyscale-750: #4c4c4b;
$core-black_50: #000000;
$greyscale-550: #7f7e7e;
$core-black: #000000;
$greyscale-250: #c2c1c0;
$greyscale-500: #8b8a8a;
$greyscale-450: #969695;
$greyscale-600: #737272;
$greyscale-350: #acacab;
$greyscale-300: #b7b7b6;
$greyscale-700: #595958;
$greyscale-400: #a1a1a0;
$bleu_digital-900: #153b93;
$bleu_digital-600: #1465fc;
$bleu_digital-500: #2b86ff;
$bleu_digital-400: #53aaff;
$bleu_digital-300: #8ac8ff;
$bleu_digital-0: #f7faff;
$bleu_digital-800: #123fbb;
$bleu_digital-100: #d8ebff;
$bleu_digital-950: #122559;
$bleu_digital-700: #0d4fea;
$bleu_digital-50: #eef7ff;
$bleu_digital-200: #baddff;
$bleu_rte-950: #07364a;
$bleu_rte-500: #0cbdeb;
$bleu_rte-700: #017aa3;
$bleu_rte-400: #36d3fa;
$bleu_rte-300: #7ce1fd;
$bleu_rte-600: #00a6d9;
$bleu_rte-200: #b9edfe;
$bleu_rte-900: #0b556f;
$bleu_rte-800: #066686;
$bleu_rte-100: #e0f5fe;
$bleu_rte-50: #f0fbff;
$bleu_rte-0: #f8fdff;
$marine-800: #244068;
$marine-900: #233857;
$marine-50: #f3f6fc;
$marine-700: #274a7d;
$marine-600: #2f5d9a;
$marine-400: #6494cc;
$marine-950: #17243a;
$marine-500: #3d70ad;
$marine-300: #9ab9df;
$marine-0: #f7f9fc;
$marine-200: #c9d8ee;
$marine-100: #e7edf7;
$bleu_iceberg-950: #15253c;
$bleu_iceberg-900: #1f3b5b;
$bleu_iceberg-700: #225082;
$bleu_iceberg-600: #2964a0;
$bleu_iceberg-400: #5e9ad2;
$bleu_iceberg-0: #f9fbfd;
$bleu_iceberg-300: #96bde3;
$bleu_iceberg-50: #f3f6fc;
$bleu_iceberg-100: #e6eef8;
$bleu_iceberg-800: #214770;
$bleu_iceberg-500: #397ebe;
$bleu_iceberg-200: #c7dbf0;
$bleu_petrole-950: #10181d;
$bleu_petrole-600: #3e6a7c;
$bleu_petrole-700: #375867;
$bleu_petrole-500: #478093;
$bleu_petrole-800: #334a57;
$bleu_petrole-400: #639cad;
$bleu_petrole-100: #deecef;
$bleu_petrole-900: #2e404b;
$bleu_petrole-300: #95bfcb;
$bleu_petrole-50: #f2f8f9;
$bleu_petrole-200: #c1dae0;
$bleu_petrole-0: #fbfcfd;
$bleu_cyan-500: #0fb3cb;
$bleu_cyan-400: #2bd0e5;
$bleu_cyan-600: #108faa;
$bleu_cyan-800: #195e71;
$bleu_cyan-300: #6ee6f2;
$bleu_cyan-200: #a9f2f8;
$bleu_cyan-100: #d1f9fc;
$bleu_cyan-50: #edfdfe;
$bleu_cyan-0: #f9feff;
$bleu_cyan-900: #1a4d5f;
$bleu_cyan-950: #0c3949;
$bleu_cyan-700: #14738a;
$vert_foret-800: #145143;
$vert_foret-600: #1b8065;
$vert_foret-500: #2a9f7d;
$vert_foret-700: #176b57;
$vert_foret-400: #4dba97;
$vert_foret-300: #81d4b7;
$vert_foret-950: #082620;
$vert_foret-200: #b3e7d1;
$vert_foret-50: #effaf6;
$vert_foret-100: #d7f4e6;
$vert_foret-900: #114338;
$vert_foret-0: #f5fcfa;
$vert-0: #f5fffe;
$vert-800: #0a655e;
$vert-600: #009e8f;
$vert-500: #04c8b1;
$vert-200: #90ffe8;
$vert-400: #1de4ca;
$vert-700: #058075;
$vert-300: #51f7dc;
$vert-950: #003332;
$vert-900: #0d544f;
$vert-100: #c7fff4;
$vert-50: #effefb;
$vert_indications-950: #212b08;
$vert_indications-900: #404e19;
$vert_indications-700: #5e7417;
$vert_indications-600: #7c9818;
$vert_indications-400: #bed942;
$vert_indications-800: #4b5c18;
$vert_indications-300: #d3e86e;
$vert_indications-500: #a4c424;
$vert_indications-100: #f3f8cf;
$vert_indications-200: #e6f2a4;
$vert_indications-50: #fafce9;
$vert_indications-0: #fdfef8;
$vert_digital-950: #01321c;
$vert_digital-800: #0e6d40;
$vert_digital-900: #0e5937;
$vert_digital-700: #0b8a4d;
$vert_digital-500: #12d577;
$vert_digital-600: #09b05f;
$vert_digital-300: #65f8b0;
$vert_digital-0: #f7fffb;
$vert_digital-200: #b5fdd9;
$vert_digital-100: #d9ffec;
$vert_digital-400: #3cec96;
$vert_digital-50: #effef6;
$jaune-900: #744d0f;
$jaune-800: #895f0a;
$jaune-700: #a67a02;
$jaune-400: #fff30d;
$jaune-950: #442904;
$jaune-300: #ffff41;
$jaune-200: #faff86;
$jaune-50: #feffe7;
$jaune-500: #ffe500;
$jaune-100: #faffc1;
$jaune-600: #d1aa00;
$jaune-0: #fffef5;
$jaune_ocre-950: #3d1c0b;
$jaune_ocre-800: #7c4117;
$jaune_ocre-700: #955213;
$jaune_ocre-500: #d99519;
$jaune_ocre-400: #ebb53d;
$jaune_ocre-300: #efc655;
$jaune_ocre-900: #6a3619;
$jaune_ocre-50: #fcf9ea;
$jaune_ocre-100: #faefc7;
$jaune_ocre-200: #f5de93;
$jaune_ocre-600: #bb7313;
$jaune_ocre-0: #fefcf8;
$jaune_indications-950: #430e05;
$jaune_indications-900: #752112;
$jaune_indications-300: #f6ab4d;
$jaune_indications-800: #8e2712;
$jaune_indications-700: #ae330f;
$jaune_indications-500: #ed6e13;
$jaune_indications-100: #fce7c9;
$jaune_indications-600: #d24e0d;
$jaune_indications-200: #f9ce8e;
$jaune_indications-50: #fef7ec;
$jaune_indications-400: #f4922b;
$jaune_indications-0: #fffbf7;
$saumon-950: #43160c;
$saumon-700: #b43d21;
$saumon-500: #ec775c;
$saumon-200: #fcd5cc;
$saumon-300: #f9b7a8;
$saumon-400: #f48d75;
$saumon-100: #fde8e3;
$saumon-600: #d64c2c;
$saumon-900: #7c3120;
$saumon-50: #fef4f2;
$saumon-800: #95351f;
$saumon-0: #fef9f7;
$rose_digital-800: #a30e35;
$rose_digital-900: #8b1034;
$rose_digital-950: #4e0317;
$rose_digital-700: #c30d36;
$rose_digital-400: #ff546a;
$rose_digital-500: #f93a58;
$rose_digital-300: #ffa1ab;
$rose_digital-200: #ffccd1;
$rose_digital-100: #ffe3e5;
$rose_digital-50: #fff1f2;
$rose_digital-600: #e71742;
$rose_digital-0: #fff7f8;
$fuschia-950: #530023;
$fuschia-900: #940749;
$fuschia-800: #ae034d;
$fuschia-700: #dc0059;
$fuschia-500: #ff2c74;
$fuschia-600: #f60862;
$fuschia-300: #ff9bb8;
$fuschia-200: #ffc8d8;
$fuschia-400: #ff6394;
$fuschia-100: #ffe1e9;
$fuschia-50: #fff0f3;
$fuschia-0: #fff8fa;
$rouge_indications-800: #9d1439;
$rouge_indications-600: #de2048;
$rouge_indications-500: #f1425f;
$rouge_indications-300: #fca5af;
$rouge_indications-900: #861537;
$rouge_indications-200: #fdced4;
$rouge_indications-100: #ffe4e6;
$rouge_indications-50: #fff1f2;
$rouge_indications-700: #c81640;
$rouge_indications-950: #4b0618;
$rouge_indications-400: #f97385;
$rouge_indications-0: #fef8fa;
$taupe-900: #574c52;
$taupe-950: #2f282c;
$taupe-800: #61535b;
$taupe-500: #a2929c;
$taupe-700: #73636c;
$taupe-300: #d4cdd2;
$taupe-200: #e7e3e6;
$taupe-50: #f8f7f8;
$taupe-100: #f3f0f2;
$taupe-600: #8a7883;
$taupe-400: #b9adb5;
$taupe-0: #fbfbfb;
$violet-950: #2b1a38;
$violet-900: #4a355a;
$violet-500: #9979bc;
$violet-600: #7d5a9f;
$violet-100: #f3eff8;
$violet-800: #563c6c;
$violet-0: #fcfbfd;
$violet-400: #b89fd3;
$violet-300: #d2c3e4;
$violet-50: #f9f7fc;
$violet-200: #e6def0;
$violet-700: #674883;

