@use 'colors' as *;

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$family-nunito: "Nunito";
$family-arial: "Arial";
$font_size-s: 10px;
$font_size-m: 12px;
$font_size-l: 14px;
$font_size-xl: 16px;
$font_size-2xl: 20px;
$font_size-3xl: 24px;
$font_size-4xl: 28px;
$font_size-5xl: 32px;
$font_size-6xl: 40px;
$font_size-7xl: 48px;
$font_size-8xl: 56px;
$font_size-9xl: 68px;
$font_size-10xl: 80px;
$line_height-s: 14px;
$line_height-m: 16px;
$line_height-l: 20px;
$line_height-xl: 24px;
$line_height-2xl: 28px;
$line_height-3xl: 32px;
$line_height-4xl: 36px;
$line_height-5xl: 40px;
$line_height-6xl: 48px;
$line_height-7xl: 56px;
$line_height-8xl: 64px;
$line_height-9xl: 80px;
$line_height-10xl: 92px;
$letter_spacing-none: 0px;
$letter_spacing-s: -0.5px;
$letter_spacing-xs: -1px;