@use 'colors' as *;

$family-nunito: "Nunito";
$family-arial: "Arial";
$weight-light: "Light";
$weight-regular: "Regular";
$weight-semibold: "Semibold";
$font_size-xs: 10px;
$font_size-s: 12px;
$font_size-m: 14px;
$font_size-l: 16px;
$font_size-xl: 18px;
$font_size-2xl: 20px;
$font_size-3xl: 24px;
$font_size-4xl: 28px;
$font_size-5xl: 32px;
$font_size-6xl: 40px;
$font_size-7xl: 48px;
$font_size-8xl: 56px;
$font_size-9xl: 64px;
$font_size-10xl: 72px;
$line_height-xs: 14px;
$line_height-s: 16px;
$line_height-m: 20px;
$line_height-l: 24px;
$line_height-xl: 26px;
$line_height-2xl: 28px;
$line_height-3xl: 32px;
$line_height-4xl: 36px;
$line_height-5xl: 40px;
$line_height-6xl: 48px;
$line_height-7xl: 56px;
$line_height-8xl: 64px;
$line_height-9xl: 72px;
$line_height-10xl: 80px;
$letter_spacing-none: 0px;
$letter_spacing-s: -0.5px;
$letter_spacing-xs: -1px;