@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.trigger {
  cursor: pointer;
  height: fit-content;
  display: grid;

  &[data-disabled='true'] {
    cursor: not-allowed;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.dropdown {
  @include elevation-neutral-shadow-2;
  background-color: var(--background-default);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  min-width: 112px;
  max-width: 300px;
  padding: $positive-spacing_100 $positive-spacing_0;
  flex-direction: column;
  align-items: flex-start;
  gap: $positive-spacing_0;
  border-radius: $radius-s;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $level-2;

  &[data-open='true'] {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  &-menu-header,
  &-menu-content,
  &-menu-footer {
    width: 100%;
  }

  .dropdown-items {
    width: 100%;
    padding: $positive-spacing_0;
    margin: 0;

    li {
      list-style: none;
    }
  }
}