@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {
  table.rte-stories-table-options {
    margin: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Arial", sans-serif;
    text-align: left;
    border-radius: 8px;
    border: 0;
    font-size: 14px;
    line-height: 24px;

    tbody {
      vertical-align: top;
    }

    tr:nth-of-type(2n) {
      background-color: transparent;
    }

    tr {
      th {
        @include typography-text-m-bold;
      }

      th,
      td {
        border: none;
        background-color: transparent;
        border-bottom: #eeeded 1px solid;
        max-width: 50px;
        padding: $positive-spacing_150;
      }
    }

    thead {
      tr {
        th {
          @include typography-heading-s;
          color: var(--content-primary);
          border-bottom: #DCDADA 1px solid;
          padding: 0.75rem;
        }
      }
    }
  }
}