@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.modal-container {
  @include elevation-neutral-shadow-3;
  border: none;
  box-sizing: border-box;
  position: absolute;
  max-height: 90vh;
  top: 50%;
  transform: translateY(-50%) scale(0.98);
  display: flex;
  width: 496px;
  padding: $positive-spacing_300;
  flex-direction: column;
  align-items: flex-start;
  gap: $positive-spacing_300;
  background-color: var(--background-default);
  border-radius: $radius-m;
  opacity: 0;
  transition: opacity 150ms ease-in, transform 150ms ease-in;
  margin: auto;

  &[data-open='true'] {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  &[data-size='s'] {
    width: 656px;
  }

  &[data-size='m'] {
    width: 936px;
  }

  &[data-size='l'] {
    width: 1168px;
    border-radius: $radius-l;
  }

  &[data-size='xl'] {
    width: 1328px;
    border-radius: $radius-xl;
  }

  .modal-content {
    display: flex;
    padding: 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: $positive-spacing_200;
    color: var(--content-secondary);
    width: 100%;
    overflow: auto;

    .modal-content-description {
      @include typography-text-m;
      margin: 0;
      color: var(--content-secondary);
    }
  }
}