@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

:host {
  width: 100%;
}

.rte-header-mobile {
  position: relative;
  display: flex;
  align-items: center;

  .left-section {
    display: flex;
    width: 100%;
    align-items: center;
    
    .rte-header-home {
      display: flex;
      align-items: center;
      gap: $positive-spacing_100;
      text-decoration: none;
      color: var(--content-secondary);

      &:focus-visible {
        border-radius: $radius-s;
        outline: 1px solid var(--border-brand-focused);
        outline-offset: 4px;
      }

      .rte-header-logo {
        width: 24px;
        height: 24px;
        flex: 0 0 auto;
        border-radius: $radius-s;
      }
  
      .rte-header-app-name {
        @include typography-heading-xs;
      }
    }
  }

  .right-section {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: all 0.2s;
    gap: $positive-spacing_100;

    .search-action {
      flex: 1;
    }

    &.expanded {
      background: var(--background-default);
      gap: $positive-spacing_025;
    }
  }
}