@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.radioButtonContainer {
    display: flex;
    align-items: center;
    gap: $positive-spacing_150;
    cursor: pointer;

    &[data-read-only='true'] {
        cursor: default;
    }

    &[data-disabled='true'] {
        cursor: not-allowed;
    }

    .radioButton {
        cursor: pointer;
        appearance: none;
        position: absolute;
        display: flex;
        width: 28px;
        height: 16px;
        padding: $positive-spacing_0;
        justify-content: center;
        border-radius: $radius-pill;
        transition: box-shadow 0.3s ease-in-out;
        margin: 0;
        z-index: 1;

        &[data-error='true'] {
            transition: box-shadow 0.3s ease-in-out;

            &+.radioButtonBackground {
                .radioButtonOuter {
                    border: $width-xs solid var(--content-danger-default);
                }
            }

            &:checked {
                &+.radioButtonBackground {
                    .radioButtonOuter {
                        border: $width-xs solid var(--content-danger-default);
                    }

                    .radioButtonInner {
                        background: var(--content-danger-default);
                    }
                }
            }

            &:hover {
                &+.radioButtonBackground {
                    .radioButtonOuter {
                        transition: box-shadow 0.15s ease-in-out;
                        @include hover-box-shadow(var(--background-hover-opacity-50));
                    }
                }

                &:checked {
                    &+.radioButtonBackground {
                        .radioButtonOuter {
                            @include hover-box-shadow(var(--background-danger-hover-opacity-20));
                        }
                    }
                }
            }
        }

        &[data-read-only='true'] {
            cursor: default;
            pointer-events: none;

            &:checked {
                &+.radioButtonBackground {
                    .radioButtonOuter {
                        border: $width-xs solid var(--content-tertiary);
                    }

                    .radioButtonInner {
                        background: var(--content-tertiary);
                    }
                }
            }

            &[data-error='true'] {
                &+.radioButtonBackground {
                    .radioButtonOuter {
                        border: $width-xs solid var(--content-danger-default);
                    }
                }
            }
        }

        &:hover {
            &+.radioButtonBackground {
                .radioButtonOuter {
                    transition: box-shadow 0.15s ease-in-out;
                    @include hover-box-shadow(var(--background-hover-opacity-50));
                }
            }

            &:checked {
                &+.radioButtonBackground {
                    .radioButtonOuter {
                        @include hover-box-shadow(var(--background-brand-hover-opacity-20));
                    }
                }
            }

            &:disabled {
                &+.radioButtonBackground {
                    .radioButtonOuter {
                        box-shadow: none;
                    }
                }
            }
        }

        &:checked {
            &+.radioButtonBackground {
                .radioButtonOuter {
                    border: $width-xs solid var(--content-brand-default);
                }

                .radioButtonInner {
                    opacity: $opacity-100;
                }
            }
        }

        &:disabled {
            cursor: not-allowed;

            &+.radioButtonBackground {
                .radioButtonOuter {
                    border: $width-xs solid var(--content-disabled);
                }

                .radioButtonInner {
                    background: var(--content-disabled);
                }
            }
        }

        &:focus-visible {
            outline: none;

            &::after {
                border-radius: $radius-s;
                content: '';
                position: absolute;
                top: -4px;
                left: -4px;
                width: 24px;
                height: 24px;
                outline: 1px solid var(--border-brand-focused);
            }
        }
    }

    .radioButtonBackground {
        display: inline-block;
        width: 16px;
        height: 16px;
        box-sizing: content-box;
        position: relative;

        .radioButtonOuter,
        .radioButtonInner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $radius-pill;
            box-sizing: border-box;
        }

        .radioButtonOuter {
            border: $width-xs solid var(--content-tertiary);
            box-shadow: none;
        }

        .radioButtonInner {
            background: var(--content-brand-default);
            transform: scale(0.6);
            opacity: $opacity-0;
        }
    }

    .radioButtonLabel {
        @include typography-radio-button-l;
        color: var(--content-primary);

        &:hover {
            cursor: pointer;
        }

        &[data-read-only='true'] {
            pointer-events: none;
            cursor: not-allowed;
            color: var(--content-tertiary);
        }

        &[data-disabled='true'] {
            cursor: not-allowed;
            color: var(--content-disabled);
        }
    }
}