@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-select-container {
  @include typography-text-m;

  display: flex;
  flex-direction: column;

  &[data-label-position="side"] {
    flex-direction: row;
    align-self: start;

    .rte-select-header {
      display: flex;
      flex-direction: column;
    }

    .rte-select-label {
      height: 32px;
      padding: 0 $positive-spacing_100;
    }
  }

  .rte-select-label {
    @include typography-text-m;
    display: flex;
    padding: $positive-spacing_025 $positive-spacing_100;
    color: var(--content-secondary);
    justify-content: space-between;
    white-space: normal;
    overflow-wrap: normal;
    word-break: normal;

    .requirement-indicator {
      margin-left: $positive-spacing_025;

      &.show-label-requirement {
        @include typography-text-s;
        color: var(--content-tertiary);

        &:not(.required) {
          font-style: italic;
        }
      }

      &:not(.show-label-requirement) {
        &.required {
          color: var(--content-danger-default);
        }
      }
    }
  }

  .rte-select-wrapper {
    @include elevation-neutral-inner-shadow;
    display: flex;
    min-width: 112px;
    min-height: 32px;
    max-height: 32px;
    align-items: center;
    align-self: stretch;
    border-radius: $radius-s;
    border: $width-xs solid var(--border-secondary);
    box-sizing: border-box;

    .trigger-icon {
      color: var(--content-tertiary);
    }

    &:hover {
      border-color: var(--border-primary);
      cursor: pointer;
    }

    &:focus-visible,
    &[data-active="true"] {
      border-color: var(--border-brand-default);
      outline: 1px solid var(--border-brand-default);
    }

    &[data-error="true"] {
      border-color: var(--border-danger);
      outline: 1px solid var(--border-danger);

      &[data-disabled="true"] {
        color: var(--content-disabled);
        border-color: var(--border-danger);
        outline: 1px solid var(--border-danger);

        &:hover {
          border-color: var(--border-danger);
        }
      }

      &[data-read-only="true"] {
        color: var(--content-tertiary);
        border-color: var(--border-danger);
        outline: 1px solid var(--border-danger);

        &:hover {
          cursor: default;
          border-color: var(--border-danger);
        }

        .rte-select-content {
          .rte-select-value {
            color: var(--content-tertiary);
          }
        }
      }

      &:hover {
        border-color: var(--border-danger);
      }

      &:focus-visible {
        border-color: var(--border-danger);
        outline: 1px solid var(--border-danger);
      }

      .rte-select-content {
        .rte-select-value {
          color: var(--content-secondary);
        }
      }
    }

    &[data-disabled="true"] {
      color: var(--content-disabled);
      background-color: var(--background-disabled);
      border-color: var(--border-disabled);

      &:hover {
        cursor: not-allowed;
      }

      .trigger-icon {
        color: var(--content-disabled);
      }

      .rte-select-content {
        .rte-select-value {
          color: var(--content-disabled);
        }
      }
    }

    &[data-read-only="true"] {
      color: var(--content-tertiary);
      background-color: var(--background-disabled);
      border-color: var(--border-tertiary);

      &:hover {
        cursor: default;
      }

      .trigger-icon {
        color: var(--content-tertiary);
      }
    }

    .rte-select-content {
      display: flex;
      min-width: 96px;
      padding: $positive-spacing_050 $positive-spacing_100;
      align-items: center;
      flex: 1 0 0;

      .error-icon {
        padding: 0;
        color: var(--content-danger-default);
      }

      .rte-select-value {
        @include typography-text-m;
        display: flex;
        padding: 0 $positive-spacing_100;
        align-items: center;
        flex: 1 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--content-primary);

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .rte-select-right-icons {
        display: flex;
        align-items: center;
        gap: $positive-spacing_100;

        ::ng-deep {
          .rte-icon-button {
            padding: 0;
            height: 20px;
            width: 20px;

            &:focus-visible {
              outline: 1px solid var(--border-brand-focused);
              border-radius: $radius-xs;
              outline-offset: 3px;
            }
          }
        }
      }
    }
  }

  .assistive-text {
    @include typography-text-s;
    display: flex;
    align-items: center;
    gap: $positive-spacing_050;
    padding: $positive-spacing_050 $positive-spacing_100;
    color: var(--content-secondary);

    .assistive-icon-error {
      color: var(--content-danger-default);
    }

    .assistive-icon-success {
      color: var(--content-success-default);
    }

    &.error {
      color: var(--content-danger-default);
      @include typography-text-input-s-bold;
      margin: $positive-spacing-0;
    }

    &.success {
      color: var(--content-success-default);
      @include typography-text-input-s-bold;
      margin: $positive-spacing-0;
    }
  }
}