@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.navItemContainer {
    @include typography-button-m;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: $positive-spacing_100;
    padding: $positive-spacing_100 $positive-spacing_075;
    border-radius: $radius-s;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    box-sizing: border-box;
    border-left: $width-s solid transparent;
    color: var(--content-brand-navigation-default);

    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }

    &[data-appearance='neutral'] {
        color: var(--content-secondary);

        &:hover {
            background: var(--background-neutral-navigation-hover);
            color: var(--content-primary);
        }

        &[data-active='true'] {
            @include elevation-neutral-inner-shadow;
            color: var(--content-brand-pressed);
        }

        &[data-nested='true'] {
            border-radius: 0 $radius-s $radius-s 0;
            border-left: $width-xs solid var(--border-divider);

            &[data-active='true'] {
                border-left: $width-xs solid var(--border-brand-navigation-active);
            }
        }
    }

    &:hover {
        background: var(--background-brand-navigation-hover);
        color: var(--content-brand-navigation-hover);
    }

    &[data-active='true'] {
        background: var(--background-brand-navigation-pressed);
        border-left: $width-s solid var(--border-brand-navigation-divider);
        color: var(--content-primary-inverse);
    }

    &:active {
        &.focused {
            outline: none;
        }
    }

    .navItemLeft {
        display: flex;
        align-items: center;
        gap: $positive-spacing_100;
    }

    .navItem {
        display: flex;
        padding: 0;
        align-items: center;
        gap: $positive-spacing_100;
        flex: 1 0 0;
        user-select: none;
        outline: none;
        justify-content: space-between;

        .navItemRight {
            display: flex;
            align-items: center;
            gap: $positive-spacing_050;
        }
    }

    &:focus-visible,
    &[data-focused='true'] {
        outline: 1px solid var(--border-brand-focused);
        outline-offset: 0;
    }

    &[data-collapsed='true'] {
        padding: $positive-spacing_100 $positive-spacing_150;
        justify-content: center;
        border-left: none;
        gap: 0;

        .navItem {
            justify-content: center;
            gap: 0;
        }
    }

    &[data-nested='true'] {
        @include typography-button-s;

        border-radius: 0 $radius-s $radius-s 0;
        border-left: $width-xs solid var(--border-brand-navigation-divider);
        padding: $positive-spacing_050 $positive-spacing_100;

        &[data-active='true'] {
            @include neutral-inner-shadow;
        }
    }
}