@use '@design-system-rte/core/design-tokens/main.scss' as *;

.navItemContainer {
    @include typography-text-m-regular;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: $positive-spacing_100;
    padding: $positive-spacing_100 $positive-spacing_075;
    border-radius: $radius-s;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    box-sizing: border-box;

    &.neutral {
        &:hover {
            background: var(--background-neutral-navigation-hover);
        }

        &:active {
            @include elevation-neutral-inner-shadow;
        }
        &.focused {
            outline: none;
        }

        &.nested {
            border-radius: 0 $radius-s $radius-s 0;
            border-left: $width-s solid var(--border-brand-navigation-divider);   
        }
    }

    &:hover {
        border-radius: $radius-s;
        opacity: $opacity-100;
        background: var(--background-brand-navigation-hover);
    }

    &:active {
        background: var(--background-brand-navigation-active);
    }

    .navItem {
        display: flex;
        padding: 0;
        align-items: center;
        gap: $positive-spacing_100;
        flex: 1 0 0;
        user-select: none;
        outline: none;

        &:link {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    &.focused {
        outline: 1px solid var(--border-brand-focused);
        outline-offset: 0;
    }

    &.collapsed {
        padding: $positive-spacing_100 $positive-spacing_150;
        justify-content: center;

        .navItem {
            justify-content: center;
        }
    }

    &.nested {
        border-radius: 0 $radius-s $radius-s 0;
        border-left: $width-xs solid var(--border-brand-navigation-divider);
    }
}
