@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.navItemContainer {
    @include typography-button-m;
    width: 100%;
    display: flex;

    &:is(button) {
        margin: 0;
        border: none;
        background: transparent;
        font: inherit;
        text-align: inherit;
        appearance: none;
    }
    justify-content: space-between;
    gap: $positive-spacing_100;
    padding: $positive-spacing_100 $positive-spacing_075;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    box-sizing: border-box;
    border-left: $width-m solid transparent;
    color: var(--rte-side-nav-item-label);
    transition: border-left 0.2s ease;

    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }

    &:hover {
        background: var(--rte-side-nav-item-bg-hover);
        color: var(--rte-side-nav-item-label);
    }

    &[data-active='true'] {
        background: var(--rte-side-nav-item-bg-pressed);
        border-left: $width-m solid var(--rte-side-nav-item-border-active);
        color: var(--rte-side-nav-item-label);
    }

    &:active {
        &.focused {
            outline: none;
        }
    }

    .navItemLeft {
        display: flex;
        align-items: center;
        gap: $positive-spacing_100;
    }

    .navItem {
        display: flex;
        padding: 0;
        align-items: center;
        gap: $positive-spacing_100;
        flex: 1 0 0;
        user-select: none;
        outline: none;
        justify-content: space-between;

        .navItemRight {
            display: flex;
            align-items: center;
            gap: $positive-spacing_050;
        }
    }

    &:focus-visible,
    &[data-focused='true'] {
        outline: 1px solid var(--border-brand-focused);
        outline-offset: 0;
    }

    &[data-collapsed='true'] {
        padding: $positive-spacing_100 $positive-spacing_150;
        justify-content: center;
        border-left: none;
        gap: 0;

        .navItem {
            justify-content: center;
            gap: 0;
        }
    }

    &[data-nested='true'] {
        @include typography-button-s;

        border-left: $width-xs solid var(--rte-side-nav-item-border-hierarchy);
        padding: $positive-spacing_050 $positive-spacing_100;
        transition: border-left 0.2s ease;

        &[data-active='true'] {
            border-left: $width-m solid var(--rte-side-nav-item-border-active);
        }
    }
}
