@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-time-picker-dropdown {
  display: inline-flex;
  align-items: center;
  gap: $positive-spacing_050;
  min-width: 176px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.rte-time-picker-segment-root {
  display: contents;
}

.rte-time-picker-segment-container {
  display: flex;
  align-items: center;
  gap: $positive-spacing_025;

  span {
    @include typography-text-l;
    color: var(--content-tertiary);
  }
}

.rte-time-picker-segment-separator {
  @include typography-text-l;
  color: var(--content-tertiary);
}

.rte-time-picker-segment-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $positive-spacing_100;

  .rte-time-picker-segment-controls-button {
    display: flex;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.rte-time-picker-segment-input {
  @include typography-text-l;
  overflow: hidden;
  color: var(--content-primary, #201f1f);
  text-align: center;
  text-overflow: ellipsis;
  box-sizing: border-box;
  display: flex;
  width: 32px;
  height: 32px;
  padding: $positive-spacing_050 $positive-spacing_050;
  justify-content: center;
  align-items: center;

  border-radius: $radius-s;
  border: $width-xs solid var(--border-secondary);

  @include neutral-inner-shadow;

  &:hover {
    border: $width-xs solid var(--border-primary);
  }

  &:focus-visible {
    outline: $width-xs solid var(--border-brand-default);
    border: $width-xs solid var(--border-brand-default);
  }

  &:read-only {
    background-color: var(--background-disabled);
    border: $width-xs solid var(--border-tertiary);
    color: var(--content-secondary);
    cursor: default;

    &:focus-visible {
      outline: none;
    }
  }
}
