@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.searchbarContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.searchbarWrapper {
  display: flex;
  align-items: center;
  gap: $positive-spacing_100;
  width: fit-content;
}

.textInputWrapper {
  min-width: 0;
  display: flex;
  align-items: stretch;
  border-radius: $radius-s;
  transition: outline 200ms, border 200ms;

  &.focused {
    outline: 1px solid var(--border-brand-default);
    outline-offset: 0;
  }
}

.searchButton {
  flex-shrink: 0;
}

.dropdownTrigger {
  display: flex;
  align-items: center;
  width: 300px;
}