@use '@design-system-rte/core/tokens/main.scss' as *;

.storybook_usage {

    padding-block: 1rem;

    .storybook_usage_title {
        @include typography-storybook-subtitle;
        border: none;
        padding-bottom: 1rem;
    }

    .storybook_usage_content {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .storybook_usage_item {

            h4 {
                margin: 0;
                @include typography-storybook-header-xs;
                color: #21272A;
            }

            p {
                margin: 0;
                @include typography-storybook-header-xs;
                color: #697077;
            }
        }
    }

}