@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.breadcrumbItem {
  display: inline-flex;
  align-items: center;
  opacity: 0;
  animation: fadeIn 150ms forwards;
  gap: $positive-spacing_050;

  @include typography-text-m-regular;

  a {
    color: var(--content-tertiary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  &:last-child {
    cursor: default;

    a {
      color: var(--content-primary);
    }
  }

  :focus-visible {
    outline: 1px solid var(--border-brand-focused);
    outline-offset: $radius-s;
    border-radius: $radius-s;
  }

}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}