@use '@design-system-rte/core/design-tokens/main.scss' as *;

.breadcrumbsContainer {
    display: flex;
    align-items: center;
    gap: $positive-spacing_025;
}

.breadcrumbItem {
    display: inline-flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 150ms forwards;

    @include typography-text-m-regular;

    a {
        color: var(--content-tertiary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    &:last-child {
        cursor: default;

        a {
            color: var(--content-primary);
        }
    }

    :focus-visible {
        outline: 1px solid var(--border-brand-focused);
        outline-offset: $radius-s;
        border-radius: $radius-s;
    }

}


.separator {
    color: var(--content-secondary);
    padding: 0 $positive-spacing_100;
    user-select: none;
    opacity: 0;
    animation: fadeIn 150ms forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}