@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: $radius-s;
    @include elevation-neutral-shadow-2;
    transition: background-color 300ms, box-shadow 300ms;

    &:active {
        @include elevation-neutral-shadow-1;
    }

    &:hover {
        @include elevation-neutral-shadow-3;
    }

    &[disabled='true'] {
        background: var(--background-disabled);
        opacity: $opacity-30;
        box-shadow: none;
        pointer-events: none;

        &.card-outlined {
            border: $width-xs solid var(--border-disabled);
        }
    }

    &.card-outlined {
        flex-shrink: 0;
        border: $width-xs solid var(--border-tertiary);
        box-shadow: none;

        &:active {
            border-color: var(--border-secondary);
        }
    }

    &.clickable {
        cursor: pointer;
    }

    &:focus-visible {
        outline: $width-xs solid var(--border-brand-focused);
        outline-offset: $width-m;
    }
}

