@if (isInteractive()) {
  <button
    class="rte-avatar__button rte-avatar__container"
    aria-label="Avatar button"
    [attr.data-avatar-type]="type()"
    (click)="handleClick($event)"
  >
    <ng-container *ngTemplateOutlet="baseAvatar"></ng-container>
  </button>
} @else {
  <div class="rte-avatar__container">
    <ng-container *ngTemplateOutlet="baseAvatar"></ng-container>
  </div>
}

<ng-template #baseAvatar>
  <div class="rte-avatar__container" [style.width]="size() + 'px'" [style.height]="size() + 'px'">
    <div
      class="rte-avatar"
      [attr.data-size]="size()"
      [attr.data-avatar-type]="type()"
      [attr.data-color]="colorType()"
      [style.background-color]="backgroundColor()"
      [style.maskImage]="maskImage()"
    >
      @if (layout() === "initials") {
        <span class="rte-avatar__initials" [attr.data-size]="size()">{{ initials() }}</span>
      }
      @if (layout() === "icon") {
        <rte-icon [name]="type() === 'user' ? 'user' : 'company'" [size]="iconSize()"></rte-icon>
      }
      @if (layout() === "image") {
        <img class="rte-avatar__image" [src]="imgSrc()" [alt]="alt()" />
      }
    </div>
    @if (status()) {
      <rte-status [status]="status()" [size]="statusIndicatorSize()"></rte-status>
    }
  </div>
</ng-template>
