<a
  href="{{ href() }}"
  class="rte-link"
  role="link"
  [ngClass]="{ subtle: subtle(), reverse: reverse() }"
  [target]="externalLink() ? '_blank' : undefined"
  [rel]="externalLink() ? 'noopener noreferrer' : null"
  [style.max-width]="maxWidth() + 'px'"
>
  <span class="rte-link-label" [style.max-width]="maxWidth() + 'px'">
    {{ label() }}
  </span>
  <rte-icon
    *ngIf="externalLink()"
    name="external-link"
    style="align-self: start; margin-left: 2px"
    [size]="12"
  ></rte-icon>
</a>
