@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {
  .rte-last-update {
    background-color: var(--background-brand-unselected-default);
    border-radius: $radius-s;
    padding: $positive-spacing_200;
    height: 268px;
    overflow: auto;

    details {
      summary {
        list-style: none;
        padding: $positive-spacing_100;

        .rte-last-update-summary {
          display: flex;
          align-items: center;
          gap: $positive-spacing_100;
        }

        span {
          @include typography-heading-xs;
        }
      }

      ul {
        box-sizing: border-box;
        overflow: auto;
        margin: 0;
        padding: 0 $positive-spacing_500;
      }
    }

  }
}