@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {
  .rte-last-update {
    background-color: var(--background-brand-unselected-default);
    border-radius: $radius-s;
    padding: $positive-spacing_200;
    height: 268px;
    overflow: auto;

    details {
      summary {
        list-style: none;
        padding: $positive-spacing_100;

        span {
          @include typography-heading-xs;
        }

        &::before {
          content: "+";
          color: black;
          border-radius: 1em;
          padding: 0 8px 0 0;
        }
      }

      ul {
        box-sizing: border-box;
        overflow: auto;
        margin: 0;
        padding: 0 $positive-spacing_400;
      }
    }

    details[open] summary::before {
      content: "−";
    }
  }
}