@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-dynamic-tab-item {
  display: flex;
  min-width: 44px;
  max-width: 280px;
  flex-direction: row;
  padding: $positive-spacing_150;
  align-items: center;
  gap: $positive-spacing_150;
  border: none;
  cursor: pointer;

  border-right: $width-xs solid var(--border-tertiary);
  background: var(--background-neutral-subtle-default);
  color: var(--content-tertiary);

  &[data-compact-spacing="true"] {
    padding-top: $positive-spacing_050;
    padding-bottom: $positive-spacing_050;
  }

  &:hover {
    background: var(--background-neutral-subtle-hover);
    border-right-color: var(--background-neutral-subtle-hover);
    color: var(--content-secondary);
  }

  &[data-active="true"] {
    background: var(--background-neutral-subtle-pressed);
    color: var(--content-primary);
    border: none;
  }

  &__title {
    @include typography-text-m;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--content-primary);

    &:hover {
      background-color: none;

      & svg {
        // Todo modify
        color: red;
      }
    }

    &:focus-visible {
      outline: 1px solid var(--border-brand-focused);
      outline-offset: $radius-s;
      border-radius: $radius-s;
    }
  }

  &[data-appearance="brand"] {
    background: var(--background-brand-subtle-default);
    color: var(--content-brand-default);


    &:hover {
      background: var(--background-brand-subtle-hover);
      border-right-color: var(--background-brand-subtle-hover);
      color: var(--content-brand-hover);
    }

    &[data-active="true"] {
      background: var(--background-brand-subtle-pressed);
      color: var(--content-brand-pressed);
    }
  }
}