@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-dynamic-tab-item {
  display: flex;
  min-width: 44px;
  flex-direction: row;
  padding: $positive-spacing_150;
  align-items: center;
  border: none;
  cursor: default;
  flex: 1 0 0;

  border-right: $width-xs solid var(--border-tertiary);
  background: var(--background-neutral-subtle-default);
  color: var(--content-tertiary);

  opacity: 0;

  justify-content: space-between;
  box-sizing: border-box;

  &[data-compact-spacing="true"] {
    padding-top: $positive-spacing_050;
    padding-bottom: $positive-spacing_050;
  }

  &[data-hidden="true"] {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    border: none;
  }

  &[data-is-animating="true"]:not([data-hidden="true"]) {
    transition: max-width 0.3s ease, padding 0.3s ease;
    min-width: 44px;
    opacity: 1;

    &[data-is-disappearing="true"] {
      transition: max-width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
      max-width: 0;
      min-width: 0;
      width: 0;
      padding: 0;
      opacity: 0;
    }
  }


  &:hover {
    background: var(--background-neutral-subtle-hover);
    border-right-color: var(--background-neutral-subtle-hover);
    color: var(--content-secondary);
  }

  &:focus-visible {
    outline: none;
  }

  &[data-active="true"] {
    background: var(--background-neutral-subtle-pressed);
    color: var(--content-primary);
    border: none;
  }

  &__title {
    @include typography-text-m;

    box-sizing: border-box;
    white-space: nowrap;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 0px;

    span {
      opacity: 0;
      transition: opacity 0.3s ease;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;

      &[data-is-animating="true"] {
        opacity: 1;
      }
    }
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--content-primary);
    flex: 0 0 auto;

    &:hover {
      background-color: none;
      cursor: pointer;
    }

    &:focus-visible {
      outline: 1px solid var(--border-brand-focused);
      outline-offset: $radius-s;
      border-radius: $radius-s;
    }
  }

  &[data-appearance="brand"] {
    background: var(--background-brand-subtle-default);
    color: var(--content-brand-default);


    &:hover {
      background: var(--background-brand-subtle-hover);
      border-right-color: var(--background-brand-subtle-hover);
      color: var(--content-brand-hover);
    }

    &[data-active="true"] {
      background: var(--background-brand-subtle-pressed);
      color: var(--content-brand-pressed);
    }
  }
}

.rte-dynamic-tab-item__title {
  &:focus-visible {
    outline: 1px solid var(--border-brand-focused);
    outline-offset: $radius-s;
    border-radius: $radius-s;
    width: 100px;
  }

}