@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-label {
  @include typography-text-m;
  color: var(--content-secondary);
}

.rte-label-container {
  display: flex;
  align-items: flex-start;
  padding: $positive-spacing_025 $positive-spacing_100;

  &[data-show-label-requirement="true"] {
    align-items: center;
  }
}