@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-treeview-item-border-container {
  display: block;
  flex-shrink: 0;
  width: $positive-spacing_200;
  min-width: $positive-spacing_200;
  height: 32px;
  align-self: stretch;

  &[data-is-compact="true"] {
    height: 24px;
  }
}

.rte-treeview-item-border {
  display: block;
  width: 100%;
  height: 100%;

  .rte-treeview-item-border-path {
    stroke: var(--border-tertiary);
    stroke-width: $width-xs;
  }

  &.rte-treeview-item-border-dashed .rte-treeview-item-border-path {
    stroke-dasharray: 2 2;
  }
}