<span
  class="chip"
  tabindex="0"
  [attr.role]="role()"
  [attr.data-selected]="isCheckable() ? selected() : null"
  [attr.data-disabled]="disabled()"
  [attr.data-compact-spacing]="compactSpacing()"
  [attr.data-type]="type()"
  [attr.aria-checked]="isCheckable() ? selected() : null"
  [attr.aria-disabled]="disabled()"
  (click)="onClick($event)"
  (keyup)="onKeyUp($event)"
  (blur)="onBlur($event)"
>
  <ng-container *ngIf="type() === 'multi'">
    <span class="chip-icon-container">
      <span
        class="chip-icon"
        [class.chip-icon--visible]="selected()"
        [attr.aria-hidden]="!selected()"
      >
        <rte-icon name="check-circle" appearance="filled" [size]="16"></rte-icon>
      </span>
      <span
        class="chip-icon"
        [class.chip-icon--visible]="!selected()"
        [attr.aria-hidden]="selected()"
      >
        <rte-icon name="radio-button-empty" [size]="16"></rte-icon>
      </span>
    </span>
  </ng-container>
  <span class="chip-label" [attr.data-type]="type()">{{ label() }}</span>
  <button
    *ngIf="type() === 'input'"
    type="button"
    class="chip-close-button"
    [attr.aria-label]="'Supprimer ' + label()"
    [disabled]="disabled()"
    [value]="label()"
    (click)="onCloseClick($event)"
  >
    <rte-icon class="chip-close-button--icon" name="close" [size]="16"></rte-icon>
  </button>
</span>