@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sbdocs {
  .rte-docs-section {

    .rte-docs-section-content {
      white-space: pre-line;
    }

    .rte-docs-section-image {
      width: 100%;
      height: auto;
    }
  }
}

