@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.chip {
  @include typography-button-m;
  overflow: hidden;
  color: var(--content-brand-default);
  text-overflow: ellipsis;
  display: inline-flex;
  padding: $positive-spacing_050 $positive-spacing_150;
  justify-content: center;
  align-items: center;
  gap: $positive-spacing_0;
  border-radius: $radius-pill;
  background: var(--background-brand-unselected-default);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--content-brand-hover);
    background: var(--background-brand-unselected-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--border-brand-focused);
    outline-offset: 4px;
  }

  &[data-disabled='true'] {
    cursor: default;
    color: var(--content-disabled);
    background: var(--background-disabled);
    outline: none
  }

  &[data-selected="true"] {
    color: var(--content-primary-inverse);
    background: var(--background-brand-selected-default);

    &:hover {
      background: var(--background-brand-selected-hover);
    }

    &[data-disabled='true'] {
      cursor: default;
      color: var(--content-disabled);
      background: var(--background-disabled);
    }
  }

  &[data-compact-spacing='true'] {
    padding: $positive-spacing_0 $positive-spacing_150;
  }
}

.chip-label {
  padding: $positive-spacing_0 $positive-spacing_075;
}

.chip-icon-container {
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
}

.chip-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  pointer-events: none;
}

.chip-icon--visible {
  opacity: 1;
  pointer-events: auto;
}

.chip-icon--hidden {
  opacity: 0;
  pointer-events: none;
}