@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-tag {
  height: 32px;
  display: inline-flex;
  padding: $positive-spacing_050 $positive-spacing_075;
  justify-content: center;
  align-items: center;
  gap: $positive-spacing_0;
  border-radius: $radius-s;
  text-wrap: nowrap;

  &[data-compact-spacing="true"] {
    padding: $positive-spacing_0 $positive-spacing_075;
    height: 24px;
  }

  .rte-tag-label {
    padding: $positive-spacing_0 $positive-spacing_075;
    @include typography-text-l;
    color: var(--content-status);

    &[data-compact-spacing="true"] {
      @include typography-text-m;
    }
  }

  &[data-tag-type="status"] {

    &[data-status="success"],
    &[data-status="information"],
    &[data-status="alert"] {
      color: var(--content-primary-inverse);
    }

    $status-colors: (
      success: --background-success-default,
      information: --background-info-default,
      warning: --background-warning-default,
      alert: --background-danger-default
    );

  @each $name, $var in $status-colors {
    &[data-status="#{$name}"] {
      background-color: var(#{$var});
    }
  }
}

&[data-tag-type="decorative"] {
  $decorative-colors: (
    brand: --background-brand-default,
    neutral: --decorative-neutral,
    neutral-bold: --decorative-neutral-bold,
    bleu-iceberg: --decorative-bleu-iceberg,
    bleu-iceberg-bold: --decorative-bleu-iceberg-bold,
    vert-foret: --decorative-vert-foret,
    vert-foret-bold: --decorative-vert-foret-bold,
    violet: --decorative-violet,
    violet-bold: --decorative-violet-bold,
    bleu-rte: --decorative-bleu-rte,
    bleu-rte-bold: --decorative-bleu-rte-bold,
    bleu-digital: --decorative-bleu-digital,
    bleu-digital-bold: --decorative-bleu-digital-bold,
    marine: --decorative-marine,
    marine-bold: --decorative-marine-bold,
    bleu-petrole: --decorative-bleu-petrole,
    bleu-petrole-bold: --decorative-bleu-petrole-bold,
    bleu-cyan: --decorative-bleu-cyan,
    bleu-cyan-bold: --decorative-bleu-cyan-bold,
    vert: --decorative-vert,
    vert-bold: --decorative-vert-bold,
    vert-indications: --decorative-vert-indications,
    vert-indications-bold: --decorative-vert-indications-bold,
    vert-digital: --decorative-vert-digital,
    vert-digital-bold: --decorative-vert-digital-bold,
    jaune: --decorative-jaune,
    jaune-bold: --decorative-jaune-bold,
    jaune-ocre: --decorative-jaune-ocre,
    jaune-ocre-bold: --decorative-jaune-ocre-bold,
    jaune-indications: --decorative-jaune-indications,
    jaune-indications-bold: --decorative-jaune-indications-bold,
    saumon: --decorative-saumon,
    saumon-bold: --decorative-saumon-bold,
    rose: --decorative-rose-digital,
    rose-bold: --decorative-rose-digital-bold,
    fuschia: --decorative-fuschia,
    fuschia-bold: --decorative-fuschia-bold,
    rouge-indication: --decorative-rouge-indication,
    rouge-indication-bold: --decorative-rouge-indication-bold,
    taupe: --decorative-taupe,
    taupe-bold: --decorative-taupe-bold
  );

@each $name, $var in $decorative-colors {
  &[data-color="#{'' + $name}"] {
    background-color: var(#{$var});
  }
}

&[data-color="brand"] {
  color: var(--content-primary-inverse);

  .rte-tag-label {
    color: var(--content-primary-inverse);
  }
}
}
}