.storybook_header {

    .storybook_header_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;

        .storybook_title {
            font-feature-settings: "liga" off, "clig" off;
            font-style: normal;
            font-family: "Nunito";
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
        }

        .storybook_links {
            display: flex;
            align-items: center;
            gap: 1rem;

            .storybook_link_container {

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.25rem;

                .storybook_logo {
                    width: 24px;
                    height: 24px;
                    aspect-ratio: 1;
                    border-radius: 999px;
                }
            }
        }
    }

    .storybook_header_content {
        font-feature-settings: "liga" off, "clig" off;
        font-style: normal;
        font-family: "Arial";
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #21272A;
    }
}