@use '@design-system-rte/core/tokens/main.scss' as *;


.rte-radio-button-container {
    display: flex;
    padding-right: $positive-spacing_050;
    align-items: center;
    gap: $positive-spacing_150;
}

.rte-radio-button {
    appearance: none;
    display: flex;
    width: 16px;
    height: 16px;
    padding: $positive-spacing_0;
    justify-content: center;
    align-items: center;
    border-radius: $radius-pill;
    border: $width-xs solid var(--content-tertiary);
    background: var(--background-default);
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    margin: 0;

    &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: $radius-pill;
        background: var(--content-brand-default);
        opacity: $opacity-0;
    }

    &::after {
        content: '';
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        border-radius: $radius-s;
        border: $width-xs solid var(--content-primary);
        position: absolute;
        z-index: -1;
        opacity: $opacity-0;
    }

    &.error {
        border: $width-xs solid var(--content-danger);
        transition: box-shadow 0.3s ease-in-out;

        &:checked {
            border: $width-xs solid var(--content-danger);
        }

        &::before {
            background: var(--content-danger);
        }

        &:hover {
            transition: box-shadow 0.15s ease-in-out;
            @include hover-box-shadow(var(--background-hover-opacity-50));

            &:checked {
                @include hover-box-shadow(var(--background-danger-hover-opacity-20));
            }
        }
    }

    &.read-only {
        pointer-events: none;
        cursor: default;

        &::before {
            background: var(--content-tertiary);
        }

        &:checked {
            border: $width-xs solid var(--content-tertiary);
        }

        &.error{
            border: $width-xs solid var(--content-danger);
        }
    }

    &:focus-visible {
        outline: none;

        &::after {
            opacity: $opacity-100;
        }
    }

    &:checked {
        border: $width-xs solid var(--content-brand-default);
    }

    &:checked::before {
        opacity: $opacity-100;
    }

    &:hover {
        @include hover-box-shadow(var(--background-hover-opacity-50));

        &:checked {
            @include hover-box-shadow(var(--background-brand-hover-opacity-20));
        }
    }

    &:disabled {
        pointer-events: none;
        background: var(--background-disabled);
        border: $width-xs solid var(--content-disabled);
        cursor: not-allowed;

        &::before {
            background: var(--content-disabled);
        }
    }
}

.rte-radio-button-label {
    @include typography-radio-button-l;

    &.read-only {
        pointer-events: none;
        cursor: default;
        color: var(--content-tertiary);
    }

    &.disabled {
        pointer-events: none;
        color: var(--content-disabled);
    }
}