@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.rte-trigger {
  cursor: pointer;
  height: fit-content;
  display: flex;

  &[data-disabled='true'] {
    cursor: not-allowed;

    &:hover {
      cursor: not-allowed;
    }
  }
}