<div class="rte-modal-wrapper">
  <div class="rte-modal-backdrop" [attr.data-open]="isOpen()"></div>
  <dialog
    #modal
    class="rte-modal-container"
    [attr.aria-modal]="true"
    [attr.aria-labelledby]="id() + '-modal-title'"
    [attr.aria-describedby]="description() ? id() + '-modal-desc' : ariaDescribedby()"
    [attr.data-size]="size()"
    [attr.data-open]="isOpen()"
  >
    <div class="rte-modal-header">
      <div class="rte-modal-header-text">
        <rte-icon *ngIf="icon()" [name]="icon() ?? ''" [size]="iconSize()" [appearance]="iconAppearance()" />
        <h2 class="rte-modal-title" [id]="id() + '-modal-title'">
          {{ title() }}
        </h2>
        <rte-icon-button
          data-testid="modal-close-button"
          name="close"
          size="l"
          class="close-icon"
          variant="neutral"
          [ariaLabel]="'Close modal ' + id()"
          (clickEvent)="onClose()"
        />
      </div>
      <rte-divider />
    </div>
    <div *ngIf="description()" class="rte-modal-content">
      <p class="rte-modal-content-description" [id]="id() + '-modal-desc'">
        {{ description() }}
      </p>
      <ng-container [ngTemplateOutlet]="customContent()"></ng-container>
    </div>
    <div class="rte-modal-footer">
      <ng-container [ngTemplateOutlet]="secondaryButton()"></ng-container>
      <ng-container [ngTemplateOutlet]="primaryButton()"></ng-container>
    </div>
  </dialog>
</div>
