<rte-base-text-input
  [id]="id()"
  [label]="label()"
  [labelPosition]="labelPosition()"
  [required]="required()"
  [showCounter]="showCounter()"
  [value]="value()"
  [leftIcon]="leftIcon()"
  [showRightIcon]="showRightIcon()"
  [rightIconAction]="rightIconAction()"
  [showLabelRequirement]="showLabelRequirement()"
  [assistiveAppearance]="assistiveAppearance()"
  [showAssistiveIcon]="showAssistiveIcon()"
  [assistiveTextLabel]="assistiveTextLabel()"
  [error]="error()"
  [maxLength]="maxLength()"
  [disabled]="disabled()"
  [readOnly]="readOnly()"
  [width]="width()"
  [ariaLabel]="ariaLabel()"
  [ariaRequired]="ariaRequired()"
  [ariaLabelledby]="ariaLabelledby()"
  [customStyle]="customStyle()"
  [autocomplete]="autocomplete()"
  (valueChange)="valueChange.emit($event)"
  (rightIconClick)="rightIconClick.emit()"
/>
