@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

.sideNavHeaderContainer {
    display: flex;
    box-sizing: border-box;
    padding: $positive-spacing_025 $positive-spacing_100;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    height: 96px;
    min-height: 96px;
    max-height: 96px;

    &[data-compact='true'] {
        height: 60px;
        min-height: 60px;
        max-height: 60px;
    }

    &[data-collapsed='true'] {
        align-items: center;
    }
}

.sideNavHeader {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $positive-spacing_050;
    flex: 1 0 0;
    align-self: stretch;
    transition: opacity 300ms;

    &[data-collapsed='true'] {
        padding: $positive-spacing_0;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;

        .sideNavHeaderTitleContainer {
            padding: $positive-spacing_050;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            gap: 0;
            align-self: auto;

            .sideNavHeaderTitle {
                gap: 0;
            }

            .sideNavHeaderIdentifier {
                flex: 0 0 auto;
                border-radius: $radius-s;
            }
        }
    }

    .sideNavHeaderTitleContainer {
        display: flex;
        padding: $positive-spacing_0 $positive-spacing_100;
        align-items: center;
        gap: $positive-spacing_100;
        flex: 1 0 0;
        align-self: stretch;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        max-height: 32px;
        transition: background 0.3s ease;

        &[href],
        &[role="button"] {
            cursor: pointer;

            &:hover {
                opacity: $opacity-100;
                background: var(--rte-side-nav-item-bg-hover);
            }
        }

        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 $width-xs var(--rte-side-nav-item-border-focus);
            background: var(--rte-side-nav-item-bg-hover);
            border-radius: 0;
        }

        .sideNavHeaderTitle {
            display: flex;
            align-items: center;
            gap: $positive-spacing_100;
            overflow: hidden;

            .sideNavHeaderIdentifier {
                @include typography-text-s-bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1 0 0;
                align-self: stretch;
                color: var(--rte-side-nav-item-label);
                text-align: center;
                user-select: none;
                background: var(--rte-side-nav-item-bg-pressed);
                min-width: 24px;
                height: 24px;
            }

            h1 {
                @include typography-heading-xs;
                user-select: none;
                align-self: stretch;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: opacity 300ms;

                &[data-hidden='true'] {
                    opacity: 0;
                    max-height: 0;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .sideNavHeaderVersion {
        display: flex;
        position: absolute;
        bottom: $positive-spacing_050;
        right: $positive-spacing_100;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: $positive-spacing_0;
        align-self: stretch;
        @include typography-text-xs;
        transition: opacity 300ms, max-height 300ms;
        max-height: 50px;
        overflow: hidden;
        opacity: 1;

        &[data-hidden='true'] {
            opacity: 0;
            max-height: 0;
            padding: 0;
            margin: 0;
        }
    }
}

.sideNavBody {
    display: flex;
    padding: $positive-spacing_200 $positive-spacing_100;
    flex-direction: column;
    align-items: flex-start;
    gap: $positive-spacing_100;
    flex: 1 0 0;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: $positive-spacing_100;
    }
}

.sideNavFooterContainer {
    padding: $positive-spacing_100;

    .sideNavFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        margin-top: $positive-spacing_050;
    }
}

.sideNavFooterItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $positive-spacing_100;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $positive-spacing_100;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.collapsibleSection {
    display: flex;
    padding: $positive-spacing_050 $positive-spacing_0;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
}