@use '@design-system-rte/core/design-tokens/main.scss' as *;

.sideNavContainer {
    height: 100%;
    border-right: 1px solid var(--color-border-primary);
    padding: $positive-spacing_0;
    position: relative;
    display: flex;
}

.sideNav {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: $positive-spacing_0;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: var(--border-radius-0);
    transition: min-width 300ms;
}

.sideNavHeader {
    display: flex;
    padding: $positive-spacing_250 $positive-spacing_100 $positive-spacing_050 $positive-spacing_100;
    flex-direction: column;
    align-items: flex-start;
    gap: $positive-spacing_050;
    flex: 1 0 0;
    align-self: stretch;
    
    .sideNavHeaderTitle {
        display: flex;
        padding: $positive-spacing_0 $positive-spacing_100;
        align-items: center;
        gap: $positive-spacing_100;
        flex: 1 0 0;
        align-self: stretch;

        h1 {
            @include typography-heading-xs;
            user-select: none;
        }
    }
}

.sideNavBody {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: $positive-spacing_200 $positive-spacing_100;
    background-color: var(--content-secondary);
}

.sideNavFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: $positive-spacing_100;
}

.collapsibleSection {
    width: 100%;
    box-sizing: border-box;
    padding: $positive-spacing_0 $positive-spacing_100;
}