@use '@design-system-rte/core/design-tokens/main-internal.scss' as *;

:host {
  pointer-events: none;
  display: flex;
}

.rte-tabitem {
  @include typography-text-m;
  display: flex;
  padding: $positive-spacing_150;
  justify-content: center;
  align-items: center;
  gap: $positive-spacing_150;
  background: transparent;
  color: var(--content-secondary);
  cursor: pointer;
  border: none;
  text-align: left;
  flex-shrink: 0;
  margin-left: 2px;
  height: 100%;
  pointer-events: auto;

  &[data-inverted='true'] {
    color: var(--content-primary-inverse);
  }

  &[data-direction='vertical'] {
    flex-shrink: 1;
    margin-left: 0px;
  }

  &[data-hidden='true'] {
    visibility: hidden;
  }

  &[data-selected='true'],
  &:hover {
    &:not([data-disabled='true']) {
      @include typography-text-m-bold;
    }
  }

  &[data-disabled='true'] {
    color: var(--content-disabled);
    cursor: not-allowed;
  }

  &[data-compact-spacing='true'] {
    padding: $positive-spacing_050 $positive-spacing_150;
  }

  &:focus-visible {
    z-index: 1;
    outline: 2px solid var(--border-brand-focused);
  }
}

.rte-tab-hover-indicator {
  &[data-disabled='true'] {
    display: none;
  }

  position: absolute;
  top: 4px;
  height: 2px;
  width: 2px;
  background: var(--background-neutral-regular-hover);
  opacity: 0;
  transition: left 0.2s ease,
  width 0.2s ease;
  z-index: $level-1;
}