name: Main CI

on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  global-install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache node_modules and Vite cache
        id: cache-packages
        uses: actions/cache@v4
        with:
          path: |
            ./node_modules
            ./packages/react/node_modules
            ./packages/react/.vite
            ./packages/angular/node_modules
            ./packages/angular/.vite
          key: deps-node20-main-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            deps-node20-main-

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Cache icons
        id: cache-icons
        uses: actions/cache@v4
        with:
          path: |
            ./packages/react/src/components/icon/generated
            ./packages/angular/projects/ds-rte-lib/src/lib/assets/icons
          key: icons-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Generate icons
        run: npm run generate:icons

      - name: Build Core Package
        working-directory: packages/core
        run: npm run build

      - name: Cache Build Core
        id: cache-build-core
        uses: actions/cache@v4
        with:
          path: |
            ./packages/core/css
          key: build-core-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

  quality-react:
    runs-on: ubuntu-latest
    needs: global-install
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Restore cache node_modules and Vite cache
        uses: actions/cache@v4
        with:
          path: |
            ./node_modules
            ./packages/react/node_modules
            ./packages/react/.vite
            ./packages/angular/node_modules
            ./packages/angular/.vite
          key: deps-node20-main-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            deps-node20-main-

      - name: Restore cache icons
        uses: actions/cache@v4
        with:
          path: |
            ./packages/react/src/components/icon/generated
            ./packages/angular/projects/ds-rte-lib/src/lib/assets/icons
          key: icons-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Restore cache build core
        uses: actions/cache@v4
        with:
          path: |
            ./packages/core/css
          key: build-core-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Restore cache build core
        uses: actions/cache@v4
        with:
          path: |
            ./packages/core/css
          key: build-core-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Lint
        working-directory: packages/react
        run: npm run lint:fix

      - name: Build React Package
        working-directory: packages/react
        run: npm run build

      - name: Run tests
        working-directory: packages/react
        run: npm run test:ci

  build-react:
    runs-on: ubuntu-latest
    needs: quality-react
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Restore cache node_modules and Vite cache
        uses: actions/cache@v4
        with:
          path: |
            ./node_modules
            ./packages/react/node_modules
            ./packages/react/.vite
            ./packages/angular/node_modules
            ./packages/angular/.vite
          key: deps-node20-main-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            deps-node20-main-

      - name: Restore cache icons
        uses: actions/cache@v4
        with:
          path: |
            ./packages/react/src/components/icon/generated
            ./packages/angular/projects/ds-rte-lib/src/lib/assets/icons
          key: icons-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            icons

      - name: Cache react build output
        uses: actions/cache@v4
        with:
          path: |
            ./packages/react/dist
          key: react-build-${{ hashFiles('./packages/react/dist/react.js') }}

      - name: Build project
        working-directory: packages/react
        run: npm run build

  quality-angular:
    runs-on: ubuntu-latest
    needs: global-install
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Restore cache node_modules and Vite cache
        uses: actions/cache@v4
        with:
          path: |
            ./node_modules
            ./packages/react/node_modules
            ./packages/react/.vite
            ./packages/angular/node_modules
            ./packages/angular/.vite
          key: deps-node20-main-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            deps-node20-main-

      - name: Restore cache icons
        uses: actions/cache@v4
        with:
          path: |
            ./packages/react/src/components/icon/generated
            ./packages/angular/projects/ds-rte-lib/src/lib/assets/icons
          key: icons-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Restore cache build core
        uses: actions/cache@v4
        with:
          path: |
            ./packages/core/css
          key: build-core-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Restore cache build core
        uses: actions/cache@v4
        with:
          path: |
            ./packages/core/css
          key: build-core-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Lint
        working-directory: packages/react
        run: npm run lint:fix

      - name: Run tests
        working-directory: packages/angular
        run: npm run test:ci

  build-angular:
    runs-on: ubuntu-latest
    needs: quality-angular
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Restore cache node_modules and Vite cache
        uses: actions/cache@v4
        with:
          path: |
            ./node_modules
            ./packages/react/node_modules
            ./packages/react/.vite
            ./packages/angular/node_modules
            ./packages/angular/.vite
          key: deps-node20-main-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            deps-node20-main-

      - name: Restore cache icons
        uses: actions/cache@v4
        with:
          path: |
            ./packages/react/src/components/icon/generated
            ./packages/angular/projects/ds-rte-lib/src/lib/assets/icons
          key: icons-${{ hashFiles('package-lock.json') }}-${{ github.sha }}

      - name: Build project
        working-directory: packages/angular
        run: npm run build

  prepare-release:
    needs: [build-react, build-angular]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Create/Update Release Pull Request
        id: changesets
        uses: changesets/action@v1.5.3
        with:
          title: "chore(release): update package versions"
          commit: "chore(release): update package versions"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate changelog
        run: npm run changelog

      - name: Commit changelog to PR
        if: steps.changesets.outputs.pullRequestNumber
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "chore: update main changelog" --no-verify || exit 0
          git push origin -u changeset-release/main

      - name: Trigger Storybook Preview
        run: |
          gh workflow run storybook-preview.yaml \
            --ref main \
            --field branch=changeset-release/main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
