$rte-primary: #00A6D9;

$border-primary-hl_default: #225082;

$background-primary-hl_lowest: #2964A0;

$background-primary-hl_low: #225082;

$text-primary-hl_default: #F9FBFD;

$border-primary-hl_secondary: #1F3B5B;

$background-primary-hl_high: #214770;

$text-neutral-tertiary: #626769;

$border-neutral-tertiary: #E6E7E8;

$background-neutral-high: #F3F4F4;