@use 'colors' as *;

@mixin typhography-default {
    color: $text-primary-hl_default;
    font-feature-settings: 'liga' off, 'clig' off;
    
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
