<div
  class="rte-toast {{ type() }} {{ position() }} {{ alignment() }}"
  role="status"
  ref="{ref}"
  [ngClass]="{ open: isOpen() }"
>
  <div class="rte-toast-content">
    @if (displayLeftIcon()) {
      <rte-icon
        class="rte-toast-icon"
        aria-hidden="true"
        [name]="defaultIconName()"
        [size]="iconSize"
      />
    } @else {
      @if (displayCustomIcon()) {
        <rte-icon
          class="rte-toast-icon"
          aria-hidden="true"
          [name]="iconName()!"
          [size]="iconSize"
        />
      }
    }
    <span class="rte-toast-message">{{ message() }}</span>
  </div>
  @if (displayActionButton()) {
    <button
      rteButton
      rteButtonVariant="text"
      class="rte-toast-action-button"
      (click)="onClickActionButton()"
    >
      {{ actionButtonLabel() }}
    </button>
  }
  @if (closable()) {
    <rte-icon-button
      name="close"
      [attr.data-testid]="'toast-close-button'"
      [variant]="type() === 'neutral' ? 'reverse' : 'neutral'"
      (click)="clickCloseButton()"
    />
  }
</div>
